﻿@page
@model neuronsEdu.Pages.Admin.Index1Model
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Neurons</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img class="logo-image" src="~/assets/images/Neurons_Logo.png" height="81px" />
        </div>
        <section>
            <div class="container">
                <form method="post">
                    <div class="text-danger">
                        <div class="card">
                            <div class="card-body login-card-body">
                                <p class="login-box-msg">Please SignIn</p>
                                <div class="form-group row">
                                    <div class="col-4">
                                        <level>Username</level>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" asp-for="userlogins.User_email" placeholder="Username" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <level>Password</level>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" asp-for="userlogins.User_password" placeholder="Password" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    @*<button asp-page-handler="LogIn" class="btn btn-primary btn-block">Log in</button>*@
                                    <input type="submit" class="btn btn-primary btn-block" value="Login" />
                                    @*<a class="btn btn-primary btn-block" asp-page="/Admin/Index">Sign In</a>*@
                                </div>
                            </div>
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </form>
            </div>
        </section>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
