﻿@page
@model neuronsEdu.Pages.Admin.univercitydetailmanagementModel
@{
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Univercity Detail</h1>
            </div><!-- /.col -->           
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Insert/Update univercity details</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <input type="hidden" asp-for="univercity.UnivercityId" />
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" id="inputName" asp-for="univercity.Name" placeholder="Client name">
                                </div>
                                <div class="col-6">
                                    <label for="inputCompany">Code</label>
                                    <input type="text" class="form-control" id="inputUnivercityCode" asp-for="univercity.UnivercityCode" placeholder="Company">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="inputName">Country</label>
                                    <input type="text" class="form-control" id="inputCountry" asp-for="univercity.Country" placeholder="Contact number">
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Side Html</label>
                                <input type="text" class="form-control" id="inputSideHtml" asp-for="univercity.SideHtml" placeholder="Univercity Attributes">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Detail Html</label>
                                <input type="text" class="form-control" id="inputDetailHtml" asp-for="univercity.DetailHtml" placeholder="Univercity Detailed Content">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Images Html</label>
                                <input type="text" class="form-control" id="inputSliderImages" asp-for="univercity.sliderImagesHtml" placeholder="Univercity Image Content">
                            </div>                            
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info form-control">Save</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
                <!-- Default box -->
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>