﻿
@page
@model neuronsEdu.Pages.Admin.UnivercityDetailListModel
@{
}

<script>
    function showModal(modalId) {
        $('#' + modalId).modal('show');
    }

    function hideModal(modalId) {
        $('#' + modalId).modal('hide');
    }

    function loadClientAddresses(clientId) {

    }
</script>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Univercities List Edit/Delete</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Univercity List</li>
                </ol>*@
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <form method="post">
            <div class="row">
                <div class="col-sm-12">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Univercity List</h3>
                        </div>
                        <div class="card-body p-0" style="text-align:center; margin-top:5px;">
                            @if (Model.univercities.Count() > 0)
                            {
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">
                                                #
                                            </th>
                                            <th style="width: 50%">
                                                Name
                                            </th>
                                            <th style="width: 30%">
                                                Country
                                            </th>
                                            <th>
                                                Code
                                            </th>
                                            <th style="width: 19%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var univercity in Model.univercities)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => univercity.UnivercityId)
                                                </td>
                                                <td>
                                                    <a>
                                                        @Html.DisplayFor(m => univercity.Name)
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => univercity.Country)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => univercity.UnivercityCode)
                                                </td>
                                                <td class="project-actions text-right">                                                   
                                                    <a asp-page="univercitydetailmanagement" asp-route-univercityCode="@univercity.UnivercityCode" class="btn btn-info btn-xs">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                    <button type="submit" asp-page-handler="Delete" asp-route-id="@univercity.UnivercityId" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete univercity:@univercity.Name')">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No any univercity is registered.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" id="modal-addresses">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="headerAddress" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-12">
                            <form method="post">
                                <input type="hidden" />
                                <div class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Contact No.</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Client Name</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>City</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6 offset-3">
                                        <input type="submit" value="Save" class="btn btn-primary form-control" />
                                    </div>
                                    <div class="col-3">
                                        <a href="#" class="btn btn-success form-control">Back to List</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal-addresses">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal" id="modal-contacts">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="headerAddress" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-12">
                            <form method="post">
                                <input type="hidden" />
                                <div class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Contact No.</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Client Name</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>City</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" />
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3 offset-3">
                                        <input type="submit" value="Save" class="btn btn-primary form-control" />
                                    </div>
                                    <div class="col-6">
                                        <a href="#" class="btn btn-success form-control">Back to List</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>