﻿<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8"
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBBS IN ABROAD</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicons/favicon.ico">
    <link rel="mask-icon" href="../assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileImage" content="../assets/images/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <!--  --><!--    Stylesheets-->
    <!=============================================-->
    <!-- Default stylesheets-->

    <link href="../assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../assets/lib/iconsmind/iconsmind.css" rel="stylesheet">
    <link href="../../code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="../assets/lib/hamburgers/dist/hamburgers.min.css" rel="stylesheet">
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../assets/lib/remodal/dist/remodal.css" rel="stylesheet">
    <link href="../assets/lib/remodal/dist/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">

    <!-- Main stylesheet and color file-->


    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <style>
        p {
            text-align: justify;
        }

        .znav-container ul {
            margin-left: 3.8rem;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".inner-link" data-offset="60">
    <script type="text/javascript">var npf_d = 'https://neuronsedu.nopaperforms.com'; var npf_c = '4038'; var npf_m = '1'; var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = "https://track.nopaperforms.com/js/track.js"; document.body.appendChild(s);</script>
    <main>
        <section class="background-primary py-3 d-none d-sm-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto d-none d-lg-block">
                        <span class="fa fa fa-envelope color-warning fw-800 icon-position-fix">
                        </span>
                        <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">info@neuronsedu.com</p>
                    </div>
                    <!--  <div class="col-auto ml-md-auto order-md-2 d-none d-sm-block">
                        <span class="fa fa-clock-o color-warning fw-800 icon-position-fix"></span>
                        <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">Mon-Sat, 10:00-19.00. Sunday CLOSED</p>
                    </div>-->
                    <div class="col-auto">
                        <span class="fa fa-phone color-warning fw-800 icon-position-fix">
                        </span>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700" href="#">(+91) 995 089 6262, 873 995 5555</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="znav-white znav-container sticky-top navbar-Neurons Education" id="znav-container">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand overflow-hidden pr-3" asp-page="index">
                        <img src="assets/images/Neurons_Logo.png" alt="" style="height:72px" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger hamburger--emphatic">
                            <div class="hamburger-box">
                                <div class="hamburger-inner">
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav fs-0 fw-700">
                            <li><a asp-page="index">HOME</a></li>
                            <li><a asp-page="about">COMPANY</a></li>
                            <li>
                                <a asp-page="mbbsinabroad">ABROAD</a>
                            </li>
                            <li>
                                <a href="JavaScript:void(0)">STUDENTS</a>
                                <ul class="dropdown fs--1">
                                    <li><a href="https://www.nmc.org.in/">NMC/MCI</a></li>
                                    <li><a href="#">NEET Exam</a></li>
                                    <li><a href="#">NMAT Exam</a></li>
                                    <li><a href="#">FMGE Exam</a></li>
                                    <li><a href="#">NEXT Exam</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="JavaScript:void(0)">GALLARY</a>
                                <ul class="dropdown fs--1">
                                    <li><a href="#">Photo Gallary</a></li>
                                    <li><a href="#">Airport Gallary</a></li>
                                    <li><a href="#">Abroad Gallary</a></li>
                                    <li><a href="#">Video Gallery</a></li>
                                </ul>
                            </li>
                            <li><a asp-page="newsroom">NEWS</a></li>
                            <li><a asp-page="contact">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        @RenderBody()

        <section style="background-color: #3D4C6F">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="background-primary color-white p-5 p-lg-6 radius-secondary">
                            <h4 class="color-white fs-1 fs-lg-2 mb-1">Sign up for email alerts</h4>
                            <p class="color-white">Stay current with our latest insights</p>
                            <form class="mt-4">
                                <div class="row align-items-center">
                                    <div class="col-md-7 pr-md-0">
                                        <div class="input-group">
                                            <input class="form-control" type="email" placeholder="Enter Email Here" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 mt-3 mt-md-0">
                                        <button class="btn btn-warning btn-block" type="submit">
                                            <span class="color-primary fw-600">Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-6 col-lg-4 color-white ml-lg-auto">
                                <h5 class="color-white">Important Link</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-3"><a class="color-white" href="#">NMC/MCI</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NEET Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NMAT Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">FMGE Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NEXT Exam</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-sm-5 ml-sm-auto">
                                <a href="https://www.linkedin.com/in/neurons-education-a91a40133/">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-linkedin color-white"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Linkedin</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://twitter.com/neuronsedu">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-twitter color-white"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Twitter</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://www.facebook.com/NeuronsEducation">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-facebook color-white">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Facebook</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://www.instagram.com/neuronsedu/">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-instagram color-white">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Instagram</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <section class="background-primary text-center py-4">
            <div class="container">
                <div class="row align-items-center" style="opacity: 0.85">
                    <div class="col-sm-3 text-sm-left">
                        <a href="index.html">
                            <img src="assets/images/Neurons_Logo_White.png" alt="" style="height:61px" />
                        </a>
                    </div>
                    <div class="col-sm-6 mt-3 mt-sm-0">
                        <p class="color-white lh-6 mb-0 fw-600">&copy; Copyright 2011-2021 Neurons Education LLP</p>
                    </div><div class="col text-sm-right mt-3 mt-sm-0">
                        <a class="color-white" href="https://www.kalkisoftware.com/" target="_blank"> Designed by Kalki Software</a>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
    </main>
    <a class="whats-app" href="https://wa.me/9950896262" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!--------------------------------------------->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/610bc06a649e0a0a5ccfaa5c/1fcauf8m5';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--    JavaScripts-->
    <!--    =============================================-->
    <script src="../cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="../assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="../assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../assets/lib/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="../assets/lib/CustomEase.min.js"></script>
    <script src="../assets/js/config.js"></script>
    <script src="../assets/js/zanimation.js"></script>
    <script src="../assets/js/inertia.js"></script>
    <!-- Hotjar Tracking Code for http://kalkisoftware.com/tryelixir-->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 710415, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-76729372-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-76729372-5');
    </script>
    <script src="../assets/lib/remodal/dist/remodal.js"></script>
    <script src="../assets/js/core.js"></script>
    <script src="../assets/js/main.js"></script>

    <style>
        .npfWidget-249018df2e55bbbfa2ad419f91c0d54e.npfWidgetButton {
            transform: rotate(270deg);
            position: fixed;
            top: 45%;
            right: -4%;
            z-index: 999;
            background-color: #d92218;
            border-color: #d92218;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 18px;
            color: #fff;
            line-height: 1.33;
            padding: 8px 18px;
            font-weight: bold;
            cursor: pointer;
            border: 0;
        }

        .npfTitle-249018df2e55bbbfa2ad419f91c0d54e {
            font-size: 22px;
            text-align: center;
        }

        div#popup-249018df2e55bbbfa2ad419f91c0d54e {
            z-index: 99999;
        }
    </style>

    <button type="button" class="npfWidgetButton npfWidget-249018df2e55bbbfa2ad419f91c0d54e">Enquire Now</button>

    <script src="https://cdn.npfs.co/js/widget/npfwpopup.js"></script>
    <script>let npfW249018df2e55bbbfa2ad419f91c0d54e = new NpfWidgetsInit({ 'widgetId': '249018df2e55bbbfa2ad419f91c0d54e', 'baseurl': 'widgets.nopaperforms.com', 'formTitle': 'Enquiry Form', 'titleColor': '#FF0033', 'backgroundColor': '#ddd', 'iframeHeight': '500px', 'buttonbgColor': '#ff0000', 'buttonTextColor': '#FFF', });</script>
</body>
</html>
