.abtitle {
    color: #2e3192;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: normal;
}

.otherInfo p {
    font-size: 13px;
    margin-bottom: 8px;
}

.otherInfo p strong {
    display: block;
    color: #f87f38;
    font-size: 17px;
}

.buttonBox .btn {
    margin-right: 6px;
    padding: 10px;
    font-size: 14px;
}

.btn.theme-btn {
    background: #f87f38;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 6px 22px;
    border-radius: 4px;
}

a.btn.whatsappBtn {
    background: #39bb19;
}

.background-12 {
    background-color: white !important;
}

.btn.theme-btn.blueBtn {
    background: #2e3192;
}
.univercityColumn .otherInfo p {
    font-size: 13px;
    margin-bottom: 8px;
}

.univercityColumn .buttonBox {
    margin-top: 25px;
}

    .univercityColumn .buttonBox .btn {
        margin-right: 6px;
        padding: 10px 22px;
    }

a.btn.whatsappBtn {
    background: #39bb19;
}

.bottomInfo {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

     .bottomInfo .column {
        width: 48%;
        float: left;
    }

   .bottomInfo .location.column {
        border-left: 1px solid #dedede;
        padding-left: 23px;
    }

    .bottomInfo .column img.icon {
        float: left;
        width: 52px;
    }

    .bottomInfo .column .text {
        margin-left: 70px;
    }

       .bottomInfo .column .text p {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin: 0;
        }

        .bottomInfo .column .text small {
            font-size: 12px;
            color: #7b7b7b;
        }


 .eligibility {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #efefef;
}

    .eligibility strong {
        color: #000;
        text-transform: uppercase;
    }
.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 15px;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}
.lightbox-gallery {
    background-image: linear-gradient(#4A148C, #E53935);
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

    .lightbox-gallery p {
        color: #fff
    }

    .lightbox-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: #fff
    }

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

    .lightbox-gallery .intro p {
        margin-bottom: 0
    }

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}