﻿@page
@model neuronsEdu.Pages.aboutModel
@{
}

<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(~/assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>About</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <!-- <div class="row no-gutters">
             <div class="col-lg-4 py-3 py-lg-0" style="min-height:400px; background-position: top">
                 <div class="background-holder radius-tl-secondary radius-bl-lg-secondary radius-tr-secondary radius-tr-lg-0" style="background-image:url(~/assets/images/ceo.jpg);"></div>

             </div>
             <div class="col-lg-8 px-5 py-6 my-lg-0 radius-tr-lg-secondary radius-br-secondary radius-bl-secondary radius-bl-lg-0">
                 <div class="d-flex align-items-center h-100">
                     <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                         <h5 data-zanim='{"delay":0}'>Message From CEO</h5>
                         <p class="my-4" data-zanim='{"delay":0.1}'>Neurons Education co-operates with clients in solving the hardest problems they face in their businesses—and the world. We do this by channeling the diversity of our people and their thinking.</p>
                         <img data-zanim='{"delay":0.2}' src="~/assets/images/signature.png" alt="" />
                         <h5 class="text-uppercase mt-3 fw-500 mb-1" data-zanim='{"delay":0.3}'>renal scott</h5>
                         <h6 class="color-7 fw-600" data-zanim='{"delay":0.4}'>UK office</h6>
                     </div>
                 </div>
             </div>
         </div>-->
        <div class="row mt-2">
            <div class="col">
                <h3 class="text-center fs-2 fs-md-3">Company Overview</h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
            </div>
            <div class="col-12">
                <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>About Neurons</h5>
                    <p class="mt-3">NEURONS EDUCATIONAL SERVICES is a renowned educational organization established in 2009 with the aim to mentor students to shape their future for a better tomorrow. Neurons Educational Services is the fastest growing organization in our country that provides guidance to the students for their better future and aspirations. Neurons Educational Services provides one-to-one services. Our aim is to create awareness about medical education and its wide area of learning which can shape someone's future.</p>
                    <p class="column-lg-2 dropcap">NEURONS EDUCATIONAL SERVICES has been a pioneer in helping the students to choose an appropriate university from last 11 years. At NES, we trust in giving in-depth details and knowledge about study patterns and study quality in the top Medical Universities in Abroad. We are good at helping the students to select with the best country and universities which are best fitted to their career and which hold the potential of fulfilling their dreams. We provide the simplest medical admission guidance services and believe in a personalized approach to the medical aspirants. Our transparent work policies and good services make us best in the field of the Education Industry. It’s time to follow your dreams! Let us join our hands into a brighter world. We’ll assist you to take a decision for your future in shaping yourself.</p>
                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>

                    <h5>Our Mission</h5>
                    <p>&#9992; To promote and provide meaningful and quality education to all aspirants at affordable costs in Universities that are approved and recognized by both MCI and WHO.</p>
                    <p>&#9992; To make awareness about the education opportunities available in technical specialities and MBBS in Abroad.</p>

                    <h5>Our Vision</h5>
                    <p>NEURONS EDUCATION has the vision of turning your dream into reality by Reaching out to the aspiring students and provides them with the required guidance and support to fulfil their dreams</p>


                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="color-white mb-0">Core <br class="d-md-none" />Value</h4><br />


                <p class="color-white">&#9992; To provide students and parents focused extraordinary customer services.</p>
                <p class="color-white">&#9992; Transparency in dealing by way of providing accurate and comprehensive information to the clientele.</p>
                <p class="color-white">&#9992; Providing Timely and effective communication whenever and wherever required and needed.</p>
                <p class="color-white">&#9992; Achieving Excellence in whatever we do through the creativity and innovation of the services that we offer.</p>
                <p class="color-white">&#9992; Providing a conducive working environment for our employees who are our assets in maintaining a positive work, culture, and healthy interactions with our clients.</p>


            </div>
            <div class="col-md-4">
                <img src="~/assets/images/img/kalki_partners.png" />
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section>
    <div class="container">
        <h2 class="text-center" style="color: #000;">What We Do For You</h2>
        <center><div class="border-shep text-center"></div></center>
        <div class="row">
            <div class="col-lg-3 text-center">
                <div style="padding: 10px; background-color: #3b72e6;height:300px; border-radius:15px 50px">
                    <i class="fa fa-handshake-o" id="user" style="font-size:51px"></i>
                    <h4 style="color: #fff !important;">Counselling Assistance </h4>
                    <p style="color: #fff;">Our experienced counsellors provide every information about the college to those students who are interested to get admission in MCI approved medical colleges in abroad. </p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div style="padding: 10px; background-color: #f69401; height: 300px; border-radius: 15px 50px ">
                    <i class="fa fa-users" id="user" style="font-size:51px"></i>
                    <h4 style="color: #fff !important;">Admission Assistance</h4>
                    <p style="color: #fff;">Avoid hurdles and lengthy admission process on us. We will manage your entire admission process on your behalf and will provide you admission letter in less time. </p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div style="padding: 10px; background-color: #f02973; height: 300px; border-radius: 15px 45px ">
                    <i class="fa fa-globe" id="user" style="font-size:51px"></i>
                    <h4 style="color: #fff !important;">VISA<br /> Assistance</h4>
                    <p style="color: #fff;">MBBS Admission abroad will provide you study visa so students do not need to get stressed for it.</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div style="padding: 10px; background-color: #00e847; height: 300px; border-radius: 15px 50px ">
                    <i class="fa fa-taxi" id="user" style="font-size:51px"></i>
                    <h4 style="color: #fff !important;">Travel<br /> assistance</h4>
                    <p style="color: #fff;">We provide the entire travelling assistance. Airport drop-off and Air ticket will be offered by us.</p>
                </div>
            </div>
        </div>
    </div>
</section>
