﻿@page
@model neuronsEdu.Pages.Al_Farabi_Kazakh_National_UniversityModel
@{
}

<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Al-Farabi Kazakh National University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/MBBS/Al_Farabi_Kazakh_National_University.jpg" alt="MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Al-Farabi Kazakh National University">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Al-Farabi Kazakh National University</h5>
                        <section>
                            <p>Al-Farabi Kazakh National University is the leading institution of the system of higher education of the Republic of Kazakhstan, which was the first to pass the state certification and which has justified its right to realize academic activity on all specialties and at all levels.</p>
                            <p>Al-Farabi KazNU is the leader of the General rating of the universities of Kazakhstan, which was the first laureate in the history of the country of the Presidential award of the Republic of Kazakhstan “For achievements in the area of quality”, a laureate of the Award of the CIS for achievements in the area of quality and services . Our university, being a member of the International Association of universities and the Co-founder of the Eurasian Association of universities, was the first among the universities of Kazakhstan and countries of Central Asia which has signed the Great Charter of Universities in Bologna; it has successfully passed the international certification on the correspondence to the system of quality management (SQM), the requirements of international standards ISO 9000:2000 and has obtained the certifications from the largest global certification centers – the International Certification System IQNET.</p>
                            <p>The University has an enormous educational, scientific, spiritually educational, innovative and production potential which is aimed to the training of specialists of the highest qualification, further integration into the global educational space, development of fundamental and applied research, their implementation into production.</p>
                            <p>Today al-Farabi KazNU offers you a wide range of specialties. The university consists of 16 functioning faculties, 67 departments, 32 scientific research institutes and centers, a techno-park; more than 2000 professors, doctors, scientific candidates and PhD’s, more than 100 academicians of the largest academies, more than 40 honored figures of the Republic of Kazakhstan, about 40 laureates of State and nominal awards of RK and 40 laureates of the young scientists’ awards, 47 fellows of state scientific fellowships. More than 18000 students and masters at the multilevel system of higher professional education study in the university. We cooperate with 418 largest international universities of the world on the realization of joint international educational programs, exchange programs for students and internship.</p>
                            <hr />
                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>