﻿@page
@model neuronsEdu.Pages.alumniModel
@{
}

<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(~/assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Alumni</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Alumni</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-3.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Reenal Scott</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Advertising Consultant</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Reenal Scott is the Founder and CEO of Neurons Education, which he started from his dorm room in 2013 with 3 people only.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-4.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Lily Anderson</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Activation Consultant</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Lily leads Neurons Education UK and oversees the company’s Customer Operations teams supporting millions ofr users.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-5.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Thomas Anderson</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Change Management Consultant</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>As the VP of People, Thomas’s focus lies in the development and optimization of talent retention.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-6.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Legartha Mantana</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Brand Management Consultant</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>As General Counsel of Neurons Education, Tony oversees global legal activities and policies across all aspects.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-7.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>John Snow</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Business Analyst</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>John has overseen the meteoric growth while protecting scaling its uniquely creative and culture.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="~/assets/images/portrait-1.jpg" alt="Profile Picture" />
                    <div class="px-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Ragner Lothbrok</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-400 color-7" data-zanim='{"delay":0.1}'>Business Consultant</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim='{"delay":0.2}'>Ragner, SVP of Engineering, oversees Neurons Education’s vast engineering organization which drives the core programming.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class=" background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md">
                <h4 class="color-white mb-0">If you have any query related investment... <br class="d-md-none" />we are available 24/7</h4>
            </div>
            <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-white btn-capsule" href="contact.html">Contact Us</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>