﻿@page
@model neuronsEdu.Pages.ama_school_of_medicineModel
@{
}

<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>  AMA School of Medicine (AMASOM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/img/ama_school_of_medicine_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p align="justify">The <strong>AMA School of Medicine</strong> is the school of AMA Education System for medical education established in the year 2008 and is located in the heart of the city of Makati, Philippines. It is recognized by several major international organizations in the world, including the World Health Organization, National Medical Commission.&nbsp;</p>
                            <p align="justify">The <strong>AMASOM</strong> has several facilities like advanced laboratories for the enhancement of the student’s practical skills and clinical knowledge. The institute accepts admission in MBBS courses from many countries and the medium of education used is in the English language. The MD degree at AMASOM is recognized by the <b><a href="#">NMC</a></b> as equivalent to the MBBS degree similarly offered in the UK, Australia, India, and other Commonwealth countries.&nbsp;</p>
                            <p align="justify">After completing <strong><a href="#">MBBS in Philippines</a></strong>, Indian students will be given a license to practice in India similar to the MBBS doctors from India after completion of licensing formalities with the MCI. The medical curriculum also applies various teaching-learning and assessment approaches to attain the educational goals.</p>
                            <ul>
                                <li> &nbsp;Four-year multicultural curriculum.&nbsp;</li>
                                <li> &nbsp;An ideal faculty-to-students ratio.</li>
                                <li> &nbsp;Advanced method of teaching and learning;</li>
                                <li> &nbsp;Non-traditional lecture and instructional modules</li>
                                <li> &nbsp;Affordable, flexible payment schemes</li>
                                <li> &nbsp;Affiliated with government hospitals and private health institutions</li>
                                <li> &nbsp;Outstanding facilities and resources conducive to learning</li>
                            </ul>
                            <h3>Highlights</h3>
                            <ul>
                                <li>Founded Year – 2008</li>
                                <li>Recognized By – NMC</li>
                                <li>Popular Course – MBBS &amp; MD/ MS</li>
                                <li>Exam – NEET &amp; NMAT</li>
                                <li>Curriculum Medium – English Language</li>
                                <li>Location – Makati, Philippines</li>
                            </ul>
                            <h3>Why choose AMA School of Medicine Philippines?</h3>
                            <ul class="ulweb">
                                <li> &nbsp;Standard education system&nbsp;</li>
                                <li> &nbsp;Affordable tuition fee and housing fee</li>
                                <li> &nbsp;AMASOM is approved by National Medical Commission&nbsp;</li>
                                <li> &nbsp;Separate and standard housing arrangements for boys and girls</li>
                                <li> &nbsp;Spacious library and highly upgraded laboratories.</li>
                                <li> &nbsp;Experienced and Trained teachers</li>
                                <li> &nbsp;Research opportunity in well-named hospitals of the city</li>
                                <li> &nbsp;Proper security for Students who are studying here</li>
                                <li> &nbsp;Standard accommodation facility</li>
                                <li> &nbsp;Ama College is in single building so student don't required to travel.</li>
                                <li> &nbsp;Internationally working opportunity.</li>
                            </ul>
                            <h3>AMA School of Medicine Ranking</h3>
                            <p align="justify">The <strong>ranking of AMA School of Medicine</strong> is impressive in comparison to other medical institutes of the country. Several agencies have given a decent place in the list published by them.&nbsp;</p>
                            <h2>AMA School of Medicine Fee Structure</h2>
                            <p align="justify">The affordability of<strong> AMA School of Medicine Fee</strong> is the key reason to choose this university to study <strong>MBBS in Philippines</strong>. The below-mentioned structure contains information about the tuition fee, mess fee and other important expenses.</p>
                            <p align="justify">Apart from this, Approx. Php PESO 12,000/-per Month is the expense for housing and food during the stay here. We have mentioned the <strong>AMA School of Medicine Fee Structure</strong> below that has all the information such as its tuition fees, hostel, and food cost:</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <h4 class="text-center bg-blue">MBBS Fees Structure of Ama Medical College of Medicine</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>PROGRAM</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>ACADEMIC YEAR</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>FEES</strong><strong><br></strong><strong>(IN PHILIPPINES)</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>FEES</strong><strong><br></strong><strong>(IN INR)</strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">
                                            <p>PRE-MEDICINE</p>
                                        </td>
                                        <td>
                                            <p>FIRST YEAR</p>
                                        </td>
                                        <td>
                                            <p>3,00,000/-</p>
                                        </td>
                                        <td>
                                            <p>4,50,000/-</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>SECOND YEAR</p>
                                        </td>
                                        <td>
                                            <p>2,00,000/-</p>
                                        </td>
                                        <td>
                                            <p>3,00,000/-</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            <br><br><br>
                                            <p>DOCTOR OF MEDICINE</p>
                                        </td>
                                        <td>
                                            <p>FIRST YEAR</p>
                                        </td>
                                        <td>
                                            <p>2,50,000/-</p>
                                        </td>
                                        <td>
                                            <p>3,75,000/-</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>SECOND YEAR</p>
                                        </td>
                                        <td>
                                            <p>2,50,000/-</p>
                                        </td>
                                        <td>
                                            <p>3,75,000/-</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>THIRD YEAR</p>
                                        </td>
                                        <td>
                                            <p>1,50,000/-</p>
                                        </td>
                                        <td>
                                            <p>2,25,000/-</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>FOURTH YEAR</p>
                                        </td>
                                        <td>
                                            <p>1,00,000/-</p>
                                        </td>
                                        <td>
                                            <p>1,50,000/-</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Medical Courses offered in AMASOM</h3>
                            <p align="justify">The Institute offers a BS+MD course that is equal to the MBBS study programme. Also, the <strong><a href="#">NMAT exam</a></strong> is compulsory to pass by the applicant. In case, they get fail in the exam, they have to reappear and pass it. The course duration is 6 years in which 2 years is for BS Program and 4 years is for MD program.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="uploads/img/icon/BS-MD.webp" alt="BS+MD Course" width="80px;">
                                        <p class="text-center">BS+MD</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="uploads/img/icon/ama-MD-Courses.webp" alt="MD Courses" width="80px;">
                                        <p class="text-center">MD Courses</p>
                                    </div>
                                </div>
                            </div>
                            <h3>AMA School of Medicine Eligibility Criteria</h3>
                            <p align="justify">Students who are not able to fulfil the <strong>AMA School of Medicine Eligibility Criteria </strong>will be disqualified for the admission process. It is compulsory for them to complete it, as there is no entrance exam that will be conducted for shortlisting the candidates.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <h4 class="text-center bg-blue">AMA School of Medicine Eligibility Criteria</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Age Limit-</p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li> &nbsp;Only 17+ year aspirants are eligible for Study.&nbsp;</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Academics Qualification-&nbsp;</p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li> &nbsp;50% marks in the 12th board exam (intermediate board exam) is compulsory. 10% relaxation for reserve category students.</li>
                                                <li> &nbsp;Physics, Biology and chemistry should be one of the main subjects.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Exam</p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li> &nbsp;NEET Exam is Mandatory for Medical students of India.</li>
                                                <li> &nbsp;For MD Admission applicants need to score 40% in NMAT Exam.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h2>AMA School of Medicine Admission process&nbsp;</h2>
                            <p align="justify">Plans to study <strong><a href="https://www.neuronsedu.com/">MBBS from abroad</a></strong>? Then you can check the details of the <strong>AMA School of Medicine admission process.</strong> Also, you can connect with our expert counsellors to get more info on MBBS Admission in Philippines by <strong><a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal2">clicking here</a></strong>.</p>
                            <h3>Important Documents</h3>
                            <ul class="ulweb">
                                <li> &nbsp;10th Class marksheet&nbsp;</li>
                                <li> &nbsp;12th Class marksheet&nbsp;</li>
                                <li> &nbsp;NEET Scorecard&nbsp;</li>
                                <li> &nbsp;Original Passport</li>
                                <li> &nbsp;Birth Certificate&nbsp;</li>
                                <li> &nbsp;Passport size photo with visa format&nbsp;</li>
                                <li> &nbsp;Medical Report&nbsp;</li>
                                <li> &nbsp;Bank statement&nbsp;</li>
                            </ul>
                            <h3>Hostel and Amenities at AMA School of Medicine</h3>
                            <p align="justify">The hostels of AMASOM is furnished and have all the facilities required for international students. They have to inform the administration about their stay just after the successful admission. Also, the hostel fee will be paid separately from the tuition fees.</p>
                            <p align="justify">Bed, Chair, Table. Almirah and attached washroom will be provided in every room. It can be shared with two or three other students depending on the budget. Seniors are cooperative and support their juniors. The AMA School of Medicine campus is located near an urban area, so the market is nearby.</p>
                            <ul>
                                <li>Internet and Library</li>
                                <li>Gym and Sports</li>
                                <li>Medical</li>
                                <li>Nearby market</li>
                                <li>Separate boys and girls hostel</li>
                                <li>Common room</li>
                                <li>Common Kitchen</li>
                                <li>Laundry</li>
                                <li>Indian Food in the mess</li>
                            </ul>
                            <h3>Frequently Asked Questions</h3>
                            <h5>Que - What is the academic year for Philippines MBBS College?</h5>
                            <p align="justify"><strong>Ans -</strong> The <b><a href="#">National Eligibility cum Entrance Test</a></b> is an important part of the admission requirements of the college. It was made mandatory in the year 2018. Students can get exemption from the NEET Exam. The detailed process is in the video mentioned below.</p>
                            <h5>Que - Is the AMA School of Medicine (AMASOM) recognized by any organization?</h5>
                            <p align="justify"><strong>Ans -</strong> The <strong>AMA School of Medicine (AMASOM)</strong> is recognized by several international organizations such as the medical council of India and the world health organization.</p>
                            <h5>Que - Can I practice in India after studying MBBS in AMASOM?</h5>
                            <p align="justify"><strong>Ans -</strong> Yes, but students have to pass a national level exam for it. The <b><a href="#">foreign medical graduate exam</a></b> is compulsory test to pass by the medical candidate who wants to practice in India. There is no basic cut-off for getting a practice licence. Students can prepare for the exam at their home. Here are important tips for this.</p>
                            <h5>Que. What is AMA school of medicine eligibility criteria?</h5>
                            <p align="justify"><strong>Ans.</strong> It is compulsory that every applicant has to complete the eligibility criteria of AMA School of Medicine. Only 17 years or above old candidates who have 50% or more marks in the 12th board exam will be eligible for admission here. Also, he/she should have to pass the NEET Exam.</p>
                            <h5>Que. Why AMA School of Medicine is good for MBBS study?</h5>
                            <p align="justify"><strong>Ans.</strong> </p>
                            <ul class="ulweb">
                                <li> &nbsp;One of the top medical college in Philippines.</li>
                                <li> &nbsp;High standard of education.</li>
                                <li> &nbsp;Approved by NMC and WHO.</li>
                                <li> &nbsp;Easy admission without any donation.</li>
                                <li> &nbsp;Better accommodation during the course for foreign students.</li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>