﻿@page
@model neuronsEdu.Pages.Asian_Medical_InstituteModel
@{
}

<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Asian Medical Institute</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/MBBS/Asian_Medical_Institute.jpg" alt="MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Asian Medical Institute">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Asian Medical Institute</h5>
                        <section>
                            <p>Asian Medical Institute is a university situated in Kyrgyzstan. It is recognized by the Ministry of Education & Ministry of Health. It is also recognized by WHO and listed in the World Directory of Medical Schools. The faculty members are well-versed in English language. Each member holds a degree in Medicine and is either a M.D. or Ph.D. holder. Few members of the faculty are also specialist in their field.</p>
                            <p>Various doctors from Europe, UK & USA visit the campus to impart new technological advances in the field of medicine to our students. Multiple councils of medicine from the countries of India, Pakistan, Nepal, USA, Great Britain recognize the degree awarded by the Asian Medical Institute.</p>
                            <hr />
                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of Medicine</P>
                            <P>&#9992; Faculty of Dentistry</P>
                            <P>&#9992; Faculty of Nursing</P>
                            <P>&#9992; Faculty of Preparatory Course</P>

                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Asian_Medical_Institute_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>ISM has excellent facilities for sports and leisure. There are various extra-curricular activities which include libraries, internet rooms, sport sections, theatres. The faculty of ISM conducts cultural as well as organizational work with students such as excursions to museums, going to theaters, sightseeing in Kyrgyzstan, and trips to mountains.</p>
                        <p>ISM provides accommodation in hostels with all modern facilities. Hostels have access to internet services and students are protected by the Association of students.</p>



                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Asian_Medical_Institute_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />

                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>