﻿@page
@model neuronsEdu.Pages.bashkir_state_medical_universityModel
@{
}

<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'> Bashkir State Medical University Admission 2021</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/img/Bashkir-state-medical-university_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p style="text-align: justify; "><strong>Bashkir State Medical University </strong>is a classical university established in 1932 and located in Ufa, Bashkortostan, Russia. The University is considered as one of the largest Medico Scientific Center in the Russian Federation and it is also ranked among the <strong>top MBBS Universities in Russia</strong>. Among Indian students, this university is in demand for pursuing <strong><a href="#">MBBS in Russia</a></strong>.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/teachers_kalki.png" alt="Teachers" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Teachers</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/no_of_students_kalki.png" alt="Enrolled Students" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Number of Foreign Students</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/clinics_kalki.png" alt="Furnished Accommodations" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Multidisciplinary Clinic</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/dental_kalki.png" alt="Dentistry" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Dental Clinic</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/research_kalki.png" alt="Research Laboratory" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Research Laboratory</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/scientific_kalki.png" alt="Scientific Library" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Scientific Library</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/research_institutes_kalki.png" alt="Research Institutes" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Research Institutes</p>
                                    </div>
                                </div>
                            </div>
                            <p style="text-align: justify; ">The University has got a license from the Ministry of Education of the Russian Federation and is one of the <strong>best Medical Universities in Russia</strong>. It has more than the Bashkir University is providing specialty programs in different courses for the last 88 years. It is a member of WHO also recognized by NMC and it is considered as a center of medical and pharmaceutical science of Bashkortostan Republic.</p>
                            <h3>Quick Highlights 2021</h3>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/population_kalki.png" alt="Public" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Type - Public</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/online-learning_kalki.png" alt="Popular Course" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Popular Course - MBBS</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/exam_kalki.png" alt="Exam NEET Qualified" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Exam - NEET Qualified</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/Yearly-tuition-fee_kalki.png" alt="Yearly Tuition Fees" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Yearly Tuition Fees - 3,900 USD</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/area_kalki.png" alt="Total Area" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Total Area - 151,337 M2</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/location_kalki.png" alt="Location" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Location - Ufa, Bashkortostan, Russia</p>
                                    </div>
                                </div>
                            </div>
                            <h2>Why Choose Bashkir State Medical University?</h2>
                            <ul>
                                <li> Best University for MBBS in Abroad</li>
                                <li> Offer low-cost medical education</li>
                                <li> Easy Admission Process</li>
                                <li> More than 1500 international students</li>
                                <li> Over 85 years of historical background</li>
                                <li> Regular International Activities</li>
                                <li> Highly Qualified Teachers</li>
                                <li> Best Educational Technologies</li>
                                <li> Over 8000 medical students in the university</li>
                                <li> Hostel availability for international students</li>
                            </ul>
                            <h3>Bashkir State Medical University Ranking:</h3>
                            <p style="text-align: justify; ">The University is <b><a href="https#">MCI/ NMC Approved Medical Colleges in Russia</a></b> and ranked among the top universities in the world. It is ranked 301-350 in the world university ranking declared by QS Ranking and according to the 4ICU <strong>Bashkir State Medical University Ranking </strong>is improved in the last few years which is mentioned below.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="text-center bg-blue">
                                                Bashkir State Medical University Ranking
                                                <p></p>
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>COUNTRY RANKING</p>
                                        </td>
                                        <td>
                                            <p>136th</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h2>Bashkir State Medical University Fees Structure 2021</h2>
                            <p style="text-align: justify; ">The University fee is low for Indian students as compared to other foreign medical universities, here below we have mentioned the <strong>Bashkir State Medical University Fee Structure. </strong>Applicants are advised to check it before applying for admission here.</p>
                            <div style="overflow-x:auto;overflow-y: hidden;">
                                <table class="table">
                                    <tbody style="border-bottom:14px solid #000;">
                                        <tr>
                                            <td colspan="5">
                                                <h4 class="text-center bg-blue">
                                                    Bashkir State Medical University Fee Structure
                                                    <p></p>
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr style="background: #f2f2f2;">
                                            <td>
                                                <p><strong>Year</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Tuition Fees (USD)</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Hostel Fees (USD)</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Other Charges (USD)</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Total (USD)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1st Year</p>
                                            </td>
                                            <td>
                                                <p>3,900</p>
                                            </td>
                                            <td>
                                                <p>200</p>
                                            </td>
                                            <td>
                                                <p>1,900</p>
                                            </td>
                                            <td>
                                                <p>6,000</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #f2f2f2;">
                                            <td>
                                                <p>2nd to 6th Year</p>
                                            </td>
                                            <td>
                                                <p>3,900/yr</p>
                                            </td>
                                            <td>
                                                <p>200/yr</p>
                                            </td>
                                            <td>
                                                <p>-</p>
                                            </td>
                                            <td>
                                                <p>20,500</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <p><strong>Grand Total</strong></p>
                                            </td>
                                            <td>
                                                <p>26,500</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3>Bashkir State Medical University Courses:</h3>
                            <p style="text-align: justify; ">At Bashkir University there are over 120 programs for the level of training and over 800 advanced training programs. The <strong>Bashkir State Medical University Courses</strong> for Indian candidates are available in the different specializations of medical education. The University is conducting intermediate certification of students using E-Learning and Distance Learning Technologies to prevent applicants from new coronavirus infection.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/pediatrician-min_kalki.png" alt="Pediatric" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Pediatric</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/dentistry-min_kalki.png" alt="Dentistry" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Dentistry</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/pharmacy-min_kalki.png" alt="Pharmaceutical" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Pharmaceutical</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/Medical-facility-min_kalki.png" alt="General Medicine" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">General Medicine</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="~/assets/images/img/Medical-facility-min_kalki.png" alt="Preventive Medicine" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Preventive Medicine</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <!-- <div class="card1 h4">
                                    <img src="uploads/img/icon/Tech6.png" alt="Scientific Library" width="60px;">
                                    <p class="text-center">Scientific Library – 1</p>
                                    </div> -->
                                </div>
                            </div>
                            <h3>Bashkir State Medical University Eligibility Criteria:</h3>
                            <p style="text-align: justify; ">One of the leading <strong>College in Russia for Medical</strong> education, the <strong>Bashkir Medical University </strong>is open for admission and allow admission on the basis of some criteria. Applicants who apply for admission here need to qualify for <b><a href="#">NEET Exam</a></b> as the NEET Scorecard is required during the process.&nbsp;</p>
                            <p style="text-align: justify; ">We have mentioned detailed <strong>Bashkir State Medical University Eligibility Criteria </strong>for international candidates that they need to meet otherwise their application will be rejected.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="text-center bg-blue">
                                                Bashkir State Medical University Eligibility Criteria:
                                                <p></p>
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Exam</strong></p>
                                        </td>
                                        <td>
                                            <p>NEET Qualified.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Academics</strong></p>
                                        </td>
                                        <td>
                                            <p>50% in 12th class with Physics, Biology, and Chemistry.</p>
                                            <p>40% marks required for reserved category candidates.</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Age</strong></p>
                                        </td>
                                        <td>
                                            <p>The minimum age required is 17, students completing 17 till 31 December of admission year are also eligible.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Bashkir State Medical University Admission Process 2021:</h3>
                            <p style="text-align: justify; ">Indian candidates who planned to get admission here need to follow the easy admission process, for successfully completing the process they required some documents. The Documents will collect the general information of the candidates, applicants who want more information related to the <strong>Bashkir State Medical University Admission Process </strong>can contact us. Our Abroad Admission Counsellors will review your query and brief you about the process.</p>
                            <img src="~/assets/images/img/tech-graph_kalki.jpg" alt="kalki software" />
                            <h3>Required Documents:</h3>
                            <ul>
                                <li> 10th Class Marksheet.</li>
                                <li> 12th Class Marksheet.</li>
                                <li> NEET Scorecard</li>
                                <li> Original Passport.</li>
                                <li> Passport size Photographs</li>
                                <li> HIV Report</li>
                                <li> COVID-19 Report</li>
                            </ul>
                            <h3>Bashkir State Medical University Hostel:</h3>
                            <p style="text-align: justify; "><strong>Bashkir State Medical University Hostel</strong> has 6 buildings that can accommodate more than 2800 students. Indian candidates can choose rooms according to their comfort as the hostel has both separate and combined rule facilities. Applicants can get quality food and other accommodations that we have mentioned below.</p>
                            <ul>
                                <li>Sports Availability</li>
                                <li>Separate Rooms</li>
                                <li>Furnished Dormitories</li>
                                <li>Wi-Fi Access</li>
                                <li>AC Rooms</li>
                                <li>Cafeteria</li>
                                <li>24*7 Security</li>
                                <li>Quality Food</li>
                                <li>Multidisciplinary Clinic</li>
                            </ul>
                            <br />
                            <h3>Frequently Asked Question</h3>
                            <h5 style="color: #1877f2">Que. –What are the advantages of studying MBBS at <strong>Bashkir Medical University?</strong></h5>
                            <p><strong>Ans </strong> –</p>
                            <ul>
                                <li>Best Clinical Practice</li>
                                <li>A Modern Vision</li>
                                <li>Better learning experience</li>
                                <li>Affordable program cost</li>
                                <li>Proper clinical training</li>
                                <li>Located at a beautiful place in UFA, Russia</li>
                                <li>Living cost is manageable</li>
                                <li>Approved by premier institutes like WHO, NMC, UNESCO, etc.</li>
                                <li>No donation required</li>
                                <li>No entrance exam required like IELTS/ TOEFL Exam.</li>
                            </ul>
                            <h5 style="color: #1877f2">Que. –How many International students take admission here?</h5>
                            <p><strong>Ans </strong> – Over 1500 international candidates are applying for admission at <strong>Bashkir State Medical University </strong>every year and most of them are Indian students. As it is the favorite designation for pursuing medical education among Indian applicants so lots of aspirants apply for admission here.</p>
                            <h5 style="color: #1877f2">Que. –What facilities are available for Indian students at <strong>Bashkir State Medical University?</strong></h5>
                            <p><strong>Ans </strong> –<strong>Bashkir State Medical University </strong>offers lots of accommodations and facilities to Indian candidates like</p>
                            <ul>
                                <li>Best medical education&nbsp;</li>
                                <li>Hostel facility</li>
                                <li>Indian food available</li>
                                <li>World-class Infrastructure</li>
                                <li>Huge Library for applicants</li>
                                <li>Sports facilities for students</li>
                            </ul>
                            <p>Apart from this university has lots of accommodations for Indian students after joining the course.</p>
                            <h5 style="color: #1877f2">Que. –What are the requirements for admission to the BSMU?</h5>
                            <p><strong>Ans </strong> –For admission at the university applicants first need to qualify for the <strong>National Eligibility Cum Entrance Test</strong> and then follow the simple admission process as mentioned by the university. Applicants can also contact us if facing any problem regarding admission.</p>
                            <h5 style="color: #1877f2">Que. –Is<strong> Bashkir State Medical University </strong>approved by MCI/ NMC?</h5>
                            <p><strong>Ans </strong> –Yes, the <strong>Bashkir State Medical University </strong>is approved by National Medical Commission and is the best MCI/NMC Approved Medical college in Russia to study the MBBS program. It’s a better choice to select the University for your Medical Education in the country.</p>

                            <h5 style="color: #1877f2">Que. – Is Indian students safe to study MBBS at Bashkir State Medical University?</h5>
                            <p><strong>Ans – </strong>The BSMU has proper security arrangements. From security guards and cameras to fire safety, all the facilities are there. More than 850 foreign students from 40 countries are studying MBBS here. </p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>