﻿@page
@model neuronsEdu.Pages.blankModel
@{
}

<section class=" background-11 py-0 text-center">
    <div class="container">
        <div class="row h-full align-items-center">
            <div class="col-12 px-0">
                <h1 class="color-9 fw-800 fs-3 fs-sm-5 fs-md-7 text-uppercase">Blank Page</h1>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>