﻿@page
@model neuronsEdu.Pages.BPKoiralaMedicalCollegeNepalModel
@{
}

<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>  BP Koirala Medical College Nepal | MBBS in Nepal | MCI Recognized</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/img/BPKoiralaMedicalCollegeNepal_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">BP Koirala Medical College Nepal is an autonomous university for health and science located in the sub-metropolitan city of Dharan in the district. The Dharan medical college Nepal is a Nepal-India cooperation and it also serves the health educational needs for the eastern part of Nepal at every level, namely, primary, secondary, and tertiary levels.</font></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">BP Koirala medical ollege Nepal is among the top university to study MBBS in Nepal. The university is recognized by international organizations such as the medical council of India, the medical council of Nepal, the medical council of Sri Lanka, and the world health organization.</font></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The BP Koirala medical university is one of the national medical colleges in Nepal. &nbsp;The medical college offers education in several programs such as BDS, B.Sc, nursing, and many other short term academic courses. The medium of language used by BPKIHS Nepal for its international students in English.</font></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The university is among the top <a href="#"><b>MCI recognized medical colleges in Nepal</b></a> and consists of 19 different faculties that are trained and taught by professional well-educated professional teachers and faculties.</font></p>
                            <h3 style="text-align: left;"><strong><font face="Verdana" color="#000000">BP Koirala Medical College Quick Glance</font></strong></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below is the table about the details and information regarding the Koirala medical college Nepal:</font></p>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered" style="text-align: justify; ">
                                        <thead></thead>
                                        <tbody style="text-align: center;">
                                            <tr>
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Name of the university:</font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000" style="">BP Koirala Medical College Nepal</font></td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Eligibility Criteria: </font></strong></td>
                                                <td style="text-align: left;">
                                                    <ul>
                                                        <li><font face="Verdana" color="#000000">Aggregate of 50% in 10+2 or HSE</font></li>
                                                        <li><font face="Verdana" color="#000000">Must have PCB as the main subject in 10+2</font></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">NEET examination required: </font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">Yes, the required score in the NEET examination is required</font></td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Entrance examination required:</font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">No required</font></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Approved by:</font></strong></td>
                                                <td style="text-align: left;">
                                                    <ul>
                                                        <li><font face="Verdana" color="#000000">Medical council of India</font></li>
                                                        <li><font face="Verdana" color="#000000">Medical council of Nepal</font></li>
                                                        <li><font face="Verdana" color="#000000">World health organization</font></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Medium of education:</font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">English language</font></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Country Ranking of the university: </font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">8th position</font></td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><strong><font face="Verdana" color="#000000">Course duration:</font></strong></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">5 years</font></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 style="text-align: left;"><font face="Verdana" color="#000000"><b>Why Choose BP Koirala Medical College Nepal?</b></font></h3>
                            <p style="text-align: justify;"><font face="Verdana" color="#000000">B.P. Koirala Institute of Health Sciences is a WHO-approved medical college established in 1993. An autonomous institute in Nepal offers quality medical education to students at an affordable cost. The reason to choose BPKIHS for MBBS in Nepal is its English language education system.</font></p>
                            <ul>
                                <font face="Verdana" color="#000000">
                                <li style="text-align: justify; ">Listed in the top medical colleges for Indian students.</li>
                                <li style="text-align: justify; ">WHO &amp; MCI Approved college.</li>
                                <li style="text-align: justify; ">Experienced faculty for providing the best education.</li>
                                <li style="text-align: justify; ">Better accommodations are available for foreign students.</li>
                                <li style="text-align: justify; ">Study MBBS in Nepal at an affordable tuition fee</li>
                                <li style="text-align: justify; ">Get a globally approved MBBS degree</li>
                                </font>
                            </ul>
                            <h2 style="text-align: left;"><font face="Verdana" color="#000000"><b>BP Koirala Medical College Ranking:</b></font></h2>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below are the rankings of BPKIHS Nepal:</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">According to the country rankings of the bp Koirala medical college, it is on the 8<sup>th</sup></font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The world ranking of the Koirala medical college Nepal is 4837</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The Koirala medical college Nepal is among the top MCI recognized medical colleges in Nepal</font></li>
                            </ul>
                            <h2 style="text-align: left;"><font face="Verdana" color="#000000"><b>BP Koirala Medical College Fee Structure 2021:</b></font></h2>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below is the BP Koirala medical college Nepal fee structure along with detailed and information such as its tuition fees, hostel, and food cost:</font></p>
                            <h3 style="text-align: left;"><strong><font face="Verdana" color="#000000">BP Koirala Medical College MBBS Syllabus</font></strong></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below is the MBBS Syllabus in the bp Koirala medical college Dharan; the syllabus mentioned below in the table is the semester wise syllabus for MBBS in Nepal:</font></p>
                            <p>
                            </p>
                            <p></p>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-striped" style="text-align: justify; ">
                                        <tbody>
                                            <tr>
                                                <th><strong><font face="Verdana" color="#000000">Year:</font></strong></th>
                                                <th><strong><font face="Verdana" color="#000000">Semester:</font></strong></th>
                                                <th><strong><font face="Verdana" color="#000000">Syllabus for MBBS:</font></strong></th>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <th rowspan="2" scope="row"><strong><font face="Verdana" color="#000000">1<sup>st</sup> Year</font></strong></th>
                                                <td><strong><font face="Verdana" color="#000000">1<sup>st</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Anatomy</font></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><strong><font face="Verdana" color="#000000">2<sup>nd</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Histology and Anatomy</font></td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" scope="row"><strong><font face="Verdana" color="#000000">2<sup>nd</sup> year</font></strong></th>
                                                <td><strong><font face="Verdana" color="#000000">3<sup>rd</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Biochemistry, physiology, Histology, and Anatomy</font></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><strong><font face="Verdana" color="#000000">4<sup>th</sup> Semester:</font></strong></th>
                                                <td><font face="Verdana" color="#000000">Biochemistry, physiology, and microbiology</font></td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" scope="row"><strong><font face="Verdana" color="#000000">3<sup>rd</sup> year</font></strong></th>
                                                <td><strong><font face="Verdana" color="#000000">5<sup>th</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Pathology, pharmacology, microbiology, and path physiology</font></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><strong><font face="Verdana" color="#000000">6<sup>th</sup> Semester:</font></strong></th>
                                                <td><font face="Verdana" color="#000000">Path physiology, Physiology, and pharmacology</font></td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" scope="row"><strong><font face="Verdana" color="#000000">4<sup>th</sup> year</font></strong></th>
                                                <td><strong><font face="Verdana" color="#000000">7<sup>th</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Internal medicine, neurology, psychology, pediatrics, general surgery, gynecology, ENT, emergency medicine, etc.</font></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><strong><font face="Verdana" color="#000000">8<sup>th</sup> Semester:</font></strong></th>
                                                <td><font face="Verdana" color="#000000">Internal medicine, neurology, psychology, pediatrics, general surgery, gynecology, ENT, emergency medicine, etc.</font></td>
                                            </tr>
                                            <tr>
                                                <th rowspan="2" scope="row"><strong><font face="Verdana" color="#000000">5<sup>th</sup> year</font></strong></th>
                                                <td><strong><font face="Verdana" color="#000000">9<sup>th</sup> Semester:</font></strong></td>
                                                <td><font face="Verdana" color="#000000">Internal medicine, neurology, psychology, pediatrics, general surgery, gynecology, ENT, emergency medicine, etc.</font></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><strong><font face="Verdana" color="#000000">10<sup>th</sup>Semester:</font></strong></th>
                                                <td><font face="Verdana" color="#000000">Internal medicine, neurology, psychology, pediatrics, general surgery, gynecology, ENT, emergency medicine, etc.</font></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 style="text-align: left;"><b><font style="" face="Verdana" color="#000000">Eligibility Criteria for BP Koirala Medical College</font></b></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below is the eligibility criteria for BP Koirala medical college Nepal PG admission, as well as UG admission:</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The age of the applicant should be above 17 years in age</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The applicant must have completed their 10+2 or higher secondary education from a recognized board</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The applicant must have chemistry, physics, and biology as their main subjects in 10+2</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The applicant must get a min. a score of 50% in the higher secondary examination or 10+2</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The applicant must get a valid score in the <a href="#"><b>NEET entrance</b></a> examination to get admission and study <a href="#"><b>MBBS in Nepal</b></a></font></li>
                            </ul>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">Note: clinical subjects and clinical postings are taught during the 4th and 5th year while studying n MBBS College in Nepal.</font></p>
                            <h3 style="text-align: left;"><font face="Verdana" color="#000000"><strong>BP Koirala Medical College Admission Process 2021:</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">Plans to study MBBS in abroad? Then you can check the BP Koirala Medical College information. Also, You can connect with our expert counselors to get more info on MBBS Admission in Nepal by <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal2">clicking here</a>.</font></p>
                            <h3 style="text-align: left;"><b><font style="" face="Verdana" color="#000000">BP Koirala Medical College Documents Required</font></b></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following mentioned below are the important documents that are required for the bp Koirala medical college Nepal UG admission. The applicant is to submit copies of all such documents:</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Passport of the applicant which has a minimum validity of 18 months.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Certificate of 10<sup>th</sup> and 12<sup>th</sup> mark sheet of the applicant.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Birth certificate of the candidate</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Pas port sized photographs of the applicant</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Invitation letter from the medical college in Nepal.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The application documents should be authorized by the ministry of external affairs</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">All documents are too legalized by the Nepali embassy.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Medical certificate of the candidate along with the HIV test documents</font></li>
                            </ul>
                            <h3 style="text-align: left;"><font face="Verdana" color="#000000"><b>Benefits of Studying in this University</b></font></h3>
                            <p style="text-align: justify;"><font face="Verdana" color="#000000">The following mentioned below are the benefits of studying in the BP Koirala Medical College Dharan:</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">BPKIHS Nepal is approved by the world health organization and is also among the colleges that are in the world directory of medical schools</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Dharan medical college Nepal is recognized by the medical council of India, Nepal, and Sri Lanka.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Koirala medical college Nepal has 19 faculties that are trained and taught by specialists who provide an excellent education.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The students don’t need to give any other entrance examination other than NEET for MBBS admission in Nepal.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The medium of language used for international students in English, which is among the top reasons why international students chose to study MBBS in Nepal.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The BP Koirala medical college Nepal is among the top medical college in Nepal.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">Hostel facilities are offered to all its students.</font></li>
                            </ul>
                            <h3 style="text-align: left;"><b><font style="" face="Verdana" color="#000000">Students Life of BP Koirala Medical College</font></b></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following is a list of all the activities and the surrounding environment offered to provide a better experience for all its students.</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The college campus offers canteen and mess facilities.</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The university offers all its students with hostel facility that is fully equitized and have all the modern accommodates</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The campus of the university has a playground and a gym for all its students</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The MBBS college in Nepal are affiliated hospitals that are used to provide training to the students</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The campus is surrounded by restaurants that provide great food</font></li>
                            </ul>
                            <h3 style="text-align: left;"><font face="Verdana" color="#000000"><strong>BP Koirala Medical College Hostel and Accommodation</strong></font></h3>
                            <p style="text-align: justify;"><font face="Verdana" color="#000000">The following mentioned below is the details and information about the Hostel and Accommodation offered by the BP Koirala Medical College Nepal:</font></p>
                            <ul>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The hostel accommodations are provided to all the students who study in the BP Koirala medical college Nepal</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">It is mandatory to stay at the hostel in the university</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">There are separate girls and boys hostels offered</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The hostels have attached mess and canteens that provide healthy and clean food along with the option of vegetarian or non-vegetarian</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The hostel has parking facilities for the students who need it</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">There are prayer and recreational halls in the hostel</font></li>
                                <li style="text-align: justify; "><font face="Verdana" color="#000000">The hostels are fully furnished with all modern amenities</font></li>
                            </ul>
                            <h3 style="text-align: left;"><font style="" face="Verdana" color="#000000"><b>BP Koirala Medical College FAQs</b></font></h3>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">The following are some of the commonly asked questions about the Dharan medical college Nepal:</font></p>
                            <p style="text-align: justify; "><strong><font face="Verdana" color="#000000" style="">Que. What is the academic year for&nbsp;</font></strong><span style="box-sizing: border-box; font-weight: 700; color: rgb(0, 0, 0); font-family: Verdana; font-size: 15px;">BP Koirala medical college</span><strong><font face="Verdana" color="#000000" style="">&nbsp;Nepal?</font></strong></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">Ans. The academic year for&nbsp;</font><span style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana; font-size: 15px;">BP Koirala medical college</span><font face="Verdana" color="#000000">&nbsp;Nepal is from august to September.</font></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000"><strong>Que. Is the </strong><strong>BP Koirala medical college Nepal recognized by any organization?</strong></font></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">Ans. The BP Koirala medical college Nepal is recognized by several international organizations such as the medical council of India, the medical council of Nepal, and the world health organization.</font></p>
                            <p style="text-align: justify; "><strong><font face="Verdana" color="#000000" style="">Que. What is the duration of the degree course of MBBS in Nepal?</font></strong></p>
                            <p style="text-align: justify; "><font face="Verdana" color="#000000">Ans. The degree course for MBBS in Nepal is for a duration period of 5 years.</font></p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>