﻿@page
@model neuronsEdu.Pages.davao_medical_school_foundationModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>  Davao Medical School Foundation, Philippines</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/img/davao-medical-school-foundation_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p align="justify">The <strong>Davao Medical School Foundation</strong> was founded in the year <strong>1976</strong> to deal with the lack of doctors in rural areas of the Philippines. It is constructing the health care system of the country and uplifting the locality. It offers an MBBS course that will be taught by experienced teachers. Students from different nations choose this university to <strong>study MBBS in Philippines</strong>.</p>
                            <p align="justify">This is famous as one of the <strong>best medical colleges in Philippines </strong>and it is situated in Mindanao city. It is the very first Medical establishment in this city. <strong>Davao Medical College Philippines</strong> could be a good choice for those students who are seeking admission in <strong><a href="#">MCI approved medical colleges in Philippines</a></strong> at an affordable Fee.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/story-building.png" alt="Story Building" width="80px;">
                                        <p class="text-center">Story Building</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/beds.png" alt="Beds" width="80px;">
                                        <p class="text-center">Beds</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/area-davao.png" alt="Area" width="80px;">
                                        <p class="text-center">Area</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/private-rooms.png" alt="Private Rooms" width="80px;">
                                        <p class="text-center">Private Rooms</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/beds-for-wards.png" alt="Beds for Wards" width="80px;">
                                        <p class="text-center">Beds for Wards</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="uploads/img/icon/suite-rooms.png" alt="Suite Rooms" width="80px;">
                                        <p class="text-center">Suite Rooms</p>
                                    </div>
                                </div>
                            </div>
                            <p align="justify">The central government of the Philippines recognizes the <strong>Davao Medical School Foundation</strong>. Also, WHO, International Medical Education Directory (IMED), General Council of Medicine of Great Britain, Education Department of the United States of America. Altogether, students can work at the international level after <strong><a href="#">MBBS in Philippines</a></strong> without any issue, including in India. However, it is compulsory that you pass the Medical screening test in that country.</p>
                            <h4>Key Points</h4>
                            <ul>
                                <li>  1st medical colleges in Mindanao</li>
                                <li>  Founded to tackle health issue in rural areas</li>
                                <li>  MCI/NMC approved medical College</li>
                                <li>  Student from more than 10 countries are studying here</li>
                            </ul>
                            <h3>Davao Medical School Foundation Highlights</h3>
                            <ul>
                                <li>Founded year - 1976</li>
                                <li>Course – MBBS</li>
                                <li>Basic Eligibility - 50% Marks in 12th Board</li>
                                <li>NEET Exam - Mandatory for Indian Students</li>
                                <li>Curriculum Medium- English Language</li>
                                <li>Medical degree valid in India - Yes</li>
                            </ul>
                            <h3>Davao Medical School Foundation Ranking</h3>
                            <p align="justify">According to a reputed college ranking agency, <strong>webometrics</strong>, the <strong>ranking of Davao Medical School Foundation</strong> in the 150 to 200 band. There is no doubt that it is one of the <strong>top medical colleges in Philippines</strong> that welcomes students from various parts of the world.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>In Philippines</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>158th</strong></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h2><strong>Davao Medical School Foundation Fees</strong></h2>
                            <p align="justify">To study MBBS in this private medical institute of Philippines Fee is not expensive at all and it can be paid in instalments. The affordability of <strong>Davao Medical School Foundation Fee</strong> Structure is the second reason to choose as MBBS study option after the standard education system of this university.</p>
                            <h4>MBBS Fees Structure of Davao Medical School Foundation</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <h4 class="text-center bg-blue">Davao Medical School Foundation Fees</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>1st</p>
                                            <p>YEAR</p>
                                        </td>
                                        <td>
                                            <p>Admission Fee</p>
                                            <p>1stinstallment</p>
                                            <p>2stinstallment</p>
                                        </td>
                                        <td>
                                            <p>2,00,000</p>
                                            <p>3,00,000</p>
                                            <p>3,50,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>2st</p>
                                            <p>YEAR</p>
                                        </td>
                                        <td>
                                            <p>1stSemester</p>
                                            <p>2stSemester</p>
                                        </td>
                                        <td>
                                            <p>$2550</p>
                                            <p>$2550</p>
                                        </td>
                                        <td>
                                            <p>1,75,000</p>
                                            <p>1,75,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>3st</p>
                                            <p>YEAR</p>
                                        </td>
                                        <td>
                                            <p>1stSemester</p>
                                            <p>2stSemester</p>
                                        </td>
                                        <td>
                                            <p>$2550</p>
                                            <p>$2550</p>
                                        </td>
                                        <td>
                                            <p>1,75,000</p>
                                            <p>1,75,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>4st</p>
                                            <p>YEAR</p>
                                        </td>
                                        <td>
                                            <p>1stSemester</p>
                                            <p>2stSemester</p>
                                        </td>
                                        <td>
                                            <p>$2550</p>
                                            <p>$2550</p>
                                        </td>
                                        <td>
                                            <p>1,75,000</p>
                                            <p>1,75,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>5st</p>
                                            <p>YEAR</p>
                                        </td>
                                        <td>
                                            <p>1stSemester</p>
                                            <p>2stSemester</p>
                                        </td>
                                        <td>
                                            <p>$2550</p>
                                            <p>$2550</p>
                                        </td>
                                        <td>
                                            <p>1,75,000</p>
                                            <p>1,75,000</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Medical Courses in DMSF</h3>
                            <p align="justify">The education system of India and the Philippines is different. Because of this, the <strong>Davao Medical School Foundation</strong> offers a BS+MD course. Its duration is 5.5 years. After completing a BS course, it is compulsory that you have to appear in the NMAT Exam. After getting qualified in this exam, students will get an MD study programme. Apart from this study programme, there are few other courses that will be offered here.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card h4">
                                        <img src="~/assets/images/img/doc_kalki3.png" alt="BS+MD">
                                        <p class="text-center">BS+MD</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card h4">
                                        <img src="~/assets/images/img/doc_kalki2.png" alt="Master in Community Health">
                                        <p class="text-center">Master in Community Health</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card h4">
                                        <img src="~/assets/images/img/doc_kalki1.png" alt="Master of Medicine">
                                        <p class="text-center">
                                            Master of Medicine
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <h3>Davao Medical School Foundation Eligibility Criteria </h3>
                            <p align="justify">MBBS Aspirants applying for admission in this university have to pass the <strong>Davao Medical School Foundation Eligibility Criteria</strong>. Students can get direct admission without any entrance exam and donation. For Indian Students, <strong><a href="#">NEET Exam</a> </strong>is compulsory.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Age Limit-</p>
                                        </td>
                                        <td>
                                            <p>The candidate’s age should be equal or more than 17 years at the time of admission. </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Academics Qualification- </p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li> 50% marks in the 12th board exam</li>
                                                <li> 40% marks is compulsory for reserved category students.</li>
                                                <li> Biology, Physics and Chemistry should be one of the main subjects.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>NEET Exam</p>
                                        </td>
                                        <td>
                                            <p>Mandatory for Medical students of India</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Davao Medical School foundation Admission Process </h3>
                            <p align="justify">This medical institute is well-known in the foreign. Students apply here for enrollment but due to misinformation, their application gets rejected. So, they have to collect the information related to the <strong>Davao Medical School Foundation Admission process. </strong>They can <strong><a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal2">contact</a></strong> us to get info or admission assistance.</p>
                            <h3>Important Documents</h3>
                            <ul class="ulweb">
                                <li> 1.10th Class marksheet </li>
                                <li> 12th Class marksheet </li>
                                <li> NEET Scorecard </li>
                                <li> Original Passport</li>
                                <li> Birth Certificate </li>
                                <li> Passport size photo with visa format </li>
                                <li> Medical Report </li>
                                <li> Bank statement </li>
                            </ul>
                            <h3>Davao Medical School foundation Hostel</h3>
                            <p align="justify">Students coming here to study are advised to choose <strong>Davao Medical School Foundation</strong><strong>hostel</strong> rooms. There are double and triple sharing rooms that are furnished according to the needs of students. In the air-conditioned rooms, a restroom is attached that will be shared with another 1 or two students living in the room. You can also choose a single occupancy room. This depends upon your budget and preferences.</p>
                            <p align="justify">Hostel mess offers a different menu every day. You will get Indian Dishes also. The campus is ragging free and seniors are cooperative with junior students. Sports, medical facilities are available in the hostel campus.</p>
                            <ul>
                                <li>Bed</li>
                                <li>Wardrobe</li>
                                <li>Furniture</li>
                                <li>Sports facilities</li>
                                <li>Medical Facilities</li>
                                <li>ATM</li>
                                <li>AC & Non AC rooms</li>
                                <li>24 hrs. security</li>
                                <li>Nearby market</li>
                            </ul>
                            <h3>FAQs</h3>
                            <h5><strong> Que - Can I get admission MS MD in Indian Medical colleges after pursuing MBBS from here?</strong></h5>
                            <p align="justify"><strong>Ans-</strong> You can get admission in India for the master’s in Medicine but you have to pass the screening test. Apart from that, it is compulsory that you pass the National Eligibility Cum Entrance Test for Post-graduation, which is like an entrance test for getting <b><a href="#">MD MS Admission in India</a></b>.</p>
                            <h5><strong> Que - What salary package, can I get in India, after an MBBS in Davao Medical School Foundation?</strong></h5>
                            <p align="justify"><strong>Ans -</strong> Starting salary package in India starts from <b>25,000 to 35,000 INR</b> per month. It will increase slowly with gaining experience and tackling the situation. The private hospitals offer a good salary to those doctors who have a medical degree from foreign medical colleges.</p>
                            <h5><strong>Que - Is FMGE compulsory to practice in India after MBBS abroad?</strong></h5>
                            <p align="justify"><strong>Answer- </strong>The <b><a href="#">Foreign Medical Graduate Exam</a></b> is the only way to practice in India after getting a medical degree from <strong>MCI/NMC approved medical colleges in Abroad</strong>. The Exemption will be given to only those students who have completed MBBS from the selected country. Detailed information is in the Video.</p>
                            <h5><strong>Que - Is the campus of the Davao Medical College is secure for international students??</strong></h5>
                            <p align="justify"><strong>Ans </strong>- The campus has strong security arrangements for its students, Guards are deployed and CCTV cameras are installed throughout the university. Also the people living near the institute have friendly behavior with international students. It is advised that students from other countries, who are going to study there, should keep the ID card with them.</p>
                            <h5><strong>Que - What kind of facilities will be offered in this medical college during MBBS?</strong></h5>
                            <p align="justify"><strong>Ans </strong>- Apart from experienced professors and tie-up hospitals for practical training, the University has a spacious library, technological equipped laboratory, and standard housing arrangements for international students. Also, the classrooms are not much crowded, so students will get the teacher’s attention during the class.</p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>