﻿@page
@model neuronsEdu.Pages.East_European_University_GeorgiaModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN GEORGIA | East European University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/MBBS/East_European_University.jpg" alt="MBBS Abroad Consultant | Mbbs in Georgia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>East European University</h5>
                        <section>
                            <p>East European University was established in 2012 at Tbilisi. East European University is one of the top Medical College to study MBBS in Georgia for Indian Students. EEU focuses on building international standard education, teaching & research centre in the country. It offers excellent educational and research environment ensured by competitive academic programs, highly qualified professors and modern infrastructure. A large number of Indian students are studying in EEU. East European University is approved by the Medical Council of India for Indian students to study MBBS in Georgia. It is also listed by WHO and FAIMER in the world directory of medical schools.</p>
                            <p>The University offers a global standard of education and fabricates student's career by providing them with various opportunities. It has modern infrastructure, experienced professors and updated European education programs. It also offers scholarships to the students.</p>
                            <p>The degree awarded by the University is recognized worldwide and thus the students have bigger higher opportunities to get jobs all over the world. It organizes education conferences, debates, summer/winter schools and provides internships to the students all around the world so they get benefitted with global experience.</p>
                            <p>The East European University is considered one of the best universities in the world which offers the best facilities to the students and shaping their career in the right direction.</p>
                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of Pharmacy</P>
                            <P>&#9992; Faculty of Dentistry</P>
                            <P>&#9992; Faculty of Healing</P>

                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/East_European_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>The university organizes many extra-curricular activities like cultural, sports, and social activities for student's self-development. It offers various kind of academic and personal help to nurture young talent. Students are offered with free medical services, preventive vaccinations and 20% discount on dental treatment.</p>
                        <p>The University provides furnished hostels, equipped with day to day basic facilities and free WIFI accessibility. It also offers Indian food, especially for the Indian Students.</p>
                        <section class="color-5 pt-0">

                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/East_European_University_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>