﻿@page
@model neuronsEdu.Pages.FMGE_examModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>Foreign Medical Graduates Examination (FMGE Exam Pattern 2021)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/img/fmge_kalki.png" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <article>
                            <p align="justify"><font face="Verdana" color="#000000">Foreign Medical Graduates Examination is popularly known as FMGE Exam. it is conducted by the National Board of Examination twice a year. An Indian citizen who is studying MBBS abroad and wants to practice in India then needs to clear the FMGE exam. After qualifying for the Foreign Medical Graduates Exam, the candidate will be registered by the Medical Council of India (Now the <a href="#" target="_blank">National Medical Commission</a>) or state medical Council.&nbsp;</font></p>
                            <p align="justify"><font face="Verdana" color="#000000">FMGE Exam was introduced on 15 March 2002, so candidates who completed their MBBS outside the country before this particular date are exempted to appear in this exam to practice in India. It, not an entrance test to get admission to a master course offered by any medical university in India. It is just a medical licencing exam.&nbsp;</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Exam Frequency</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">The National Board of Examination conducts the Foreign Medical Graduates Exam twice a year. candidates can either appear in the June session exam or the December session exam. There is no limit of attempts for a candidate. Also, there is no age limit for appearing in the exam. Failed candidates can reappear as much time they want. The FMGE registration process will be the same.</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Exam Latest Update 2021</strong></font></h3>
                            <p><font face="Verdana" color="#000000">The National Board of Examination has released the FMGE exam date 2021 of the June session.&nbsp;</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>Highlights 2021</strong></font></h3>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Full name of Exam</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Foreign Medical Graduate Exam</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Conducted by</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">National Board of examination</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Exam Level&nbsp;</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">National</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Number of Questions</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">300</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">FMGE 2021 June Session</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">June 18</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Question of Type</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Multiple Choice Question</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Application fee</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">5500 INR</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h2><font face="Verdana" color="#000000"><strong>FMGE Exam Eligibility Criteria 2021</strong></font></h2>
                            <p align="justify"><font face="Verdana" color="#000000">Medical aspirants should go through the eligibility for the FMGE exam 2021 before applying. The registration window of the Foreign Medical Graduate Exam for the June 2021 session will be activated by the National Board of Examination on the official website. Eligible candidates can register themselves for the screening test.&nbsp;</font></p>
                            <p align="justify"><font face="Verdana" color="#000000">candidates who studied MBBS in an NMC approved medical college situated outside India, must be a citizen of India or he/she should be an overseas citizen of the country. Relevant documents should be available to the candidates at the time of FMGE 2021 June session registration.&nbsp;</font></p>
                            <p align="justify"><font face="Verdana" color="#000000">Apart from the identity card issued by the government of India, relevant academics documents at the time of registration.</font></p>
                            <h4><font face="Verdana" color="#000000"><strong>FMGE Exam Eligibility Criteria for June 2021</strong></font></h4>
                            <ol>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Nationality- the applicant should be an Indian citizen&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Academic Qualification- The candidate must have a valid MBBS degree from an MCI/NMC approved medical college.&nbsp;</font></div>
                                </li>
                            </ol>
                            <p align="justify"><font face="Verdana" color="#000000">candidates who have not submitted the relevant documents at the given deadline then the NBE has the authority to cancel the application of the candidates for FMGE 2021. Candidates must submit their documents before 31 march, 2021.</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>Exemption for Candidates&nbsp;</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">candidates who have completed their MBBS study programme and post-graduation from any universities situated in the below-mentioned developed countries will get an exemption from the Foreign Medical Graduate Exam June Session conducted by the National Board of Examination.&nbsp;</font></p>
                            <ul>
                                <li><font face="Verdana" color="#000000">Australia</font></li>
                                <li><font face="Verdana" color="#000000">Canada</font></li>
                                <li><font face="Verdana" color="#000000">New Zealand</font></li>
                                <li><font face="Verdana" color="#000000">United Kingdom</font></li>
                                <li><font face="Verdana" color="#000000">United States of America</font></li>
                            </ul>
                            <p align="justify"><font face="Verdana" color="#000000">Candidates will get a permanent or provisional certificate from the Medical Council of India or State medical council without appearing FMGE 2021 June Session. After certification candidates can practice in India.</font></p>
                            <p align="justify"><font face="Verdana" color="#000000"><b>NOTE</b>- Candidates will get only three attempts to pass the FMGE exam. If any case, candidates do not pass the exam then he/she can not appear again for the exam again.&nbsp;</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Registration (JUNE Session 2021)<br></strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">FMGE registration process (JUNE Session 2021) is an online method. Students who want to appear for this exam have to complete the registration process online by visiting the official website of the National Board of Examination. It is advised that candidate avoid filling the application form using mobile phone devices.&nbsp;</font></p>
                            <h4><font face="Verdana" color="#000000"><strong>Step by Step Registration Process</strong></font></h4>
                            <ol>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Visit the official website of the National Board of Examination and select the FMGE option</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Now click on new registration and read the instructions carefully&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">In the next step, students will provide personal details like name, number, email id and etc.</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Log in credentials will be shared on your phone via SMS or email</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Now log in again with the login id and password you received.</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Now enter the details of the academic and upload passport size photograph, scanned sign, and thumb impression.</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Select the exam centre and at last pay the fee&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">FMGE 2021 June session application fee is only 6490 INR, which will be paid using the online payment method.</font></div>
                                </li>
                            </ol>
                            <h3><font face="Verdana" color="#000000"><strong>Required Documents</strong></font></h3>
                            <ol>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Recent Passport size photograph. (With the guidelines released by the NBE). The photograph should be with name and date. Also, with a white background.</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Scanned sign (With blue or black pen and without overwriting). Sign in the capital letter will be rejected</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Clear thumb impression with white background&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Identity card issued by the government of India</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Medical degree copy or scanned copy</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Scanned copy of MBBS pass certified by Indian Embassy situated in that particular country</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Copy of 12th mark sheet</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Date of birth certificate&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Internship certificate&nbsp;</font></div>
                                </li>
                            </ol>
                            <h3><font face="Verdana" color="#000000"><strong>Correction Window</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">Students will get a chance to make the correction in the application form as the National Board of the examination will open the correction window. Students can make correction in a few important details like</font></p>
                            <ol>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Name of candidate</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Date of birth</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Gender</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Registered mobile number and Email ID</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Exam center</font></div>
                                </li>
                            </ol>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Admit Card 2021</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">The National Board of Examination will release the FMGE admit card 2021 for the June session after completing the application process. Admit card is the mandatory document to get an entry into the exam centers on the FMGE Exam date.&nbsp;</font></p>
                            <p align="justify"><font face="Verdana" color="#000000">Candidates can download the admit card by visiting the official website of the NBE by using login and password. It is mandatory that students carry a hard copy of the admit card at the exam center.</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Exam Cities for June Session</strong></font></h3>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Ahmedabad/ Gandhinagar</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kottayam</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Dehradun</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Patna</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Ajmer</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kozhikode</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Delhi/NCR</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Pune</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Aligarh</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Lucknow</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Ernakulum</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Raipur</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Bengaluru</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Madurai</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Gangtok</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Ranchi</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Bhopal</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Meerut</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Guwahati</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Roorkee</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Bhubaneswar</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Mehsana</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Hyderabad</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Shillong</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Bikaner</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Mumbai</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Imphal</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Sikar</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Chandigarh/ Mohali</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Muzaffarnagar</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Jammu</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Srinagar</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Chennai</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Nagpur</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Jodhpur</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Thiruvananthapuram</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Coimbatore</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Patiala</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kannur</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Thrissur</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kolkata</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Vellore</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kohima</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Tiruchirappalli</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Kollam</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Visakhapatnam</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Exam Pattern 2021</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">candidates who are familiar with the FMGE Exam pattern can prepare well for the exam. the exam will be conducted in online mode. A total of 300 multiple choice questions will be asked in the exam and candidates will get only 300 minutes to solve the papers. There will be two papers in the exam, 150 questions each.&nbsp;</font></p>
                            <p align="justify"><font face="Verdana" color="#000000">The best thing for candidates who are going to appear in the Foreign Medical Graduate Exam in the June session this year is there will be no negative marking. For every right answer, a +1 mark will be added and there will be no deduction for incorrect answers. Each question will carry equal marks.</font></p>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Exam mode</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Online</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Number of questions</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">300 multiple-choice questions</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Exam duration</font></p>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li><font face="Verdana" color="#000000">5 hrs</font></li>
                                                        <li><font face="Verdana" color="#000000">150 minutes for paper 1</font></li>
                                                        <li><font face="Verdana" color="#000000">150 mins for paper 2&nbsp;</font></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">FMGE Marking system</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">+1 for correct answers</font></p>
                                                    <p><font face="Verdana" color="#000000">No deduction for incorrect answers</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Question medium</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">English</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">FMGE Syllabus</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">MBBS syllabus</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h2><font face="Verdana" color="#000000"><strong>FMGE Syllabus 2021</strong></font></h2>
                            <p align="justify"><font face="Verdana" color="#000000">It is expected that the National Medical Commission will not make any changes in the FMGE syllabus 2021 of the June session this year. A detailed syllabus will be released by the National Board of Examination before two or three months of the actual FMGE Exam Date of June session.&nbsp;</font></p>
                            <h4><font face="Verdana" color="#000000"><strong>Pre and Para Clinical subjects</strong></font></h4>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Important topics</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">No of questions</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Anatomy</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">17</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Physiology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">17</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Biochemistry</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">17</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Forensic Medicine</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">10</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Pathology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">13</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Microbiology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">13</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Pharmacology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">13</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4><font face="Verdana" color="#000000"><strong>Clinical Subjects</strong></font></h4>
                            <font face="Verdana" color="#000000">
                            </font>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000"><b>Important topics</b></font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000"><b>No of questions</b></font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Medicine and allied subjects</font></p>
                                                    <p><font face="Verdana" color="#000000">1. Medicine</font></p>
                                                    <p><font face="Verdana" color="#000000">2. Psychiatry</font></p>
                                                    <p><font face="Verdana" color="#000000">3. Dermatology and STD</font></p>
                                                    <p><font face="Verdana" color="#000000">4. Radiotherapy</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">&nbsp;</font></p>
                                                    <p><font face="Verdana" color="#000000">33</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">General Surgery and allied subjects</font></p>
                                                    <p><font face="Verdana" color="#000000">1. General Surgery</font></p>
                                                    <p><font face="Verdana" color="#000000">2. Anaesthesiology</font></p>
                                                    <p><font face="Verdana" color="#000000">3. Orthopaedics</font></p>
                                                    <p><font face="Verdana" color="#000000">4. Radiodiagnosis</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">&nbsp;</font></p>
                                                    <p><font face="Verdana" color="#000000">32</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                    <p><font face="Verdana" color="#000000">5</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Pediatrics</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">15</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Otorhinolaryngology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">15</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Ophthalmology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">15</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Obstetrics and Gynaecology</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">30</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Community Medicine</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">30</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <font face="Verdana" color="#000000">
                            </font>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Results 2021<br></strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">June 18 is the scheduled date of the FMGE exam. After few weeks, the FMGE results will be available on the official website of the National Board of Examination. After the results, candidates who will be shortlisted, get provisional registration from the National Medical Commission or state medical council.&nbsp;</font></p>
                            <h4><font face="Verdana" color="#000000"><strong>Steps to download the Results of FMGE 2021</strong></font></h4>
                            <ol>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">The results link will be active on the NBE’s official website, once the results released by the exam conducting body</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">It will be in PDF format, students can download it.&nbsp;</font></div>
                                </li>
                                <li>
                                    <div align="left"><font face="Verdana" color="#000000">Take a printout of the scorecard on your device and in printout mode.</font></div>
                                </li>
                            </ol>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Cut-off 2021</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">According to the FMGE cutoff, the candidate who will get 50% marks, considered qualified or passed. He/she has to solve at least 150 questions out of 300 questions. To solve 300 multiple choice questions students will get 5 hrs. There will be two papers in the question paper, which contain questions from important topics.</font></p>
                            <h3><font face="Verdana" color="#000000"><strong>Preparation Tips</strong></font></h3>
                            <ul>
                                <li><font face="Verdana" color="#000000">Physiology is one of the most important subjects. It covers questions from various major areas of medical science.</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>MBBS books</b>- Try to cover more chapters of your curriculum books of MBBS course. Most of the FMGE questions will be from syllabus books.</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Clinical cases</b>- Covering clinical cases will increase the chances of getting good marks in the Foreign Medical Graduate Medical Exam.</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Complete information of FMGE syllabus</b>- There is no shortcut method to achieve success. Candidates have to cover the entire FMGE syllabus before appearing in Foreign Medical Graduate Exam scheduled on 18 June 2021. Figure out the important topics and work more on those subjects. Cover more questions from that area.</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Analyze your weak sections</b>- Test your weak part and work for it. Most of the aspirants concentrate on their strong sections instead of weak sections.</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Regular revision</b>- What every you have studied to cover FMGE Syllabyus yesterday, don’t forget to do revision every day. Many students do not do this and they do not qualify for the Foreign Medical Graduate Exam conducted by the National Board of Examination.&nbsp;</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Attend mock tests</b>- FMGE Mock tests will analyze your speed, accuracy, and other important aspects to solve questions quickly. There are various websites on the internet that organize mock tests.&nbsp;</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>The limited and authentic study material</b>- Selecting too many study materials will lead you to confusion. Try to select a few books and notes from authentic sources and practice with them.&nbsp;</font></li>
                            </ul>
                            <ul>
                                <li><font face="Verdana" color="#000000"><b>Attempt as many questions as you can</b>- There is no negative marking in the exam, so you are free to attempt as many questions as you want. Attempting more multiple-choice questions will increase the chances of getting a good score.&nbsp;</font></li>
                            </ul>
                            <h3><font face="Verdana" color="#000000"><strong>FMGE Important Dates</strong></font></h3>
                            <p align="justify"><font face="Verdana" color="#000000">Before appearing for the Foreign Medical Graduate Exam of June session, candidates must have clear information about the FMGE Important dates, so that they can plan their preparation accordingly.&nbsp;</font></p>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <thead></thead>
                                        <tbody style="text-align: left;">
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Exam information announcement</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Registration Starts</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Last date to Sumit the application form</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Correction window starts</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Last date of correction</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Last date for document submission</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">FMGE Admit card</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be Announced</font></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Examination date</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">18 April 2021 (Announced)</font></p>
                                                </td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Results announcements</font></p>
                                                </td>
                                                <td>
                                                    <p><font face="Verdana" color="#000000">Yet to be announced</font></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3><font face="Verdana" color="#000000"><strong>Frequently Asked question</strong></font></h3>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p><i><font face="Verdana" color="#000000"><strong>Que- How many times FMGE is conducted in a year?</strong></font></i></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p align="justify"><font face="Verdana" color="#000000"><strong><i>Answer</i>- </strong>The Foreign Medical graduate exam is conducted twice a year. One in June or July and the other one is conducted in the December month of every year. Aspirants can register for it.</font></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p><i><font face="Verdana" color="#000000"><strong>Que- How many times a candidate can appear in the FMGE Exam?</strong></font></i></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p align="justify"><font face="Verdana" color="#000000"><strong><i>Answer</i>- </strong>There are only three attempts will be given to candidates. If any candidate will not qualify for the FMGE exam in three attempts then he/she can not register again to appear in Foreign Medical Graduate Exam conducted by NBE.</font></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p><i><font face="Verdana" color="#000000"><strong>Que- What is the eligibility to appear in the FMGE Exam?</strong></font></i></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p align="justify"><font face="Verdana" color="#000000"><strong><i>Answer</i>- </strong>Applicant should be an Indian citizen or an overseas Indian citizen. He/she should have a valid MBBS degree from a valid medical university. Keep in mind that candidates who are studied from the USA, UK, Canada, Australia, and <a href="#" target="_blank">studied in New Zealand</a> are exempted to appear in the FMGE Exam. They are pre-approved to practice in India.</font></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p><i><font face="Verdana" color="#000000"><strong>Que- Is FMGE hard to crack in comparison to NEET PG Exam?</strong></font></i></p>
                            <font face="Verdana" color="#000000">
                            </font>
                            <p align="justify"><font face="Verdana" color="#000000"><strong><i>Answer</i>- </strong>Both exams are different and have different values. FMGE (Foreign Medical Graduate Exam) is conducted for allowing eligible doctors to practice in India, whereas the <a href="#">NEET PG exam</a> is for inviting <a href="#" target="_blank">MD MS admission</a> in Medical Colleges in India.</font></p>
                            <h5 style="color: #1877f2">Que. –Why is the FMGE Exam conducted?</h5>
                            <p><strong>Answer</strong> –FMGE Exam is conducted for the Indian students who are studying MBBS Abroad but have a desire to practise in India so students need to qualify the exam.</p>
                            <h5 style="color: #1877f2">Que. –What is the format of the FMGE Exam?</h5>
                            <p><strong>Answer</strong> –The exam is conducted online where it has 2 sections and each section has 150 questions each and it is for 150 marks. For each correct answer +4 is given and there is no negative marking.</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>