﻿@page
@model neuronsEdu.Pages.Georgian_American_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'> MBBS IN ABROAD | MBBS IN GEORGIA | Georgian American University </h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="~/assets/images/MBBS/Georgian_American_University.jpg" alt="MBBS Abroad Consultant | Mbbs in Georgia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Georgian American University</h5>
                        <section>
                            <p>Since 2005, the Georgian American University (GAU) Serves to establish International Standards of Education & Develop highly competitive professional and successful individuals, leaders with high emotional intelligence." The Goal of the MD Program is to train knowledge, competitive doctors committed to life-knowledge, life-long learning in accordance with international standards set by world federation for Medical Education" GAU MD (Medical Doctor) Program has Partly Integrated curriculum and is 5 or 6 Year (360 ECTS Credits) as per student choice of Medical Program designed to raise competitive and highly qualified doctors who will meet the challenges of the 21st Century. GAU recognized by WHO (World Health Organization) and MCI (Medical Council of India) Georgia have best MCI Result.</p>
                            <p>The University offers a quality education of international level in which all the academic programs are set by the Ministry of Education and Science. It focuses on fabricating student’s career by training them to acquire creative skills for their career. It builds a student’s personality and focuses on constructing them academically through theoretical as well as practical knowledge by providing them with various opportunities.</p>
                            <p>The motto of the University is to provide great doctors with a free-spirit for the future. The career services of the University are offering various internships and jobs to the students & graduates.</p>
                            <hr />
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Georgian_American_University_Student_Life_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>The university provides best academic experience to the students. Students from all over the world take admission in the University of different Nationalism and Cultures. Students get to know about each other’s cultures and customs.</p>
                        <p>The university provides well-equipped hostels with basic needs and a secure environment. The students are offered with a library, computer labs, information center and medical facilities. It also offers Indian food, especially for the Indian Students.</p>
                        <section class="color-5 pt-0">

                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/Georgian_American_University_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>