﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBBS IN ABROAD</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicons/favicon.ico">
    <link rel="mask-icon" href="../assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileImage" content="../assets/images/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <!--  --><!--    Stylesheets-->
    <!=============================================-->
    <!-- Default stylesheets-->

    <link href="../assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="../assets/lib/iconsmind/iconsmind.css" rel="stylesheet">
    <link href="../../code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="../assets/lib/hamburgers/dist/hamburgers.min.css" rel="stylesheet">
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../assets/lib/remodal/dist/remodal.css" rel="stylesheet">
    <link href="../assets/lib/remodal/dist/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Main stylesheet and color file-->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <style>
        p {
            text-align: justify;
        }

        .znav-container ul {
            margin-left: 3.8rem;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".inner-link" data-offset="60">
    <script type="text/javascript">var npf_d = 'https://neuronsedu.nopaperforms.com'; var npf_c = '4038'; var npf_m = '1'; var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = "https://track.nopaperforms.com/js/track.js"; document.body.appendChild(s);</script>
    <main>
        <div class="loading" id="preloader">
            <div class="loader h-100 d-flex align-items-center justify-content-center">
                <div class="line-scale">
                    <div>
                    </div>
                    <div>
                    </div><div></div><div></div><div></div>
                </div>
            </div>
        </div>

        <section class="background-primary py-3 d-none d-sm-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto d-none d-lg-block">
                        <span class="fa fa fa-envelope color-warning fw-800 icon-position-fix">
                        </span>
                        <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">info@neuronsedu.com</p>
                    </div>
                    <!--  <div class="col-auto ml-md-auto order-md-2 d-none d-sm-block">
                          <span class="fa fa-clock-o color-warning fw-800 icon-position-fix"></span>
                          <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">Mon-Sat, 10:00-19.00. Sunday CLOSED</p>
                      </div>-->
                    <div class="col-auto ml-md-auto order-md-2 d-none d-sm-block">
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-facebook" href="https://www.facebook.com/NeuronsEducation/"></a>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-instagram" href="https://www.instagram.com/NeuronsEdu/"></a>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-twitter" href="https://twitter.com/NeuronsEdu/"></a>
                        <!--<a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-linkedin" href="http://www.linkedin.com"></a>-->
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-youtube" href="https://www.youtube.com/channel/UCytMV-LMXRYNQodZ4s-PFTA"></a>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-whatsapp" href="#"></a>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-phone" href="tel:995-089-6262"></a>
                    </div>
                    <div class="col-auto">
                        <span class="fa fa-phone color-warning fw-800 icon-position-fix">
                        </span>
                        <a class="ml-2 mb-0 fs--1 d-inline color-white fw-700" href="#">(+91) 995 089 6262, 873 995 5555</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="znav-white znav-container sticky-top navbar-Neurons Education" id="znav-container">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand overflow-hidden pr-3" asp-page="Index">
                        <img src="../assets/images/Neurons_Logo.png" alt="" style="height:72px" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger hamburger--emphatic">
                            <div class="hamburger-box">
                                <div class="hamburger-inner">
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav fs-0 fw-700">
                            <li><a asp-page="index">HOME</a></li>
                            <li><a asp-page="about">COMPANY</a></li>
                            <li>
                                <a asp-page="mbbsinabroad">ABROAD</a>
                            </li>
                            <li>
                                <a href="JavaScript:void(0)">STUDENTS</a>
                                <ul class="dropdown fs--1">
                                    <li><a href="https://www.nmc.org.in/">NMC/MCI</a></li>
                                    <li><a href="#">NEET Exam</a></li>
                                    <li><a href="#">NMAT Exam</a></li>
                                    <li><a href="#">FMGE Exam</a></li>
                                    <li><a href="#">NEXT Exam</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="JavaScript:void(0)">GALLARY</a>
                                <ul class="dropdown fs--1">
                                    @foreach (var Gname in Model.GalleryNames)
                                    {
                                        <li><a asp-for="Gallery" asp-route-id="@Gname.GId"> @Html.DisplayFor(m => Gname.GType)</a></li> 
                                    }
                                </ul>
                            </li>
                            <li><a href="newsroom">NEWS</a></li>
                            <li><a href="contact">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="flexslider flexslider-simple h-full loading">
            <ul class="slides">
                <li data-zanim-timeline="{}">
                    <section class="py-0">
                        <div>
                            <div class="background-holder Neurons Education-zanimm-scale" style="background-image:url(../assets/images/header-6.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                            </div>

                            <!--/.background-holder-->

                            <div class="container">
                                <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                    <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                        <div class="overflow-hidden">
                                            <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Study in Abroad <br />& India</h1>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Explore our set of services provided to make<br /> it easy for you to get admission to study <br />MBBS in Abroad.</p>
                                        </div>
                                        <div class="overflow-hidden">
                                            <div class="zopacity" data-zanim='{"delay":0.2}'>
                                                <a class="btn btn-primary mr-3 mt-3" href="index.html">
                                                    Read more<span class="fa fa-chevron-right ml-2">
                                                    </span>
                                                </a>
                                                <a class="btn btn-warning mt-3" href="contact.html">
                                                    Contact us<span class="fa fa-chevron-right ml-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                        </div><!--/.container-->
                    </section>
                </li>

                <li data-zanim-timeline="{}">
                    <section class="py-0">
                        <div>
                            <div class="background-holder Neurons Education-zanimm-scale" style="background-image:url(../assets/images/header-5.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                            </div>

                            <!--/.background-holder-->
                            <div class="container">
                                <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                    <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                        <div class="overflow-hidden">
                                            <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Expert Consultants</h1>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Over 10 years of experience in helping clients finding comprehensive solutions.</p>
                                        </div>
                                        <div class="overflow-hidden">
                                            <div class="zopacity" data-zanim='{"delay":0.2}'>
                                                <a class="btn btn-primary mr-3 mt-3" href="#">Read more<span class="fa fa-chevron-right ml-2"></span></a>
                                                <a class="btn btn-warning mt-3" href="contact.html">
                                                    Contact us<span class="fa fa-chevron-right ml-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                        </div><!--/.container-->
                    </section>
                </li>
                <li data-zanim-timeline="{}">
                    <section class="py-0">
                        <div>
                            <div class="background-holder Neurons Education-zanimm-scale" style="background-image:url(../assets/images/header-1.jpg);" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'></div>
                            <!--/.background-holder-->
                            <div class="container">
                                <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                                    <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                        <div class="overflow-hidden">
                                            <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Growth Partners</h1>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Connect with top consultants hand-picked by Neurons Education consulting and finance.				</p>
                                        </div>
                                        <div class="overflow-hidden">
                                            <div class="zopacity" data-zanim='{"delay":0.2}'>
                                                <a class="btn btn-primary mr-3 mt-3" href="#">
                                                    Read more<span class="fa fa-chevron-right ml-2"></span>
                                                </a>
                                                <a class="btn btn-warning mt-3" href="contact.html">
                                                    Contact us<span class="fa fa-chevron-right ml-2"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.row-->
                        </div><!--/.container-->
                    </section>
                </li>
            </ul>
        </div>


        <section class="background-primary py-3 d-none d-sm-block">
            <div class="container">
                <div class="row align-items-center">
                    @foreach (var noti in Model.notifications)
                    {
                        <!--<div>
                           <h6 class="ml-2 mb-0 fs--1 d-inline color-white">Latest News: </h6>
                        </div>-->
                        <div class="col-auto">
                            <marquee width="80%" class="ml-2 mb-0 d-inline color-white" onMouseOver="this.stop()" onMouseOut="this.start()"
                                     style="margin-top:-15px; font-size:1rem;">
                                <img src="../assets/gif/important_kalki.gif" style="margin-top:-32px;height:40px" />
                                @Html.DisplayFor(m => noti.NotificationDetails) |  <img src="../assets/gif/important_kalkisoft.gif" style="margin-top:-2px;height:40px" />
                            </marquee>
                        </div>
                    }
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mb-6">
                    <div class="col">
                        <h3 class="text-center fs-2 fs-lg-3">MBBS ADMISSION IN ABROAD</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 pr-0 pr-lg-3">
                        <img class="radius-secondary" src="../assets/images/Home/Neurons_Header_Down.jpg" alt="" />
                    </div>
                    <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <div class="px-4 px-sm-0" data-zanim='{"delay":0}'>
                                <p class="mt-3 px-lg-3">MBBS Admission Abroad is an emerging MBBS educational consultant providing its best services to those students who want to study MBBS abroad in the top and prestigious medical colleges abroad. Every year lakh of students pass the NEET UG exam but around 20,000 MBBS aspirants manage to get admission in government medical universities, but what about the rest of the students </p>

                                <p class="mt-3 px-lg-3">Applying students either choose private medical colleges or want to know all about the best Colleges for MBBS Abroad. In that case, MBBS Admission Abroad helps those students to choose a perfect medical college option as it is famous as MBBS education consultant. Russia, Kazakhstan, Ukraine, Georgia, Kyrgyzstan, etc are the most demanding educational destinations for Indian medical students to study MBBS Abroad.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>

        <section class="background-facebook">
            <div class="container">
                <div class="row align-items-center color-white">
                    <div class="col-lg-4">
                        <div>
                            <div class="overflow-hidden">
                                <h4 class="color-white" data-zanim='{"delay":0}'>Neurons Education Consultant</h4>
                            </div>
                            <div class="overflow-hidden">
                                <p class="px-lg-1 color-11 mb-0" data-zanim='{"delay":0.1}'>Get the list of all medical colleges, that you may get and Avail your free counselling session with us by filling this form.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pl-lg-5 mt-6 mt-lg-0">
                        <h5 class="color-white">I would like to discuss:</h5>
                        <form class="zform mt-4" method="post">
                            <div class="row">
                                <div class="col-6">
                                    <input class="form-control" type="hidden" name="to" value="username@domain.extension" />
                                    <input class="form-control" type="text" placeholder="Your Name" aria-label="Text input with dropdown button" />
                                </div><div class="col-6">
                                    <input class="form-control" type="text" placeholder="Phone Number" aria-label="Text input with dropdown button" />
                                </div>
                                <div class="col-6 mt-4">
                                    <input class="form-control" type="text" placeholder="Email Address" aria-label="Text input with dropdown button" />
                                </div>
                                <div class="col-6 mt-4">
                                    <input class="form-control" type="text" placeholder="Subject" aria-label="Text input with dropdown button" />
                                </div>
                                <div class="col-6 mt-4">
                                    <input class="form-control" type="text" placeholder="Message" aria-label="Text input with dropdown button" />
                                </div>
                                <div class="col-6 mt-4">
                                    <button class="btn btn-warning btn-block" type="submit">Submit</button>
                                </div>
                                <div class="col-12">
                                    <div class="zform-feedback mt-4"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="background-11">
            <div class="container">
                <!--<h3 class="text-center fs-2 fs-md-3">Why Choose Study MBBS Abroad</h3>-->

                <div class="row no-gutters pos-relative mt-6">
                    <div class="Neurons Education-caret d-none d-lg-block"></div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                        <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0" style="background-image:url(../assets/images/6.jpg);"></div>
                        <!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                <div class="overflow-hidden">
                                    <h3 data-zanim='{"delay":0}'>Why Choose Study MBBS Abroad</h3>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim='{"delay":0.1}'>Every year millions of student appear in NEET Exam for MBBS Admission and other UG medical admission, but due to low NEET rank students choose to study MBBS Abroad. Students can work across the world, including India, after studying MBBS in MCI/NMC approved medical colleges abroad.</p>
                                    <p>The medical license will be offered to practice in India after the NEXT Exam. It will be a compulsory exam for every MBBS student (India or Abroad). NMC replaced MCI to monitor medical education in India. Apart from the global acceptable MBBS degree, there are many advantages to study MBBS Abroad</p>
                                    <p>Indian Medical Students can get admission in best colleges for MBBS Abroad with fewer admission requirements and without a donation.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div data-zanim='{"delay":0.2}'>
                                        <a class="d-flex align-items-center" href="#">
                                            Learn More<div class="overflow-hidden ml-2">
                                                <span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                    <div class="Neurons Education-caret d-none d-lg-block"></div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="min-height:400px;">
                        <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image: url(../assets/images/7.jpg);">
                        </div>
                        <!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                <div class="overflow-hidden">
                                    <h3 data-zanim='{"delay":0}'>About Us</h3>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim='{"delay":0.1}'>NEURONS EDUCATIONAL SERVICES is a renowned educational organization established in 2009 with the aim to mentor students to shape their future for a better tomorrow. Neurons Educational Services is the fastest growing organization in our country that provides guidance to the students for their better future and aspirations. Neurons Educational Services provides one-to-one services. Our aim is to create awareness about medical education and its wide area of learning which can shape someone's future.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div data-zanim='{"delay":0.2}'>
                                        <a class="d-flex align-items-center" href="#">
                                            Learn More<div class="overflow-hidden ml-2">
                                                <span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters pos-relative mt-4 mt-lg-0">
                    <div class="Neurons Education-caret d-none d-lg-block">
                    </div>
                    <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                        <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0 radius-tl-lg-0 radius-bl-0 radius-bl-lg-secondary" style="background-image:url(../assets/images/8.jpg);">
                        </div>
                        <!--/.background-holder-->
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary">
                        <div class="d-flex align-items-center h-100">
                            <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                <div class="overflow-hidden">
                                    <h3 data-zanim='{"delay":0}'>Mission & Vision</h3>
                                    <h5 data-zanim='{"delay":0}'> Our Mission</h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim='{"delay":0.1}'>To promote and provide meaningful and quality education to all aspirants at affordable costs in Universities that are approved and recognized by both MCI and WHO.</p>
                                    <p>To make awareness about the education opportunities available in technical specialities and MBBS in Abroad.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div data-zanim='{"delay":0.2}'>
                                        <a class="d-flex align-items-center" href="#">
                                            Learn More<div class="overflow-hidden ml-2">
                                                <span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="overflow-hidden">
                                    <h5 data-zanim='{"delay":0}'> Our Vision</h5>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="mt-3" data-zanim='{"delay":0.1}'>NEURONS EDUCATION has the vision of turning your dream into reality by Reaching out to the aspiring students and provides them with the required guidance and support to fulfil their dreams.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div data-zanim='{"delay":0.2}'>
                                        <a class="d-flex align-items-center" href="#">
                                            Learn More<div class="overflow-hidden ml-2">
                                                <span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <section class=" background-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <h3 class="color-primary fs-2 fs-lg-3">Exclusive Countries</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Armenia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/china.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">China</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/gorgea.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Georgia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/KAZAKHSTAN.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Kazakhstan</p>
                                    </a>
                                </div>

                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/nepal.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Nepal</p>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/philipins.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Philippines</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Russia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Singapore</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/ukraine.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">ukraine</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Singapore</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/kyrgyzstan.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">kyrgyzstan</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center">Armenia</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <section class="background-facebook">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <h3 class="color-white fs-2 fs-lg-3">Exclusive Colleges</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Chuvash State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/china.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Kabardino Balkarian State University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/gorgea.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Crimea Federal University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/KAZAKHSTAN.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Bashkir State Medical University, Russia</p>
                                    </a>
                                </div>

                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/nepal.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Kazan Federal University Russia</p>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/philipins.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">People&#039;s Friendship University of Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Russia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">First Moscow State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Pirogov Russian National Research Medical University</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/ukraine.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Voronezh State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Altai State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/kyrgyzstan.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Far Eastern Federal University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Dagestan State Medical University Russia</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/ukraine.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Kursk State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Orenburg State Medical University, Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/kyrgyzstan.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Tver State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Ulyanovsk State Medical University</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/ukraine.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center; color:white">Perm State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/Singapore.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center;color:white">Tyumen State Medical University Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/kyrgyzstan.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center;color:white">Amur State Medical Academy Russia</p>
                                    </a>
                                </div>
                                <div class="col-3 col-md-3 mx-auto">
                                    <a href="#">
                                        <img class="radius-secondary mx-auto" src="../assets/images/img/armenia.jpg" alt="Member" style="width: auto" />
                                        <p style="text-align:center;color:white">OMSK State Medical University</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <!--   <section class="pt-0">
               <div class="container">
                   <div class="row align-items-center justify-content-center text-center">
                       <div class="col-11 col-md-12">
                           <div class="pos-relative mt-4 py-5 py-md-11">
                               <div class="background-holder radius-secondary" style="background-image:url(~/assets/images/video-screenshot-2.jpg);"></div>
                               <a class="video-modal" href="https://www.youtube.com/watch?v=jlWMTNZNOc0" data-start="6" data-end="168">
                                   <div class="btn-Neurons Education-play" style="transform: scale(0.8)" data-zanim-trigger="scroll" data-zanim='{"from":{"opacity":0,"scale":0.8},"to":{"opacity":1,"scale":1},"duration":1}'>
                                       <span class="ion-play fs-2"></span>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>

               </div>
           </section>-->
        <section class="pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h5 data-zanim='{"delay":0}'>
                            <span class="fa fa-users color-primary mr-3"></span>Awesome Team
                        </h5>
                        <p class="mt-3 pr-3 pr-lg-5" data-zanim='{"delay":0.1}'>Before talking destination, we shine a spotlight across your organization <br />to fully understand it.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h5 data-zanim='{"delay":0}'>
                            <span class="fa fa-comments color-primary mr-3"></span>Excellent Support
                        </h5>
                        <p class="mt-3 pr-3 pr-lg-5" data-zanim='{"delay":0.1}'>If you face any trouble, you can always let our dedicated support team help you. They are ready for you 24/7.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <h5 data-zanim='{"delay":0}'>
                            <span class="fa fa-bolt color-primary mr-3"></span>Faster Performance
                        </h5>
                        <p class="mt-3 pr-3 pr-lg-5" data-zanim='{"delay":0.1}'>We develop a systematic well-ordered process of analysis, from concept through implementation.</p>
                    </div>
                </div>
                <!--/.row-->
            </div><!--/.container-->
        </section>
        <section class="background-facebook">
            <h3 class="text-center h2" style="color: #fff!important;font-weight: 700;">Why Choose Us</h3>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="text-align: justify;">
                        <p style="color: #fff;">We are one of the leading and oldest Educational Consultancy firm ESTD in 2008. We are expert in MBBS abroad admission and provide assured seats at MCI Approved Medical Colleges in Abroad.</p>
                        <p style="color: #fff;">Our Overseas MBBS Consultants are always open to help students and provide them proper guidance about MBBS colleges in abroad for Indian students. Our goal is to develop a strong relationship with the candidates based on trust.</p>
                        <p style="color: #fff;">We are the best consultancy for MBBS abroad provides free counseling and our expert counselors help to take wiser academic decisions. We have a tie-up with diverse top universities which help in making student future secured.</p>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-4">
                        <div style=" background: linear-gradient( 315deg, #fd3bca 60%, #ffc84b 60%);; padding: 24px; height: 232px; border-radius: 5px;">
                            <i class="icon-Business-Mens" aria-hidden="true" style="font-size: 40px;"></i>
                            <h4 style="color: #002347;">COUNSELLING</h4>
                            <p style="color:black">Expert counselors &amp; best faculty for providing end-to-end counseling to education seekers and secure their carrier.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div style="background: linear-gradient( 315deg, #ff6464 40%, #5ac8fa 40%); padding: 24px; height: 232px; border-radius: 5px; ">
                            <i class="icon-Handshake" aria-hidden="true" style="font-size: 40px;"></i>
                            <h4 style="color: #002347;">GUIDANCE</h4>
                            <p style="color:black">India’s well-experienced counselors deliver proper guidance to many students for more than a decade.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div style="background: linear-gradient( 315deg, #fff810 30%, rgba(0,0,0,0) 30%), linear-gradient( 249deg, #63e89e 60%, #ff7ee3 60%); padding: 24px; height: 232px; border-radius: 5px; ">
                            <i class="icon-Truck" aria-hidden="true" style="font-size: 40px;"></i>
                            <h4 style="color:#002347;">TRAVEL</h4>
                            <p style="color:black">We will manage your entire travel including Air Ticket, Visa, Pick up &amp; Drop. We help students from the beginning to the end of the journey, free of cost.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="background-info">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md">
                        <h4 class="color-white mb-0">If you have any query related investment... <br class="d-md-none" />we are available 24/7</h4>
                    </div>
                    <div class="col-md-auto mt-md-0 mt-4">
                        <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:119px; color:white; border-color:white">Get-In-Touch</button>
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </section>
        <!--  <section class="background-white  text-lg-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-6">
                          <h3 class="color-primary fs-2 fs-lg-3">What Makes Us Special</h3>
                          <p class="px-lg-4 mt-3">Get expert consultancy and support with Neurons Education, an advisory firm that stand by your side always.</p>

                      </div>
                  </div>
                  <div class="row mt-4 mt-md-5">
                      <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                          <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"delay":0}' style="height:100px; width:100px">
                              <span class="icon-Bar-Chart5 fs-3 color-blueish mx-auto fw-600"></span>
                          </div>
                          <h5 class="mt-4" data-zanim='{"delay":0.1}'>Free Counselling</h5>
                          <p data-zanim='{"delay":0.2}'>Neurons Educational Services (NES) has a team of trained and expert career counsellors, who provide help to identify the professional goals, enabling the student to take a wiser academic decision. These counsellors give Personal Guidance to choose courses that perfectly fits your Career or Personal Goals.</p>
                      </div>
                      <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                          <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                              <span class="icon-Clock fs-3 color-blueish mx-auto fw-600"></span>
                          </div>
                          <h5 class="mt-4" data-zanim='{"delay":0.1}'>University Selection</h5>
                          <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>NES counsellors help you to select the right University across the world according to the need and requirement of the student. We look at our students academic documents to make sure it is as per the norms specified by the University.</p>
                      </div>
                      <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                          <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                              <span class="icon-Idea-2 fs-3 color-blueish mx-auto fw-600"></span>
                          </div>
                          <h5 class="mt-4" data-zanim='{"delay":0.1}'>Pre-Departure Guidance</h5>
                          <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>NES assists you completely while applying for the passport. We provide you the complete check list of required document to apply passport. </p><br />
                      </div>
                      <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                          <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px">
                              <span class="icon-Headset fs-3 color-blueish mx-auto fw-600"></span>
                          </div>
                          <h5 class="mt-4" data-zanim='{"delay":0.1}'>Forex Assistance</h5>
                          <p class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>We assist our students in getting currency exchange. At NES, we make sure that our students get the best possible exchange rate. We have tie-ups with various International Banks that provide Forex Card to the students.</p>
                      </div>
                  </div>
               </div>
          </section>-->
        <!--<section class="text-center">
        <div class="container">
            <h3>Things You Get</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            <span class="icon-Double-Circle fs-3 color-primary fw-600" data-zanim='{"delay":0}'></span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Creative Support</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>We transform brands, grow businesses, and tell brand and product stories in a most creative way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            <span class="icon-Mail-2 fs-3 color-primary fw-600" data-zanim='{"delay":0}'>
                            </span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Creating Experiences</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>We cover a large range of creative platforms and digital projects with one purpose: to create experiences.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            <span class="icon-Archery-2 fs-3 color-primary fw-600" data-zanim='{"delay":0}'></span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Product Consulting</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>We guide you through the pipelines that generate new products with higher potential and lower risk.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            <span class="icon-Globe-2 fs-3 color-primary fw-600" data-zanim='{"delay":0}'></span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Business Boosting</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>We provide energy-efficient and environmentally conservative solutions to our clients to boost their business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            <span class="icon-Money-2 fs-3 color-primary fw-600" data-zanim='{"delay":0}'>
                            </span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Strategic Approach</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>Based on solid strategic framework and real, relevant research, we create prototypes, not presentations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="px-3 py-4 px-lg-4">
                        <div class="overflow-hidden">
                            \<span class="icon-Bar-Chart fs-3 color-primary fw-600" data-zanim='{"delay":0}'></span>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="mt-3" data-zanim='{"delay":0.1}'>Logistic Consulting</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mb-0" data-zanim='{"delay":0.2}'>We work buy side and sell side to give our clienrts hard hitting answers and focus hard on best opportunities. </p>
                        </div>
                    </div>
                </div>
            </div>-->
        <!--/.row-->
        <!--</div>-->
        <!--/.container-->
        <!--</section>-->
        <section>
            <div class="background-holder overlay overlay-Neurons Education" style="background-image: url(../assets/images/background_kalki.jpg);">
            </div>
            <!--/.background-holder-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="media">
                            <span class="ion-android-checkmark-circle fs-5 color-warning mr-3" style="transform: translateY(-1rem)">
                            </span>
                            <div class="media-body">
                                <h2 class="color-warning fs-3 fs-lg-4">
                                    Take the right step,<br />
                                    <span class="color-white">do the big things.</span>
                                </h2>
                                <div class="row mt-4 pr-lg-10">
                                    <div class="col-md-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>50</div>
                                        <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Universities</h6>
                                    </div>
                                    <div class="col col-lg-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>15000</div>
                                        <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Doctors</h6>
                                    </div>
                                    <div class="w-100 d-flex d-lg-none">
                                    </div>
                                    <div class="col-md-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>5000</div>
                                        <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Students</h6>
                                    </div>
                                    <div class="col col-lg-3 overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                        <div class="fs-3 fs-lg-4 mb-0 lh-2 fw-700 color-white mt-lg-5 mt-3" data-zanim='{"delay":0.1}'>200</div>
                                        <h6 class="fs-0 color-white" data-zanim='{"delay":0.2}'>Associates</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <section class=" background-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    <img class="radius-secondary mx-auto" src="../assets/images/Doctor_Male.png" alt="Member" style="width: auto" />
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">I am MBBS student in a well known Meical University in Russia. I took admission in MBBS through Neurons Educational Services and it will not be wrong to say that I did not need to do even a single thing.Their admission process was very easy. Every documentation was done through them and post departure services was very good. Thank you so much Neurons Educational Services.</p>
                                    <h6 class="fs-0 mb-1 mt-4">Ashish Vyas</h6>
                                    <p class="mb-0 color-7">Student of MBBS, Russia.</p>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    <img class="radius-secondary mx-auto" src="../assets/images/Doctor_Male.png" alt="Member" style="width: auto" />
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">
                                        Hello, myself Mohit sharma from Weir (Bharatpur). Becoming a doctor may be a dream of all. Currently i'm studying in St. Thereza Medical university Yerevan ( Armenia ) to get the doctorate degree. There is very good hostel and mess facility (indian food). thanks to the assistance of Neurons Education.
                                    </p>
                                    <h6 class="fs-0 mb-1 mt-4">Mohit Sharma</h6>
                                    <p class="mb-0 color-7">Student of MBBS, Armenia.</p>
                                </div>
                            </div>
                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    <img class="radius-secondary mx-auto" src="../assets/images/Doctor_Male.png" alt="Member" style="width: auto" />
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">
                                        I am Rahul Swarnkar i got admission in medical college in Kazakhstan my parents are very happy after to join a medical college. My parents feel very relaxed. Neurons Education has been very helpful and supported and again thanks for neurons education team.
                                    </p>
                                    <h6 class="fs-0 mb-1 mt-4">Rahul Swarnkar</h6>
                                    <p class="mb-0 color-7">Student of MBBS, Kazakhstan.</p>
                                </div>
                            </div>



                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    <img class="radius-secondary mx-auto" src="../assets/images/Doctor_Male.png" alt="Member" style="width: auto" />
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">
                                        Neurons Education provide best services even now they are offering for complete solution for mbbs abroad . highly satisfied and thankful with services of NEURONS EDUCATION.
                                    </p>
                                    <h6 class="fs-0 mb-1 mt-4">Jay Chaturvedi</h6>
                                    <p class="mb-0 color-7">Student of MBBS.</p>
                                </div>
                            </div>

                            <div class="row px-lg-8">
                                <div class="col-4 col-md-3 mx-auto">
                                    <img class="radius-secondary mx-auto" src="../assets/images/Doctor_Male.png" alt="Member" style="width: auto" />
                                </div>
                                <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                                    <p class="lead fw-400">
                                        I'm satisfy with your services bcoz few days ago I was worried about my career. I couldn't decide what should I do then, my friend told me about Neurons Education and they have suggested me the right direction for my bright career.
                                    </p>
                                    <h6 class="fs-0 mb-1 mt-4">Vivek Sharma</h6>
                                    <p class="mb-0 color-7">Student of MBBS.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>

        <!-- <section class="background-10 py-6">
             <div class="container">
                 <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo2.png" alt="" data-zanim="{}" />
                     </div>
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo1.png" alt="" data-zanim="{}" />
                     </div>
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo6.png" alt="" data-zanim="{}" />
                     </div>
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo3.png" alt="" data-zanim="{}" />
                     </div>
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo5.png" alt="" data-zanim="{}" />
                     </div>
                     <div class="col-4 col-md-2 my-3 overflow-hidden">
                         <img src="../assets/images/partner/logo4.png" alt="" data-zanim="{}" />
                     </div>
                 </div>
             </div>

             </section>-->


        <section style="background-color: #3D4C6F">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="background-primary color-white p-5 p-lg-6 radius-secondary">
                            <h4 class="color-white fs-1 fs-lg-2 mb-1">Sign up for email alerts</h4>
                            <p class="color-white">Stay current with our latest insights</p>
                            <form class="mt-4">
                                <div class="row align-items-center">
                                    <div class="col-md-7 pr-md-0">
                                        <div class="input-group">
                                            <input class="form-control" type="email" placeholder="Enter Email Here" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 mt-3 mt-md-0">
                                        <button class="btn btn-warning btn-block" type="submit">
                                            <span class="color-primary fw-600">Submit</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-6 col-lg-4 color-white ml-lg-auto">
                                <h5 class="color-white">Important Link</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-3"><a class="color-white" href="#">NMC/MCI</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NEET Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NMAT Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">FMGE Exam</a></li>
                                    <li class="mb-3"><a class="color-white" href="#">NEXT Exam</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-sm-5 ml-sm-auto">
                                <a href="https://www.linkedin.com/in/neurons-education-a91a40133/">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-linkedin color-white"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Linkedin</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://twitter.com/neuronsedu">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-twitter color-white"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Twitter</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://www.facebook.com/NeuronsEducation">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-facebook color-white">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Facebook</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://www.instagram.com/neuronsedu/">
                                    <div class="row mb-3 align-items-center no-gutters">
                                        <div class="col-auto">
                                            <div class="background-primary text-center d-flex align-items-center radius-primary" style="height: 40px; width: 40px;">
                                                <span class="w-100 fa fa-instagram color-white">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-6 pl-3">
                                            <h5 class="fs-0 color-white mb-0 d-inline-block">Instagram</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
        <section class="background-primary text-center py-4">
            <div class="container">
                <div class="row align-items-center" style="opacity: 0.85">
                    <div class="col-sm-3 text-sm-left">
                        <a asp-page="Index">
                            <img src="../assets/images/Neurons_Logo_White.png" alt="" style="height:61px" />
                        </a>
                    </div>
                    <div class="col-sm-6 mt-3 mt-sm-0">
                        <p class="color-white lh-6 mb-0 fw-600">&copy; Copyright 2011-2021 Neurons Education LLP</p>
                    </div><div class="col text-sm-right mt-3 mt-sm-0">
                        <a class="color-white" href="https://www.kalkisoftware.com/" target="_blank"> Designed by Kalki Software</a>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </section>
    </main><!--  -->

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width: 600px; background-color: #18171791; margin-top:88px">

            <div class="w3-center">
                <br>
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-10 mx-auto"
                         data-zanim-timeline="{}"
                         data-zanim-trigger="scroll">
                        <div data-zanim='{"delay":0}'>
                            <a href="index.html">
                                <img src="../assets/images/Neurons_Logo_White.png" alt="kalki software" height="70px" />
                            </a>
                        </div>
                        <div class="background-transparent radius-secondary"
                             data-zanim='{"delay":0.1}'>
                            <h4 class="text-uppercase fs-0 fs-md-1" style="color:white">
                                Get in Touch
                            </h4>
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Mobile No."
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Message"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-md-12 mt-3" style="margin-bottom:24px">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Submit
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--/.row-->
            </div>
        </div>
    </div>
    <a class="whats-app" href="https://wa.me/9950896262" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/610bc06a649e0a0a5ccfaa5c/1fcauf8m5';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--    JavaScripts-->
    <!--    =============================================-->

    <script src="../ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="../assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="../ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../assets/lib/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>
    <script src="../assets/lib/CustomEase.min.js"></script>
    <script src="../assets/js/config.js"></script>
    <script src="../assets/js/zanimation.js"></script>
    <script src="../assets/js/inertia.js"></script>
    <!-- Hotjar Tracking Code for http://kalkisoftware.com/tryelixir-->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 710415, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics-->

    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-76729372-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-76729372-5');

    </script>
    <script>
    </script>
    <script src="../assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../assets/lib/remodal/dist/remodal.js"></script>
    <script src="../assets/lib/lightbox2/dist/js/lightbox.js"></script>
    <script src="../assets/lib/flexslider/jquery.flexslider-min.js"></script>
    <script src="../assets/js/core.js"></script>
    <script src="../assets/js/main.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="../assets/lib/lightbox2/dist/css/lightbox.css" rel="stylesheet">

    <style>
        .npfWidget-249018df2e55bbbfa2ad419f91c0d54e.npfWidgetButton {
            transform: rotate(270deg);
            position: fixed;
            top: 45%;
            right: -4%;
            z-index: 999;
            background-color: #d92218;
            border-color: #d92218;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 18px;
            color: #fff;
            line-height: 1.33;
            padding: 8px 18px;
            font-weight: bold;
            cursor: pointer;
            border: 0;
        }

        .npfTitle-249018df2e55bbbfa2ad419f91c0d54e {
            font-size: 22px;
            text-align: center;
        }

        div#popup-249018df2e55bbbfa2ad419f91c0d54e {
            z-index: 99999;
        }
    </style>

    <button type="button" class="npfWidgetButton npfWidget-249018df2e55bbbfa2ad419f91c0d54e">Enquire Now</button>

    <script src="https://cdn.npfs.co/js/widget/npfwpopup.js"></script>
    <script>let npfW249018df2e55bbbfa2ad419f91c0d54e = new NpfWidgetsInit({ 'widgetId': '249018df2e55bbbfa2ad419f91c0d54e', 'baseurl': 'widgets.nopaperforms.com', 'formTitle': 'Enquiry Form', 'titleColor': '#FF0033', 'backgroundColor': '#ddd', 'iframeHeight': '500px', 'buttonbgColor': '#ff0000', 'buttonTextColor': '#FFF', });</script>
</body>

</html>
