﻿@page
@model neuronsEdu.Pages.International_School_of_Medicine_BishkekModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | International School of Medicine, Bishkek</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/International_School_of_Medicine_Bishkek.jpg" alt="MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | International School of Medicine, Bishkek">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>International School of Medicine, Bishkek</h5>
                        <section>
                            <p>Established in 2003, the International School of Medicine became a part of the International University of Kyrgyzstan. Every year, the medical school admits 2500 students (approx..) from Central as well as South Asia.</p>
                            <p>Since 2003, the medical school is training highly-qualified specialists, conduct scientific research in medicine and provide health services to the population of Kyrgyz Republic as well as to its neighboring countries. Training at ISM is conducted with the most up-to-date educational technologies used to ensure highly efficient training of doctors.</p>
                            <p>The International School of Medicine is an official state educational institution with the license of Ministry of Education and Science of Kyrgyz Republic for medical education in General Medicine. The University is recognized by WHO, IIME, FAIMER, and ORPHEUS.</p>

                            <hr />
                            <h5>Faculties</h5>
                            <P>&#9992; Department/Chair of Humanitarian Science</P>
                            <P>&#9992; Department/Chair of Pediatrics, Obstetrics and Gynecology</P>
                            <P>&#9992; Department/Chair of Public Health</P>
                            <P>&#9992; Department/Chair of Scientific Disciplines</P>
                            <P>&#9992; Department/Chair of Surgery</P>
                            <P>&#9992; Department/Chair of Fundamental Disciplines</P>
                            <P>&#9992; Department/Chair of Special Clinical Disciplines</P>
                            <P>&#9992; Department/Chair of Internal Medicine</P>
                            <P>&#9992; Department/Chair of Therapy</P>
                            <P>&#9992; Department/Chair of Pathology</P>
                            <P>&#9992; Department/Chair of Macro and Micro Anatomy</P>

                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_4.png">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/International_School_of_Medicine_Bishkek_4.png">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>ISM has excellent facilities for sports and leisure. There are various extra-curricular activities which include libraries, internet rooms, sport sections, theatres. The faculty of ISM conducts cultural as well as organizational work with students such as excursions to museums, going to theaters, sightseeing in Kyrgyzstan, and trips to mountains.</p>
                        <p>ISM provides accommodation in hostels with all modern facilities. Hostels have access to internet services and students are protected by the Association of students.</p>



                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/International_School_of_Medicine_Bishkek_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>