﻿@page
@model neuronsEdu.Pages.Jalal_Abad_Stat_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Jalal Abad Stat University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Jalal_Abad_Stat_University.jpg" alt="MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Jalal Abad Stat University">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Jalal_Abad_Stat_University, Jalal-Abad</h5>
                        <section>
                            <p>Jalalabad State Medical University came into existence just after one year after Osh State University was started, that is, 1992. It is a public body institution and provides options for higher studies in several departments such as construction, energy, electronics, medical education, agriculture, etc. Going by the figures, the Jalalabad State Medical University itself has more than 250 teachers. Out of these, over 10 faculty members are professors cum doctors & more than 40 are Ph. D doctors. They are highly skilled doctors and are also members of National Academy of Science in Kyrgyz Republic. These faculty members are serving as academic advisors for country.</p>
                            <p>At present, there are over 4,500 students who have enrolled in JSMU. The university has adopted such a system which provides the following levels of training, that is, Diploma, Associate Degree, Bachelor Degree, Master Degree & Doctorate degree.</p>
                            <hr />
                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of General Medicine</P>
                            <P>&#9992; Faculty of Nursing</P>
                            <P>&#9992; Faculty of Computers</P>
                            <P>&#9992; Faculty of Physics</P>
                            <P>&#9992; Faculty of Mathematics</P>
                            <P>&#9992; Faculty of Social Sciences</P>
                            <P>&#9992; Faculty of Humanities</P>
                            <P>&#9992; Faculty of Russian Language</P>
                            <P>&#9992; Faculty of Kyrgyz Language</P>
                            <P>&#9992; Faculty of Biology</P>
                            <P>&#9992; Faculty of Pedagogy</P>
                            <P>&#9992; Faculty of Psychology</P>
                            <P>&#9992; Faculty of Physical Education</P>
                            <P>&#9992; Faculty of Ecology</P>
                            <P>&#9992; Faculty of Mechanics</P>
                            <P>&#9992; Faculty of Food Technology</P>
                            <P>&#9992; Faculty of Chemistry</P>
                            <P>&#9992; Faculty of Chemical Engineering</P>
                            <P>&#9992; Faculty of Water Engineering</P>


                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Jalal_Abad_Stat_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>ISM has excellent facilities for sports and leisure. There are various extra-curricular activities which include libraries, internet rooms, sport sections, theatres. The faculty of ISM conducts cultural as well as organizational work with students such as excursions to museums, going to theaters, sightseeing in Kyrgyzstan, and trips to mountains.</p>
                        <p>ISM provides accommodation in hostels with all modern facilities. Hostels have access to internet services and students are protected by the Association of students.</p>



                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Jalal_Abad_Stat_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>