﻿@page
@model neuronsEdu.Pages.Kazakhstan_Russian_Medical_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Kazakhstan Russian Medical University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Kazakhstan_Russian_Medical_University.jpg" alt="MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Kazakhstan Russian Medical University">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Kazakhstan Russian Medical University</h5>

                        <p>The Kazakh-Russian Medical University is one of the largest private universities in the country, has passed state certification four times ( 1998, 2003, 2007, 2012 ) and issues a state diploma . Our history began in 1992, on the wave of major political and economic transformations, where an important place was given to the reform of science and higher education. It was at that time that the academician of the Academy of Sciences of the Republic of Kazakhstan, the president of the Academy of Medical Sciences of the Republic of Kazakhstan, a member of the International Association of Surgeons, the People's Hero of Kazakhstan - Mukhtar Alievich Aliev, together with Professor Maskeyev K.M. and associate professors Golubchenko V.S. and Panova O.A.founded one of the first private universities in the CIS. Then it became known as the Kazakhstan Medical Institute (KMI). Later, in 2010, the university was renamed into the Kazakh-Russian Medical University.</p>
                        <p>Kazakh Russian Medical University is one of the top private colleges in the Republic of Kazakhstan. It was formerly popular as Kazakhstani Medical University has unlocked its doors in the year 1992. The University was founded by the member of Academy of Sciences of Kazakhstan, Dr. Mukhtar Aliyevich Aliyev. The educational procedure is completely planned within the Department of Kazakh Russian Medical University. The University is capable of providing medical training at clinical sites of a renowned medical institution to its candidates.</p>
                        <p>The enrolment at the university will be made on a competitive basis. Also, applicants without citizenship or foreign citizenship are acknowledged in agreement with the legislation of the Republic of Kazakhstan as well as international treaties validate by the Republic of Kazakhstan. The Rules and regulation of admission at KRMU are developed in agreement with the Model Rules of Admission, accepted by Government of the Republic of Kazakhstan.</p>
                        <p>The educational strategy at the Kazakh Russian Medical University meets the benchmark of education. In addition, new methods and plan of teaching to advance medical learning in the Republic of Kazakhstan were effectively tested at the KRMU.</p>
                        <p>The medical teaching is guided by more than 200 lecturers in which most of them are reputed and well- known doctors, foreign scientist, and some famous Kazakhstani. The students will also get the opportunity to practice and study in abroad with the academic mobility program. Students will have the option to choose their learning language (Kazakh or Russian).</p>
                        <p>Kazakh Russian Medical University has good relations with the University in the country and far abroad. Their partner list comprises of Nagasaki University, The Federal centre of Heart, Bashkir state Medical University, Kyrgyz-Russian Slavic University, Omsk state Medical Academy and the list goes on. The joint research programs, educational activities, research in Genetics, child and maternal health care are created at the KRMU.</p>
                        <hr />

                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakhstan_Russian_Medical_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>Students are provided with comfortable rooms at the modern hostels situated within the medical campus. Students have all conditions for enjoying sport and social activities such as sport halls, swimming pools, Internet.</p>
                        <p>Different social and cultural events are organized for international students. The academy provides a springboard for sportsmen with sporting facilities such as sports complex, including gymnasium, indoor football, badminton, tennis, volleyball, athletic stadiums, etc. The Faculty's staff encourages academic, national and other interests of students. National and International associations of students are being organized to unite students from different countries.</p>
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>