﻿@page
@model neuronsEdu.Pages.Kazakh_National_Medical_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Kazakh National Medical University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Kazakh_National_Medical_University.jpg" alt="MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Kazakh National Medical University">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Kazakh National Medical University</h5>
                        <section>
                            <p>Kazakh National Medical University is a university in Almaty, Kazakhstan. It is the no.1 medical institute in all of Kazakhstan. Many of Kazakhstan’s leading physicians are affiliated with the university. It is dedicated to S.D. Asfendiyarov who was the first rector when the university was established in 1931. In 2001, the government classified it as a «national» university. There are more than 11000 students, PhD students study at KazNMU, and there are more than 1500 faculty members working at KazNMU, including more than 200 doctors of science, 130 professors, more than 500 candidates of science and 15-laureates of State prizes. At the university there are 76 departments and 7 courses at 6 faculties (therapeutic, pediatric, public health, management in public health and pharmacy, general medicine, professional training and 2 faculties (pharmaceutical and stomatological) departments were transformed into modules (pharmaceutical faculty 5 modules, stomatological 9 modules).</p>
                            <p>The university has introduced and certified the System of Quality Management in the field of “Development and educational services rendering in the sphere of high professional education in medicine; advanced medical high school studies of doctors and teachers; rendering therapeutic diagnostic services; carrying on scientific investigations in medicine” (Certificate SGS (Sweden) № HU 11/5879 of June, 20,2011).</p>
                            <h5>History of Kazakh National Medical University named after S.D. Asfendiyarov</h5>
                            <p>In 1930 by RSFSR SP council’s decision the first institute in Kazakhstan was founded. The first rector was S.D.Asfendiyarov, a graduating-student of Leningrad Military Medical Academy.</p>
                            <p>For great services and people’s public health development the medical institute was awarded the Order of the Red Banner of Labour in April of 1981. In 2001 Kazakh State medical university named after S.D.Asfendiyarov was awarded the high national status of the university.</p>
                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; General Medicine faculty</P>
                            <P>&#9992; Therapeutic Faculty</P>
                            <P>&#9992; Faculty of pediatrics</P>
                            <P>&#9992; Medico-Prophylactic Faculty</P>
                            <P>&#9992; Stomatology Faculty</P>
                            <P>&#9992; Pharmacy Faculty</P>
                            <P>&#9992; Faculty of Management in Public Health and Pharmacy</P>
                            <P>&#9992; Postgraduate</P>
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kazakh_National_Medical_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>KazNMU’s residence hall has a space for 2198 students, accommodated in sharing. There are 2, 3, 4- seater standard furnished rooms that are equipped with all the requirements for comfortable living for students. The students are provided with many facilities like Computer rooms, Canteen, gym, Kitchens, Laundry room, Library, Reading rooms, TV and DVD room, Study rooms on each floor are equipped with Wi-Fi internet access, and Sports complex (basketball, taekwondo, u-shu, sambo, judo, volleyball, wrestling, etc.)</p>
                        <p>There is a large number of student organizations at Kazakh National Medical University. There is Committee on youth affairs, Debate Club, KVN Team, University Student Government, Student Union Committee Demeu, Sector of students’ scientific-research work and council of young scientists, Volunteer club, Intellectual club, Student ombudsman, and Students university patrol.</p>

                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>