﻿@page
@model neuronsEdu.Pages.Kyrgyz_State_Medical_AcademyModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Kyrgyz State Medical Academy</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Osh_State_University_Medical_Faculty.jpg" alt="MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | Osh State University, Medical Faculty">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Kyrgyz State Medical Academy</h5>
                        <section>
                            <p>Established in 1939, Kyrgyz State Medical Academy (KSMA) is one of the oldest medical universities of Kyrgyzstan. The first batch of the University consisted of about 200 students. The universities of Saint Petersburg, Moscow, Tashkent, Taskent and more helped immensely in the establishment of it in the capital of Kyrgyzstan i.e. Bishkek. KSMA is considered as the prime university among all medical colleges in Kyrgyzstan.</p>
                            <p>In the University, there are more than 540 faculty members. KSMU is recognized by WHO, FAIMER, IMED as well as by MCI. Students can appear for USMLE, PLAT, NZREX, etc. for further studies in various countries like USA, UK, New Zealand, etc.</p>
                            <p>Apart from general medicine, stomatology & paediatrics is also available for students from India. The medical library of KSMA is one of the largest in whole of Kyrgyzstan comprising of more than 4,00,000 books and also having digital reading material in CD’s which provide suitable videos and illustrations too.</p>

                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of General Medicine</P>
                            <P>&#9992; Faculty of Pediatrics</P>
                            <P>&#9992; Faculty of Dentistry</P>
                            <P>&#9992; Faculty of Pharmacy</P>
                            <P>&#9992; Faculty of medical & Preventive Care</P>
                            <P>&#9992; Faculty of Nursing</P>

                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Kyrgyz_State_Medical_Academy_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>KSMA provides best quality facilities and infrastructure for its students. The education in KSMA is not just confined to the lecture halls. Students are provided with the best opportunities to participate in various extra-curricular activities such as conferences, clinical rotations, seminars, and projects.</p>
                        <p>There is a very healthy and friendly atmosphere in the campus of KSMA. The hostels are well-equipped with all the basic amenities like air conditioning, a laundry, electricity, heating system, internet access, kitchen, T.V., and water supply. The campus has various activity centers such as a library, gym, sports complex and much more. The campus is secured with 24 hour security system and guards.</p>



                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Kyrgyz_State_Medical_Academy_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>