﻿@page
@model neuronsEdu.Pages.mbbsinphilippinesModel
@{
}


<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Philippines</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Philippines</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image: url(../assets/countryimages/Philippines1.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN PHILIPPINES</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>No. of MBBS Seats for International Students -<strong> Not Declared</strong></p>
                            <p>MCI Approved Medical Colleges -<strong> 40</strong> </p>
                            <p>Lowest & Highest Tuition Fees: -<strong> PHP 145,000 to PHP 155,000 Per Year</strong> </p>
                            <p>
                                ELIGIBILITY & SCHOLARSHIP:- <strong>
                                    NEET Qualified Mandatory
                                </strong>
                            </p>
                            <div>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS IN PHILIPPINES</h5>
                    <p class="column-lg-2 dropcap"><b>MBBS in Philippines</b> is universally acclaimed and fundamentally the same as that of the USA. The course charge in schools of <b>MBBS in Philippines</b> is sensible and moderate contrasted with that in private medical universities in India. The Republic of the Philippines, or as more generally known; the Philippines is a Southeast Asian nation. As the Philippines was at one time a settlement of the US for 50 long years, the standard of the education framework incorporating. Medical universities of the Philippines have an eminent framework, an exceptionally qualified workforce, and world-class training. The fee structure, however, there are additionally numerous reasons why considering drug in a medical school in the Philippines could be a great decision for an Indian student. The Philippines is an establishing member of the United Nations, World Trade Organization, the Asia-Pacific Economic Cooperation gathering, Association of Southeast Asian Nations, World Trade Organization, and the East Asia Summit. The nation additionally has the HQ of the Asian Development Bank. The Philippines has demonstrated incredible progress in the economy from agribusiness to the one with administrations and assembling. Notwithstanding participation in the United Nations, the Philippines is likewise an establishing and dynamic individual from ASEAN (Association of Southeast Asian Nations). As an establishing individual from the United Nations, the Philippines has been chosen commonly into the Security Council. The nation is additionally a functioning member of the Human Rights Council and in peacekeeping missions.  </p>
                    <h5>Study MBBS in Philippines</h5>
                    <p class="mt-3"><b>Study MBBS in Philippines</b> is getting significant popularity among aspiring medical students. <b>Study MBBS in Philippines</b> is a fascinating idea, especially among Indian students. Due to rich teacher faculty and a higher level of intense practice sessions. The Philippines is the third biggest English-talking nation on the planet. This is one significant preferred position on the grounds that from the exact instant you land at the air terminal in the Philippines to your home country where you have to speak with your instructor you can impart in English all over the place and with everybody. Therefore, the experience of doing MBBS in the Philippines will be like contemplating in India or the USA, UK, Australia, and so on.</p>

                    <h5>MBBS in Philippines 2021</h5>
                    <p class="mt-3"><b>MBBS in Philippines 2021</b> is the very easy and low cost involved for Indian students. The Philippines is also known as the Republic of Philippines is an archipelagic island of Southeast Asia located in the Pacific Ocean. It is known for its rich biodiversity and abundance of natural resources. It is considered to be the twelfth populated country in the world. The literacy rate of the country is approximately 93%. The country is home to people from different ethnicity and cultural background. Manila is the capital of the country and Quezon City is the most populous city. The country consists of 7,107 islands and is located on the western coast of the Pacific Ring of fire. Its coastline is considered the fifth largest coastline in the world. This island is bordered by the Philippine Sea, the South China Sea, and the Celebes Sea. Most of the mountains are volcanic in nature. Owing to its volcanic activity, it has a rich deposit of minerals and is the second-largest producer of geothermal energy.</p>
                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Philippines University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="asm">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/ama_philippines.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="asm">
                                        <h5 style="margin-bottom:0px">AMA SCHOOL OF MEDICINE</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Being a private institution with many medical students from across the globe, the AMA school of medicine aims at achieving the quality of education by having highly educated faculty to teach and guide the students. By having a high faculty to student ratio, taking care of the educational needs of the student is accomplished with ease. They offer a more practical hospital oriented live learning session than traditional lecture sessions. AMA school of medicine have enough facilities inside the campus and are associated with many governments and private hospitals for live sessions.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="asm" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="uph">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/perpetual_philippines.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="uph">
                                        <h5 style="margin-bottom:0px">UNIVERSITY OF PERPETUAL HELP</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">

                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="uph" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="csu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/CAGAYAN_philippines.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="csu">
                                        <h5 style="margin-bottom:0px">CAGAYAN STATE UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">A state-run university in the Cagayan that offers medical courses for everyone. They have valuable curriculum adopted from renowned medical education systems which taught by highly educated makes for the most valuable learning. The college is one of the earliest colleges to come with a medical degree having the right facilities in the country. Spread across 8 different locations, the university is so diverse and offers every course with zero compromises.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="csu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="dmsf">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/davaophilippines.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="dmsf">
                                        <h5 style="margin-bottom:0px">DAVAO MEDICAL SCHOOL FOUNDATION</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Davao city is one of the major cities in the Philippines where the college is located. The college is aimed at bridging the gap of the absence of doctors in rural and specialists in the urban environment. To fulfill its mission of producing more quality doctors every year, the college makes education more accessible and affordable to fellow citizens of the country and outside of the country too. Mindanao's chief city with all sorts of connectivity through air and water is also the largest by land area. The college has an association with some of the largest hospitals in town for educational co-operation and practicing during the internship.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="dmsf" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="lnwu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/LYCEUMphilippines.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="lnwu">
                                        <h5 style="margin-bottom:0px">LYCEUM NORTHWESTERN UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">The institution that began operation as a merger of North-western Educational Institution and Lyceum clinic back in the 70s has now grown into an interdependent medical community. The LWU is the major university in the Dagupan, Pangasinan region of the country. They have state of an art facility inside the campus combined with the medical centre that makes the base for an extraordinary learning experience.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="lnwu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>