﻿@page
@model neuronsEdu.Pages.kazakhstanModel
@{
}


<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Kazakhstan</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Kazakhstan</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/MBBS/Armenia/Armeniya.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN KAZAKHSTAN</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Mode of Instruction -<strong> English</strong></p>
                            <p>Course Duration -<strong> 4.8 Years</strong> </p>
                            <p>NEET - <strong> Mandatory</strong> </p>
                            <p>Score - <strong> 12th with 55% (PCBE)</strong></p>
                            <div>
                                <p>
                                    Medical Universities approved by the Ministry of Education Affairs,<br /> Kazakhstan & Medical Council of India - <strong>12 </strong>
                                </p>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS IN KAZAKHSTAN</h5>
                    <p class="column-lg-2 dropcap">
                        <b>MBBS in Kazakhstan</b> offers an Undergraduate Program with 5 years duration. However, the syllabus and medical program structure are similar to MBBS in India. The MBBS program is top-rated in Kazakhstan, which is offered by various medical universities of Kazakhstan. MBBS Tuition Fees are affordable in Kazakhstan range of between 15 to 35lakh for Indian and international students.
                    </p>
                    <p class="mt-3">
                        After completing the Medical Program, medical students who want to medical practice in India need to qualify NEXT(National Exit Test). Or those who want to work in Kazakhstan itself can earn than an Indian medical doctor's annual salary the healthcare system MBBS in Kazakhstan has been one of the mainstream choices for every Indian student. The reason being the length of the course for study<b>MBBS in Kazakhstan</b> is only 5 years and the general spending plan required to ponder <b>MBBS in Kazakhstan</b> is exceptionally less. It is less expensive to think about education in Kazakhstan when contrasted with the Philippines, Bangladesh, and Ukraine.
                    </p>
                    <p class="mt-3">
                        For the most part, students from Rajasthan go to Kazakhstan. Be that as it may, we have to consider the nature of instruction for study MBBS in Kazakhstan for Indian students. MBBS in Kazakhstan is for the students who are ready to turn out to be acceptable specialists however at reasonable expenses. It is not feasible for each student to tolerate the high gift or education cost charges in the Indian private medical universities.
                    </p>
                    <h5>Study MBBS in Kazakhstan</h5>
                    <p class="mt-3"><b>Kazakhstan</b> which is a cross-country nation of Asia is being the most blazing point for medical training, for example, MBBS because of the diversity of the reasons. The absolute first explanation is affordability. Indeed, you can bear the cost of the MBBS program at a genuinely sensible amount of money in contrast with different nations.</p>
                    <p class="mt-3">
                        Kazakhstan, a Central Asian country and past Soviet republic, connects from the Caspian Sea in the west to the Altai Mountains at its eastern edge with Russia and China. Its largest city is Almaty. It is a long-standing trading focus point that includes a tsarist-period Russian Orthodox church, Ascension Cathedral, and the Central State Museum of Kazakhstan, indicating countless Kazakh ancient pieces. On the off chance that you are an Asian nation resident, at that point you likely needn't bother with the appropriate response of this inquiry, as most of the Asian nation's residents realize that Kazakhstan is perhaps the best nation to seek after the MBBS course for various reasons. On the off chance that you are intending to seek after the MBBS program at any point in the near future managing the funds is not going to be a point of concern. Kazakhstan is known to convey world-class medicinal training explicitly to the MBBS at a truly sensible amount of funds and get you the best utilization of your investment. The admission procedure in Kazakhstan is likewise simpler and doesn't require full filling of the chaotic customs, in contrast to numerous different nations.
                    </p>
                    <h5>Some of the Quick Facts of MBBS in Kazakhstan are Given Below -</h5>
                    <p Class="mt-3">&#9992; Affordable Fee Structure.</p>
                    <p Class="mt-3">&#9992; Top Infrastructure.</p>
                    <p Class="mt-3">&#9992; Qualifying NEET mandatory.</p>
                    <p Class="mt-3">&#9992; The minimum fee starts from 25 Lac.</p>
                    <p Class="mt-3">&#9992; Minimum Eligibility Criteria.</p>
                    <p Class="mt-3">&#9992; Recognized by NMC, FAIMER, WHO.</p>
                    <p Class="mt-3">&#9992; Most China Medical universities are Government Funded.</p>

                    <p class="mt-3">Further, on the off chance that we talk about the instruction standard of <b>studying MBBS in Kazakhstan</b>, at that point the Kazakhstan education is perceived by the WHO, MCI, and other medical administrative assortments of various countries. Henceforth you can begin your training in any nation in the wake of seeking after the completing medical studies from Kazakhstan. The urban communities of Kazakhstan are a lot more secure than one can consider for a protected medical goal, yet it's as yet a smart thought to know about your environment and keep away from terrible neighborhoods in your city. It is constantly an astute choice to convey your enrolment qualifications and your student visa while forgetting about them from the grounds. A duplicate of the identification, visa, and enlistment papers is an unquestionable requirement. Be wary and don't stroll around pointlessly and you ought to be fine. Kazakhstan is the most secure nation to seek after your higher investigations.</p>
                    <h5>MBBS in Kazakhstan 2021 Update</h5>
                    <p class="mt-3">So, <b>MBBS in Kazakhstan</b> 2021 can be an astute choice to make. Students can benefit from the offices which the medical colleges in Kazakhstan for MBBS in 2021 offer and that too in moderate expenses. The colleges are well outfitted with every cutting edge convenience and furthermore have a decent framework and grounds.</p>
                    <p class="mt-3">Lodging and food are additionally accessible for the students originating from all sides of the world. The training framework in Kazakhstan and extraordinarily the medical colleges pull in numerous outsider students each year. With regards to looking for induction into any medicinal school for the MBBS program, most of the medical universities have the prerequisite of breezing through their placement test by the students who aspire to take admission. All things considered, it isn't the situation with the Kazakhstan Medical universities, as there are no criteria from the medical schools for directing the placement test. In the event that you are an Indian student, at that point you can legitimately take up the confirmation with no placement test, in any case, you simply need to have qualified the NEET test to be qualified for the bearing admission process of the Kazakhstan medical universities. Kazakhstan is one such nation from where you can seek the degree of MBBS at entirely reasonable costs and with a high calibre of medical education.</p>
                    <h5>MBBS in Kazakhstan Eligibility Criteria </h5>
                    <p class="mt-3">Checkout following eligibility criteria to get admission in Kazakh's medical universities- </p>
                    <ul>
                        <li>
                            The student must be 17 years in addition to 31st December of the year in which the admission is being applied.
                        </li>
                        <li>The student must more likely than not finished class twelfth from an ordinary board. He/she must have a total of at any rate half in Physics, Chemistry, and Biology and must have English as a mandatory subject if the student is from the General classification.</li>
                        <li>The student must have a total percentage of 40% in Chemistry, Physics, and Biology and must have English as a mandatory subject if the student is from SC/ST/OBC.</li>
                        <li>You have to clear NEET from 2018 onwards for affirmation in any nation abroad. A few universities will require a higher total rate in class twelfth.</li>
                    </ul> 
                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Kazakhstan University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <div class="logo">
                                    <img src="~/assets/countryimages/alfarabi.jpg" width="210" height="133" />
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="">
                                        <h5 style="margin-bottom:0px">AL FARABI KAZAKH NATIONAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p>Al Farabi Kazakh National University, also known as KazNU is located in Almaty Kazakhstan. It is of the largest universities in the country. Named after the scholar and Eastern Philosopher, Al Farabi, the education system and we developed infrastructure us attracting students all around the globe. According to the QS World ranking, the university holds 207th place in the world rating of best universities. The oldest classical university of KazNU was established by the Kazakh Regional Committee office on November 13th, 1933. The university gained the status of “National” university in the year 2001. More than 20,000 students from different parts of the world are enrolled in the university for different Bachelors, Masters, or Ph.D. programs. Approximately 2500 faculty members are placed at the university which included 400 doctors of science, professors, and associate professors.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="afknu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container"> 
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <div class="logo">
                                    <img src="~/assets/countryimages/kazakhrussian.jpg" width="210" height="133" />
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="">
                                        <h5 style="margin-bottom:0px">KAZAKHSTAN-RUSSIAN MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p>
                                Kazakh-Russian Medical University, this is a private institute in Kazakhstan and offers a varied range of courses within the premises out of which of course Medical course being a preferred choice for Indian applicants.<br /><br />

                                This co-educational institute invites applications from all over the world. The reason behind this is the updated curriculum and world-class infrastructure. More than 5000 students are enrolled and around 300 faculty members in the university. The university came into being in 1992 and within a short period of time, the university has managed to maintain its position and charm among the students.
                            </p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="kzrmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>