﻿@page
@model neuronsEdu.Pages.mbbsinrussiaModel
@{
}


<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Russia</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Russia</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image: url(../assets/countryimages/Russia5.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN RUSSIA</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Mode of Instruction -<strong> English</strong></p>
                            <p>
                                Medical Universities approved by the Ministry of Education Affairs,<br />
                                Russia & Medical Council of India - -<strong> 54</strong>
                            </p>
                            <p>Academic Year Start - <strong> September 2021</strong> </p>
                            <p>ELIGIBILITY & SCHOLARSHIP:- <strong> 50% in 10+2 (PCB)</strong></p>
                            <div>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS in Russia</h5>
                    <p class="column-lg-2 dropcap"><b>MBBS in Russia</b> offers an MD program for medical aspirants with a total duration of <b>6 years + 1-year internship (After qualifying FMGE in India)</b>. To get admission at Russian medical universities, medical aspirants must follow minimum eligibility: a valid NEET scorecard and a <b>10+2 (PCB) minimum of 50%</b>. All the medical universities of Russia are recognized by NMC, WHO, FAIMER, and listed in the world's top medical universities. The tuition FEE is affordable, starting at 2,40,000 Russian Ruble / Year to up to 5 lac Russian Ruble / Year with a minimum living cost. After completing the medical degree, students can work in Russia or sit in the <b>NEXT (National Exit Test)</b> screening test to practice and get a medical license in India.</p>
                    <h5>MBBS in Russia Eligibility</h5>
                    <ul>
                        <li>A student willing for <b>MBBS in Russia eligibility 2021</b> must have completed his 10+2 from a recognized board or equivalent with <b>50% marks</b> (for SC/ST/OBC the criteria is 40%).</li>
                        <li>A student must have studied <b>Physics, Chemistry, Biology, and English</b> as compulsory subjects in 10+2.</li>
                        <li>A student must be <b>NEET Qualified. Qualifying NEET</b> is a mandatory requirement for Indian candidates to be eligible to apply for MBBS in Russia.</li>
                        <li>A student must be <b>17 years of age as of 31st December 2021</b> in the year of applying for admissions.</li>
                    </ul>
                    <h5>MBBS in Russia 2021</h5>
                    <p class="mt-3">All students of MBBS in Russia 2021 get medical insurance for all courses and get full medical treatment when they need it. Students of MBBS can get grants or scholarships likewise on the off chance that they satisfy the grants or scholarship criteria. Students get preparing for a screening test taken by MCI during the medical course and educators are very much aware of a screening test taken by the MCI. Medical courses are instructed in English and Russian dialects, students of MBBS additionally get preparing to learn the Russian Language on the grounds that by learning the Russian language a student can speak with patients in the emergency clinic during the hour of medical practice. Students get completely comfortable in the college inside the college grounds with crisp and quality nourishment with food.</p>

                    <h5>Why MBBS in Russia Is Good?</h5>
                    <p>Some key points to be highlighted are -</p>
                    <p Class="mt-3">&#9992; Russia has some of the oldest universities in the world with world-class infrastructure and extensive experience in teaching.</p>
                    <p Class="mt-3">&#9992; As medical education in Russia started very early, medical universities in Russia have expert and trained faculty members who have also been involved in researches.</p>
                    <p Class="mt-3">&#9992; Medical Degrees awarded by the 54 medical universities in Russia are globally recognized and the students are eligible to write the licensing examinations for various countries including the FMGE/MCI, USMLE, and PLAB.</p>
                    <p Class="mt-3">&#9992; The universities have a low teacher-student ratio which is 1:7 which means that the teachers can give individual attention to all the students in the group.</p>
                    <p Class="mt-3">&#9992; The medium of instruction in Russia in English. However, the students will have to learn the Russian language to communicate with the patients and communicate with the locals for their daily needs.</p>
                    <p Class="mt-3">&#9992; Admission to MBBS in Russia is a very easy process and as experts in the field of admission guidance, counseling, and documentation, the counselors at Jagvimal Consultants are always available for your help</p>
                    <p Class="mt-3">&#9992; Students get international exposure offering them greater learning opportunities</p>
                    <p Class="mt-3">&#9992; There is no capitation fee or donation for admission to MBBS in Russia</p>
                    <p Class="mt-3">&#9992; Every year more than 5000 students fly to Russia for MBBS. This means the students will have a good group to study with and will not have much time to miss their homes and family</p>
                    <p Class="mt-3">&#9992; Most of the universities offering MBBS in Russia have an Indian mess. Indian food is easily available as so many students travel every year</p>
                    <p Class="mt-3">&#9992; The flights to different parts of Russia are easily available. Traveling to different locations in Russia is very easy as Russia has a developed transportation system</p>

                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Russian University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="bsmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/Bashkir-State-Medical-University.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="bsmu">
                                        <h5 style="margin-bottom:0px">BASHKIR STATE MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Bashkir State Medical University is ranked among the top 10 best universities in Russia. You will easily get admission in this college at low cost. It is also considered as the largest medico-scientific centres in Ufa, Russian Federation. UFA is the most beautiful city in Russia where you can get shopping malls, street food, and essential items from the local market. This University is providing education to its students from the last few years. Foreign scientists, as well as consultants, are invited to share experiences as well as deliver lectures. Here you will find University hospital, well-equipped laboratories, large library, sports facilities, 7 Building, five dormitories, out-patient clinics for medical and dental, medical and dental outpatient clinics, and a summer camp facility etc. Since 1932 Bashkir State Medical University has trained more than 33 thousand doctors.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="bsmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="asmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/Altai_State_Medical_University_1.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="asmu">
                                        <h5 style="margin-bottom:0px">ALTAI STATE MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Located in Barnaul, Russia, Altai State Medical University was founded in 1954 and is one of the largest medical faulty universities amongst all in the Altai region. It is also one of the largest medical universities in the Russian Federation. The alumni from the medical department of Altai State Medical University are accommodated into professional activities at healthcare institutions, educational institutions, social welfare and research welfare institutions. Until 1994, Altai State Medical University was known as the Altai State Medical Institute. It is a public university in Barnaul and at present has 60 departments and seven faculties that are fully functioning. Over 4000 students study at Altai State Medical University out of which 350 international students belong to countries like India, Kazakhstan, Nigeria, Bangladesh, Mongolia, Afghanistan etc. The eminent teaching staff at the university includes 12 Doctors of Medical Science, 15 PhD and high-level physicians.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="asmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="msu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/MARI-STATE-MEDICAL-UNIVERSITY.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="msu">
                                        <h5 style="margin-bottom:0px">MARI STATE UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">To apply for MBBS in Russia at Mari State University is not having a single campus, but it is a merger of 6 more institutes with 6 faculties that convoys their students beyond their capabilities. With the establishment in 1972, the university started giving quality education to the students for most of the sectors of the Russian national economy. There is an organization named as International Association of Finno-Ugric universities and Mari State University is one of the five founder members of the association.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="msu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="osmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/onberg.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="osmu">
                                        <h5 style="margin-bottom:0px">ORENBURG STATE MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">The university got established as a branch of the Kuibyshev Polytechnic Institute in the year of 1955. Now with so much growth, the university has its own research centres and its own branches. The university comprises in the region of 1200 lecturers, including 1800 as supporting staff. To provide proper medical training to the students, 18 clinical bases are there in Orenburg State Medical University. The university is offering postgraduate and graduate programs in General Medicine, Dentistry, Pharmacy, Clinical Psychology, Preventive care and Pediatrics. The university even provides the hostels to the students having a mess inside it. The university provides about 200 experts to the world every year in the field of medical science.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="osmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="ssmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/SIBERIAN_STATE_MEDICAL_UNIVERSITY.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="ssmu">
                                        <h5 style="margin-bottom:0px">SIBERIAN STATE MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">This university is not having a single campus, but it is a merger of 6 more institutes with 6 faculties that convoys their students beyond their capabilities. With the establishment in 1972, the university started giving quality education to the students for most of the sectors of the Russian national economy. There is an organization named as International Association of Finno-Ugric universities and Mari State University is one of the five founder members of the association.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="ssmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="nsmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/northern_university.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="nsmu">
                                        <h5 style="margin-bottom:0px">NORTHERN STATE MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">With the foundation of the university in 1901, the university started giving the educational environment to the students. In the 19thcentury, the university has shown up a swift growth due to which it got converted into a government-funded organization. The university provides all the modern technologies to their students. The university has 55 departments to offer an innovative way to the students.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="nsmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>