﻿@page
@model neuronsEdu.Pages.mbbsinnepalModel
@{
}

<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Nepal</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Nepal</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image: url(../assets/countryimages/nepaluniversity.jpg); ">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN NEPAL</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Course duration -<strong> 6 yrs (including internship)*</strong></p>
                            <p>Minimum Eligibility -<strong> 50% in 10+2 (PCBE)</strong> </p>
                            <p>NEET - <strong> Mandatory</strong> </p>
                            <p>Study MBBS in Nepal -<strong> Medical Universities approved by the Ministry of Education Affairs, Nepal& Medical Council of India- 16</strong></p>
                            <div>
                                <p>
                                    ELIGIBILITY & SCHOLARSHIP:- <strong>50% in 10+2 (PCBE)</strong>
                                </p>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS IN NEPAL</h5>
                    <p class="column-lg-2 dropcap"><b>Study MBBS in Nepal</b> is a very renowned spot among Indian students. The span of <b>study MBBS in Nepal</b> is five and a half years. During the initial four years, students will increase all the hypothetical information and clinical examination. Following four years, students will get an entry-level position. This excellent nation thinks of the standard level education, unobtrusive expense structure, and lesser documentation. All these reasons can draw anybody towards making a beeline for Nepal. The Indian students who are very enthusiastic towards their investigation consistently love to pick Nepal since these noticeable highlights they can't discover anyplace else. Opposing to different nations, interestingly, you don't have to have a visa. It implies you can head there without this accreditation. In addition, you will discover it very unique in relation to India as it is very like India whether it is about culture, nourishment propensities, and way of life. The staff is highly qualified. The student can disdain a specific subject in case it isn't appropriately instructed by the instructor. However, in Nepal which is very near India, a decent number of school personnel involve a decent number of Indian teachers.</p>
                    <h5>Top 10 Medical Colleges in Nepal</h5>
                    <ol>
                        <li>Nepalgunj Medical College </li>
                        <li>Birat Medical College And Teaching Hospital</li>
                        <li>Chitwan Medical College</li>
                        <li>Lumbini Medical College & Research Center Pvt. Ltd</li>
                        <li>Manipal College Of Medical Sciences</li>
                        <li>Nobel Medical College</li>
                        <li> Gandaki Medical College</li>
                        <li>Universal College Of Medical Science</li>
                        <li>Devdaha Medical College</li>
                        <li>National Medical College</li>
                    </ol>
                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Nepal University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="bpkihs">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/bpkorila.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="bpkihs">
                                        <h5 style="margin-bottom:0px">B.P. KOIRALA INSTITUTE OF HEALTH SCIENCES</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Situated in the sub-metropolitan city of Dharan, B.P Koirala Institute of Health Sciences is an autonomous health sciences university in Nepal. It is a Nepal- India cooperation institute and serves the health education needs at primary, secondary and tertiary level of the eastern region of Nepal. MBBS program in the Institute began in 1994 while the post graduate program incepted in 1999. The institute has 4 faculties to offer namely- the Faculty of Medicine, the College of Nursing, the School of Public Health and Community Medicine and the College of Dental Surgery. It has 700 sick bedded teaching hospital granting undergraduate, post graduate and other certificate programs.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="bpkihs" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="kmc">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/kistnepal.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="kmc">
                                        <h5 style="margin-bottom:0px">KIST MEDICAL COLLEGE</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">KIST Medical College, established in 2006 in Imadol, Nepal aims to provide the best curriculum and the best quality education to both national & international enrollments. Over the past years, KIST Medical College has earned immense goodwill in the national as well as international education market. It is seen as one of the best learning centers in Nepal for the study of medicine. The institute has highly qualified teaching staff, curriculum at par with international standards and strives to provide excellent healthcare education. The institute focuses on building professionals with moral values and ethics thereby making them responsible beings. The college hospital provides the best health care services to the public of Nepal. It got affiliated to the Institute of Medicine- Tribhuvan University in 2008.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="kmc" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="nmc">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/nationalmdclgnepal.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="nmc">
                                        <h5 style="margin-bottom:0px">NATIONAL MEDICAL COLLEGE</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">A pioneer medical institute, National Medical College was established in Birganj, Nepal in the year 2001. Affiliated to the Tribhuvan University and approved by the Medical Council of Nepal, Medial Council of India and Medical Councils of many more countries, it is one of the preferred choices on medical aspirants. The college aims to provide world class medical education to national as well as international aspirants. With modern infrastructure, advanced innovative technology and rapid growth, the college facilitates excellence in the field of medical education. It offers graduate & post graduate degree programs recognized by Tribhuvan University.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="nmc" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="ngmc">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/nepalganj.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="ngmc">
                                        <h5 style="margin-bottom:0px">NEPALGANJ MEDICAL COLLEGE</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">A leading private medical institution, Nepalganj Medical College was established in 1996 and is affiliated to the Kathmandu University. It is situated in Nepalganj, Nepal. Nepalganj Medial College is continuously working towards the growth & development and in the past years a rapid change in the infrastructure, quality of education, advancement can be seen. Since Nepal is a neighbouring country to India, Nepal and its medical schools are the foremost choice of Indian medical aspirants. The first batch of MBBS at Nepalganj Medical College started in 1997 and since then a desire to study at Nepalganj Medical Colllege can be seen among the Indian students. It offers both graduate & post graduate programs. The collge has two well equipped and technologically sound hospitals to provide practical trainings to its students. The hospital at the Banke district has 750 sick beds and the one situated at Kolhapur has 250 sick beds. The college has a team of qualified and specialized doctors, practitioners, professors and associate professors to impart education.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="ngmc" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="kthmc">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/kathmandumedicalcollege.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="kthmc">
                                        <h5 style="margin-bottom:0px">KATHMANDU MEDICAL COLLEGE</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Kathmandu Medical College is a private medical school established in 1997 in Kathmandu, the capital city of Nepal. It is affiliated to the Kathmandu University as recognized by the Medical Council of Nepal, Sri Lankan Medical Council, General Medical Council (UK) & Medical Council of India. Since 2002, Kathmandu Medical College & teaching Hospital has been added in the World Directory of Medical Schools given by the WHO. Following the recognitions, it is also updated in the International Medical Education Directory (IMED). Kathmandu Medical College functions from the 2 sites - basic sciences at the Duwakot, Bhaktapur and the clinical sciences at Sinamangal. The clinical hospital site is located close to the Tribhuvan International Airport at the Sinamangal. Emergency & the Genereal OPD services have already been started near the Duwakot campus where the community hospital is built. Annual enrolment goes around 100 students and the college offers both undergraduate & post graduate courses with undergraduate courses in general medicine, nursing and dentistry.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="kthmc" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="mcms">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/manipal_nepal.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="mcms">
                                        <h5 style="margin-bottom:0px">Manipal College of Medical Sciences</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Affiliated to the Kathmandu University, Manipal College of Medical Sciences was established in 1994 and is the first private medical institution in Pokhara, Nepal. Before the college was established, years back a deed was signed between the Government of Nepal, Manipal education and a medical group to lay down the medical institution foundation. Highly developed and advanced technological methods of the college attracts good number of students each year on both national & international level. Manipal College of Medical Science has a teaching hospital with 750 sick beds to train its students. Its offers enrollment opportunities to around 145-150 students every year for the study of medicine. Apart from majority of Indian and Nepalese students, Manipal College of Medical Sciences has students from nations like China, Canada, Sri Lanka and Bangladesh and offers graduate and post graduate at affordable price.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="mcms" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>