﻿@page
@model neuronsEdu.Pages.mbbsinukraineModel
@{
}


<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Ukraine</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Ukraine</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/MBBS/Armenia/Armeniya.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN Ukraine</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Course Duration -<strong> 5.8 Years</strong></p>
                            <p>Minimum Eligibility -<strong> 50% in 10+2 (PCB)</strong> </p>
                            <p>NEET - <strong> Mandatory</strong> </p>
                            <p>Medical Universities approved by the Ministry of Education Affairs, Ukraine & Medical Council of India  - <strong> 16</strong></p>
                            <div>
                                <p>
                                    ELIGIBILITY & SCHOLARSHIP:- <strong>50% in 10+2 (PCB)</strong>
                                </p>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS in Ukraine</h5>
                    <p class="column-lg-2 dropcap">
                        <b>MBBS in Ukraine</b> is the topmost vital aspect that is considered as per the Education standards by the government. It is one of the popular destinations in between the medical aspirants of the world, especially India. Ukraine holds an esteemed position in medicine with a world-class infrastructure with a high-quality education. The affordable fee structure of studying MBBS in Ukraine makes it the most preferred destinations for medical education.  Ukrainian Government and private bodies have opened many universities in Ukraine, leaving many open options for students to study in Ukraine. In addition, all state-owned public medical universities in Ukraine are globally accredited by various medical bodies such as NMC (National Medical Commission), WHO (World Health Education), FAIMER, etc.<br /><br />
                        The MBBS in Ukraine has become very popular since the last decade because it has many national medical universities. Many international students come to Ukraine to study MBBS, mainly because Ukraine has some of the world's best medical Universities. Compared with other nations such as the United States, the United Kingdom or any other country, the MBBS tuition fee in Ukraine is very low and cheap because the government of Ukraine highly subsidizes the education.
                    </p>
                    <h5>Study MBBS in Ukraine</h5>
                    <p class="mt-3">Ukraine is well-known for the Medical Programs offered by the medical universities of the country. Not only Indian students, but it also welcomes international students from all over the world. Studying MBBS in Ukraine is the right choice for any medical aspirants because the class's student-teacher ratio is maintained as required. Due to having a small number of students in each classroom, students can quickly dispel his/her doubts. <b>MBBS in Ukraine</b> is not only reasonably priced but also provides in-depth knowledge on the subject.  The faculty and staff of the universities highly experienced with vast knowledge as per their department. The classroom of the universities is built according to the requirements of medical students, focusing on practice. The advantage of a practical classroom is to attract students' interest in topics, and use them as one of the subjects' interests. If you have any questions about NMC registration, it is also straightforward. You will have to take a screening test to qualify for NMC. Ukrainian MBBS is your best choice for studying MBBS in Ukraine because it is a country with a 100% literacy rate. The top medical schools and universities that provide quality education are located in the west of the country. Ukrainian medical schools' tuition fees are cheap, and students belonging to any country can easily afford it. Although the tuition fees of MBBS University in Ukraine are very affordable, the quality of education remains unaffected. Ukrainian MBBS is as valuable as Russian MBBS. In Ukraine, you will find a large number of medical schools offering MBBS studies. Different colleges charge different fees according to their facilities..</p>

                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Ukraine University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="dhlnmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/DANYLO.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="dhlnmu">
                                        <h5 style="margin-bottom:0px">DANYLO HALYTSKY LVIV NATIONAL MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify"></p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="dhlnmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="knmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/kharkiv.jpeg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="knmu">
                                        <h5 style="margin-bottom:0px">KHARKIV NATIONAL MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify"></p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="knmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="kmuuk">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/KYIV.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="kmuuk">
                                        <h5 style="margin-bottom:0px">KYIV MEDICAL UNIVERSITY OF UAFM, KYIV</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">
                                Kyiv Medical University is public university, located in the Kyiv city-capital of Ukraine. Kyiv Medical University MBBS in Ukraine offers an undergraduate program in English which is of 6 years duration leading to M.D degree. It was established in 1992. The entire program consists of Pre-Clinical 3 years and 3 years of clinical training which is carried out at the university. White the first three years of clinical part aims at theoretically developing the basics of a student in the basic subjects of medical sciences, the final three years or the clinical training aims at combining those basics in a doctor-patient setup and learning all the clinical skills in theory and practice enabling them to come out of the university as skilled, trained and excellent clinicians. The training of a student for Russia language is carried out simultaneously for the three years to give the student enough confidence to have proper conversations with their patients to get the most out of their clinical rotations.
                            </p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="kmuuk" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="oobnmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/Bogomolets-National-Medical-University-01.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="oobnmu">
                                        <h5 style="margin-bottom:0px">O.O. BOGOMOLETS NATIONAL MEDICAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">
                                O.O. Bogomolets National University was founded in 1841 and is counted among the institutes with premier medical institutions for its excellence. The University offers a multicultural environment to the students. The students get global exposure in terms of traditions as well as culture. The University offers degrees like MBBS, BDS, MDS, MS and Nursing which are perceived a worldwide round. The University derives its name from the famous Physiologist - Alexander.
                            </p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="oobnmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="unu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/uzhorod_urkrain.jpeg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="unu">
                                        <h5 style="margin-bottom:0px">UZHHOROD NATIONAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">

                            </p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="unu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>