﻿@page
@model neuronsEdu.Pages.mbbsingeorgiaModel
@{
}


<style>
    .container {
        max-width: 1250px;
    }

        .container h1, h2 {
            font-size: 25px;
            letter-spacing: inherit;
        }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Georgia</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Georgia</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image: url(assets/countryimages/georgiaDetail.jpeg); ">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN Georgia</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Mode of Instruction -<strong> English</strong></p>
                            <p>Course Duration -<strong> 5 Years</strong> </p>
                            <p>NEET - <strong> Mandatory</strong> </p>
                            <p>Score - <strong> 12th with 55% (PCBE)</strong></p>
                            <div>
                                <p>
                                    Student Age - <strong>17 Years to 25 Years</strong>
                                </p>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div id="overview" class="overview">
                        <div class="whiteBox">
                            <div class="dr_overflowText">
                                <h1 style="text-align:justify">MBBS in Georgia</h1>

                                <p style="text-align:justify">Pursuing <strong>MBBS in Georgia</strong> is a dream for students from all over the world. Georgia holds stunning open doors for students ready to take up <strong>MBBS in Georgia</strong>. It is a famous and renowned place for the quality of education which is provided to the students. Every student dreams to have a tag of an international degree under his name. So whenever, a medical aspirant thinks about pursuing his medical degree abroad, Georgia definitely comes up in the list of countries offering medical courses abroad. All the medical universities of Georgia are recognized by the World Health Organisation and Medical Council of India. The universities are governed by “The Ministry of Education and Science”. The country offers an exceedingly well and affordable educational infrastructure and that is one of the main reasons that international students prefer to study in Georgia. The curriculum in the universities is designed in such a manner that it becomes easy to understand for the students. The total duration of the medical course is <strong>5 years + 1 year of internship</strong>. The crime rate is extremely low and is a very safe destination for the students. The literacy rate of the citizens of Georgia is 100% which is a remarkable figure and amongst the best in the world. The student-teacher ratio is extremely healthy and focus is given on the overall growth of a student and not just on the academic part. The tuition fee structure along with the accommodation fee structure is extremely balanced and affordable for the students making it one of the prime destinations for medical studies.</p>

                                <h2 style="text-align:justify">Study MBBS in Georgia</h2>

                                <p style="text-align:justify">Abroad has become a hot goal for students from around the globe who need to try to <strong>study MBBS in Georgia</strong>. The students who try to consider <strong>study MBBS in Georgia</strong> have numerous preferences which make Georgia one of the most cherished and favoured areas for the MBBS course and for setting up a well-portrayed calling further down the road. Georgia has effectively accomplished 100% of proficiency and is viewed as the best spot for examining medication on the planet. The medicinal colleges of Georgia are the best and the premium alternative for any student who needs to ponder MBBS abroad. It is considered among the most cherished spots for aspiring students for <a href="https://www.jagvimal.com/mbbs-in-europe.html" target="_blank">MBBS from Europe</a>. The country has a 100% education rate, which infers the rich enlightening establishment of the nation.&nbsp;</p>

                                <h2 style="text-align:justify">MBBS in Georgia 2021</h2>

                                <p style="text-align:justify">The fundamental reasons why students pick <strong>MBBS in Georgia 2021</strong>. The students need to get NEET qualified for taking <strong>MBBS in Georgia in 2021</strong>. Being a wonderful nation, Georgia offers different advantages to overseas students. Students from India, just like different nations, go to Georgia to get medical training. No Donation is required to be given. The MBBS in Georgia for Indian students is well recognized by the World Health Organization (WHO), endorsed by the Medical Council of India (MCI - Medical Council of India), and recorded in the World Directory of Medical Schools (WDOMS). No Condition of giving IELTS/TOEFL. It is fully in English Medium. Scholarships are available for Outstanding Students. The MBBS Course is finished in <strong>5 years </strong>extraordinarily intended for Indian Students. The degree of MBBS from the medicinal schools of Georgia is universally acknowledged. All the students are permitted to partake in universal meetings and workshops which help them in increasing more information and experience. The education granted in Medical universities in Georgia is of the highest caliber with exceptionally experienced personnel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Georgia University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="tsmag">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/tablisi.jpeg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="tsmag">
                                        <h5 style="margin-bottom:0px">TBILISI STATE MEDICAL ACADEMY GEORGIA</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Operating since the year 1918, for over 100 years the Tbilisi State Medical University is providing active medical education in Georgia. It is based out of the capital city of Georgia, Tbilisi. The mission and aim of the University are to take appropriate measures for the education, improvement and contribution in the healthcare sector for global and domestic medicinal development and also establishment of a good educational system for enhancing human skill and personality development of the personnel. The university provides a wide variety of medical courses to its students. The medical university has an academic partnership with world-renowned medical institutions across the globe. It is also listed in the world directory of medical school by the World Health Organisation, recognised by the Medical Council of India IMED. The graduates of the university are eligible to practice their medical degree across the globe after passing the screening test of any country across the world.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="tsmag" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>