﻿@page
@model neuronsEdu.Pages.mbbsinabroadModel
@{
}

<style>
    .blogListing .blogBox {
        margin-bottom: 30px;
    }

    .blogBox .imgBox img {
        height: 215px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
    }

    .blogListing .blogBox .textBox {
        padding: 12px 0;
    }

    .blogBox .textBox h3 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: normal;
    }

    .blogBox a{
        text-decoration:none;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>MBBS IN ABROAD</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">MBBS IN ABROAD</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinarmenia">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Armenia.jpg" alt="MBBS in Armenia">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Armenia</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsingeorgia">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Georgia.jpg" alt="MBBS in Georgia">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Georgia</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinkyrgyzstan">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Kyrgyzstan.jpg" alt="MBBS in Kyrgyzstan">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Kyrgyzstan</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinkazakhstan">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Kazakhstan.jpg" alt="MBBS in Kazakhstan">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Kazakhstan</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinnepal">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Nepal.jpg" alt="MBBS in Nepal">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Nepal</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinphilippines">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Philippines.jpg" alt="MBBS in Philippines">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Philippines</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinrussia">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Russia.jpg" alt="MBBS in Russia">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Russia</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="blogBox">
                            <a asp-page="mbbsinukraine">
                                <div class="imgBox">
                                    <img class="img-fluid" src="~/assets/countryimages/Ukraine.jpg" alt="MBBS in Ukraine">
                                </div>
                                <div class="text-center">
                                    <p style="color:black">MBBS in Ukraine</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>