﻿@page
@model neuronsEdu.Pages.MbbsinarmeniaModel
@{
}

<style>
    .container {
        max-width: 1250px;
    }

    .background-holder {
        top: 20px;
    }
</style>
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Armenia</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Abroad</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Mbbs in Armenia</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-12">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/MBBS/Armenia/Armeniya.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="abtitle">MBBS IN ARMENIA</h3>
                        </div>
                        <div class="overflow-hidden otherInfo">
                            <p>Mode of Instruction -<strong> English</strong></p>
                            <p>Course Duration -<strong> 6 Years</strong> </p>
                            <p>NEET - <strong> Mandatory</strong> </p>
                            <p>Score - <strong> 12th with 55% (PCBE)</strong></p>
                            <div>
                                <p>
                                    Student Age - <strong>17 Years to 25 Years</strong>
                                </p>
                                <br />
                                <div class="buttonBox">
                                    <a href="#" class="btn theme-btn whatsappBtn"><i class="fa fa-whatsapp"></i>+91 995 089 6262</a>
                                    <a class="btn theme-btn" href="tel:995-089-6262"> <i class="fa fa-phone"></i> +91 995 089 6262</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-3 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS IN ARMENIA</h5>
                    <p class="column-lg-2 dropcap"><b>MBBS in Armenia</b> is considered one of the topmost options for medical aspirants. The prime factor behind that is the low educational fee structure for MBBS in Armenia in the world with a high quality of medical education provided by the universities of the country. The medical education of the country has gained fame because of the friendly environment that the country offers and the support which the students get in the medical schools and secondly and more importantly the excellent infrastructure facilities which the students get in the universities. The medical universities of Armenia offer a multi-cultural and multi-ethnic environment and the students get to study with students from all over the world as because of a high-quality educational environment, global acceptance of medical degree, associations, and recognition from renowned world bodies, students not just from Armenia but from all over the world come to study in the country. Armenia offers the medical program as MD which is equivalent to MBBS in India. Universities of Armenia are listed in the World Directory of Medical Schools by World Health Organization and recognized by the Medical Council of India.</p>
                    <h5>STUDY MBBS IN ARMENIA</h5>
                    <p class="mt-3"><b>Study MBBS in Armenia</b>can be the best alternative for Indian aspirants. The majority of students who study MBBS in Armenia are Indian nationals and because of that the new students who are going to study at Armenian MBBS University, do not feel alone as the other Indian students make them comfortable. Indian students get everything that they wish for in their medicinal college. Low MBBS course charge, great clinical introduction, quality medicinal instruction, present-day framework, well-prepared research centers pull in a large number of students to do MBBS in this country. A student needs to attempt no entrance test so as to get admission in top medicinal colleges in this country. The admission system for Armenian colleges is very simple and straightforward.</p>
                    <h5>STUDY MBBS IN ARMENIA</h5>
                    <p Class="mt-3">&#9992; MBBS in Armenia requires a candidate to be.</p>
                    <p Class="mt-3">&#9992; Armenia requires a candidate.</p>
                    <p Class="mt-3">&#9992; Minimum 17 years of age on 31st Dec in the year of admission.</p>
                    <p Class="mt-3">&#9992; Must have obtained a minimum of 55% in Physics, Chemistry, and Biology on 10+2 (40% for other categories).</p>
                    <p Class="mt-3">&#9992; English must have been a compulsory subject in 10+2.</p>
                    <p Class="mt-3">&#9992; Must be NEET qualified.</p>

                    <h5>COST OF STUDYING AND LIVING IN ARMENIA</h5>
                    <p class="mt-3">The most extreme expenses for considering MBBS in Armenia is 2500 USD and the least of 4000 USD every year. The living expenses in Armenia are around 100 USD every month. They will get appropriate direction from the accomplished staff members. In this manner, the quantity of medical applicants in Armenia is expanding step by step. MBBS expenses in Armenia are additionally sensible for medical students. The students don't have to pay an enormous measure of cash as just a gift. At the point when it is a matter of expectation for everyday comforts and significant serenity at that point no uncertainty Armenia is the best alternative. There is an appeal for MBBS courses offered by the Universities of Armenia. Consistently various students arrive from everywhere throughout the world for having better education with MBBS study. The characteristics of Armenia make it well known and alluring enough to bring an enormous number of students.</p>

                    <h5>WHY MBBS IN ARMENIA</h5>
                    <p>Some key points to be highlighted are -</p>
                    <p Class="mt-3">&#9992; NMC/WHO-approved universities.</p>
                    <p Class="mt-3">&#9992; English medium curriculum.</p>
                    <p Class="mt-3">&#9992; Mode of Instruction in English.</p>
                    <p Class="mt-3">&#9992; 6 years course.</p>
                    <p Class="mt-3">&#9992; No entrance exam.</p>
                    <p Class="mt-3">&#9992; No requirement for IELTS/TOEFL.</p>
                    <p Class="mt-3">&#9992; No Donation or capitation fee.</p>
                    <p Class="mt-3">&#9992; Low tuition fee.</p>
                    <p Class="mt-3">&#9992; Affordable living costs.</p>
                    <p Class="mt-3">&#9992; Easy Admission Procedure.</p>
                    <p Class="mt-3">&#9992; Safe country and good exposure.</p>

                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <h2 style="font-size:30px;">Armenia University</h2>
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="ysmu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/YerevanStateMedicalUniversity.jpg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>

                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="ysmu">
                                        <h5 style="margin-bottom:0px">Yerevan State Medical University</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Located in the capital city of Armenia, Yerevan, the Yerevan State Medical University is a leading medical school in the country. It was established in the year 1920 and comprises of various departments and medical courses.&nbsp; The university has produced and graduated more than 30,000 doctors till date who are working in many parts of the world. Currently, more than 8000 students are studying in the university fulfilling their dream of becoming a medical graduate and out of them, a high number of students are foreign nationals. It is considered to be a leading medical institution of Armenia and many students from all across the world apply to get admission in the university. The university is recognized by many world-renowned bodies and because of that, the students are eligible to pursue their medical degree globally after graduating from YSMU. YSMU is mentioned in the World Directory of Medical Schools by the World Health Organization. The mission of the university is to prepare highly qualified &amp; skilled medical professionals to change and develop the world and to save humanity whenever and wherever required. In Yerevan State Medical University, the academic year consists of two semesters.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="ysmu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="background-white px-3 px-0 py-5 px-lg-5 radius-secondary">
                    <div class="full_abroadItem">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-3">
                                <a asp-page="univercityDetail" asp-route-univercityCode="mgariu">
                                    <div class="logo">
                                        <img src="~/assets/countryimages/makhitar.jpeg" width="210" height="133" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-9">
                                <div class="info">
                                    <a asp-page="univercityDetail" asp-route-univercityCode="mgariu">
                                        <h5 style="margin-bottom:0px">MKHITAR GOSH ARMENIAN-RUSSIAN INTERNATIONAL UNIVERSITY</h5>
                                    </a>
                                    <div class="reviefInfo" style="margin-bottom:10px">
                                        <span class="stars">
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                            <i class="fa fa-star-o" style="color: #e8b31c;"></i>
                                        </span>
                                        <span class="counting">(0)</span> reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textBox">
                            <p style="text-align:justify">Accredited by ANQA, Armenia’s National Center For Professional Education Quality Assurance the Mkhitar Gosh Armenian-Russian International University was established in the year 1996 and is a Private Co-Educational university for higher education. It is based in the capital city of Armenia, Yerevan. The university is approved by the ministry of education and science of Armenia. Known for the high quality of education, especially in the medical sector the Mkhitar Gosh Armenian-Russian International University is a famous university in Armenia. The university offers numerous courses in different divisions of graduates, postgraduates and doctorates to the students. The top-notch infrastructure and the availability of facilities provided by the university contribute to its popularity in the medical education sector. It is duly recognized by the Medical Council of India and because of this many Indian medical aspirants apply to get admission in the university. The university comprises of different departments and sections which are handled well by experienced faculties and professors.  The university maintains a very healthy student-teacher ratio and does not fill extra students in one class so that the professors can focus on each student and their studies. The duration of the MBBS course at the university is for 6 years.</p>
                        </div>
                        <div class="buttonBox">
                            <a asp-page="univercityDetail" asp-route-univercityCode="mgariu" class="btn theme-btn blueBtn">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>