﻿@page
@model neuronsEdu.Pages.Mkhitar_Gosh_Russian_Armenian_International_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD | MBBS IN ARMENIA | Mkhitar Gosh Russian Armenian International University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Mkhitar Gosh Russian Armenian International University.jpg" alt="MBBS Abroad Consultant | Mbbs in Armenia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Mkhitar Gosh Russian Armenian International University</h5>
                        <section>
                            <p>Mkhitar Gosh is a higher educational institution, bearing status of an authorized teaching university. It carries higher academic education in accordance with the legislation and issues a document certifying the qualification recognized by the state.</p>
                            <p>Mkhitar Gosh was founded in 1996. Currently, the Mkhitar Gosh is a modern university with a comprehensive infrastructure, and experienced faculty members that are nationally (and some of them worldwide) recognized specialists in different areas of medicine, professional health organizations and agencies. Twenty Four years ago first 11 students were enrolled, whereas at present about 2500 students study in the University. Most of our students are citizens of foreign countries: India, USA, Great Britain, Russia, Ukraine, Jordan, Egypt and Sri Lanka. This is why the language of instruction is English.</p>
                            <p>Our success should be completely attributed to our excellent team. Owing to 24 years of tireless efforts and embodying various innovative ideas, Mkhitar Gosh managed to hold its niche among Armenian higher educational institutions. It’s important to us that both the student and the academic staff have a sense of complete freedom in learning and teaching process. Our priority is to make sure the university employees are focused on a common goal and equally share the role of the university as a higher educational institution.</p>
                            <p>Mkhitar Gosh has affiliation agreements with 15 of the world’s most prestigious hospitals and research institutes, vital partners that provide clinical care and training. They also serve as home base for more than 200 physicians and scientists with faculty appointments.</p>
                            <hr />
                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of Dentistry</P>
                            <P>&#9992; Faculty of Medical</P>
                            <P>&#9992; Faculty of Medical Case</P>
                            <P>&#9992; Faculty of Medical Art</P>
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Mkhitar-Gosh-Russian-Armenian-International-University4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>   The university provides hostel facility for both- Armenian and International students. Hostels are furnished and well equipped with all basic day to day facilities. It offers neat and clean hostels with a friendly environment. The facilities provided by them to the students are very good and comfortable.</p>
                        <p>For the entertainment and refreshment, many extra-curricular activities like cultural, sports, and social activities are organized by the university. It offers every kind of academic and personal help and guidance.</p>
                        <section class="color-5 pt-0">

                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Mkhitar-Gosh-Russian-Armenian-International-University_City_Glance_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>