﻿@page
@model neuronsEdu.Pages.NEET_examModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>Updated Pattern- NTA NEET UG Exam 2021</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/img/NEET_Exam-kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <div class="background-white radius-secondary">
                            <p align="justify">National Eligibility Cum Entrance Test (NEET 2021) is the exam conducted by the National Testing Agency (NTA) for acceptance in different undergraduate and postgraduate programs in NMC approved medical colleges in abroad. The NEET Exam is known as one of the toughest medical entrance examinations in India.</p>
                            <p align="justify">For admission to the <strong><a href="#">NMC approved foreign medical colleges</a></strong>, it is a mandatory requirement for candidates to qualify for the NEET 2021 Exam.</p>
                            <h2>Information about National Testing Agency (NTA 2021)</h2>
                            <p>The National Testing Agency (NTA) is established by the ministry of human resource development and the government of India. The main aim of NTA is to conduct an efficient test to assess candidates for admission. The NTA NEET Exam is to initiate the research on the educational, professional, and testing system of the candidate to identify gaps in the knowledge systems.</p>
                            <h3>NEET 2021 Highlights</h3>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>NAME</strong></p>
                                        </td>
                                        <td>
                                            <p>National Eligibility Cum Entrance Test (NEET)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>CONDUCTED BY</strong></p>
                                        </td>
                                        <td>
                                            <p>NTA (National Testing Agency)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>OFFICIAL WEBSITE</strong></p>
                                        </td>
                                        <td>
                                            <p><b><a href="https://www.nta.ac.in/" rel="nofollow">https://www.nta.ac.in/</a></b></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>TYPE</strong></p>
                                        </td>
                                        <td>
                                            <p>National Level Medical Entrance</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>ACCEPTED BY</strong></p>
                                        </td>
                                        <td>
                                            <p>Medical &amp; Dental Colleges in India</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>MODE OF EXAM </strong></p>
                                        </td>
                                        <td>
                                            <p>MCQ’s</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>DURATION OF EXAM</strong></p>
                                        </td>
                                        <td>
                                            <p>3 Hours</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>MARKING </strong></p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Correct (+4)</li>
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Incorrect (-1)</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>APPLICATION FEE </strong></p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;General – 1500/-(INR)</li>
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;General-EWS/OBC(NCL) - 1400/-(INR)</li>
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;General-EWS/OBC(NCL) - 1400/-(INR)</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>SUBJECTS </strong></p>
                                        </td>
                                        <td>
                                            <p>Physics, Chemistry, &amp; Biology</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>PERIODICITY</strong></p>
                                        </td>
                                        <td>
                                            <p>Once a Year</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>NEET Important Dates 2021</h3>
                            <p>Before starting the NEET exam preparation candidates need to know the NEET exam pattern and NEET exam Date details. Below we have a list of <b><a href="#">NEET Important Dates 2021</a></b>.</p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>NEET 2021 Application Form Release Date</strong></p>
                                        </td>
                                        <td>
                                            <p>Yet to be announced</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Last date for NEET 2021 Application Submission</strong></p>
                                        </td>
                                        <td>
                                            <p>Yet to be announced</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Last date to pay the application fee</strong></p>
                                        </td>
                                        <td>
                                            <p>Yet to be announced</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET correction window dates 2021</strong></p>
                                        </td>
                                        <td>
                                            <p>Yet to be announced</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET Admit Card Release</strong></p>
                                        </td>
                                        <td>
                                            <p>Download from Official Website</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET Exam Date 2021</strong></p>
                                        </td>
                                        <td>
                                            <p>Yet to be announced</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Release of final official Answer Key</strong></p>
                                        </td>
                                        <td>
                                            <p>Download from Official Website</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET Result 2021</strong></p>
                                        </td>
                                        <td>
                                            <p>Download from Official Website</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h2>NEET 2021 Eligibility</h2>
                            <p>Candidates can apply for the different undergraduate and postgraduate programs from top private medical colleges in India by carefully checking the NEET UG 2021 Eligibility Criteria and <b><a href="#">NEET PG 2021 Eligibility Criteria</a></b>.</p>
                            <h3>NTA NEET UG 2021 Eligibility Criteria</h3>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;NEET is mandatory (Indian/Overseas candidates) for admission in medical colleges in India.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Age Limit for General category students is 17 to 25 years and for SC/ST/OBC/PWD students is 17 to 30 years calculated at the end of the year.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;12th pass candidates may apply for NEET.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Candidates can take the NEET Exam till the maximum age limit.</li>
                            </ul>
                            <h3>NEET 2021 Application Process</h3>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;The candidates who are going to apply for NEET 2021 exam must need to ensure NEET 2021 eligibility before submitting the application form online.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;The Candidate must provide the complete equivalence and permanent address with the pin code, the e-mail address, and mobile number.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;The given info of contact numbers and e-mail ID is either your or your parents only.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Passing candidates need to fill Code [02 to 07] against the column provided for the Qualifying Examination.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Class XII candidates in 2020 should select a qualifying code as 01.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;The Application Form is not accepted if filled by another mode.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Candidates are suggested to preserve at least four copies of the Confirmation Page along with the proof of fee paid for future reference.</li>
                            </ul>
                            <h2>NEET 2021 Syllabus</h2>
                            <p>NEET 2021 syllabus is distributed in 3 parts are Chemistry, Physics, and Biology. The number of questions asked in the examination covered Class 11 and 12. Below we have provided the details of the NEET Syllabus:</p>
                            <h4>NEET Physics Syllabus</h4>
                            <p>Below we listed below some important topics covered in the NEET physics syllabus are:</p>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Kinematics</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Laws of motion</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Work, energy, and power</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Gravitation</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Thermodynamics</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Oscillations and waves</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Electrostatics</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Electromagnetic induction and alternating currents</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Electromagnetic waves</li>
                            </ul>
                            <h4>NEET Chemistry Syllabus</h4>
                            <p>Below we listed below some important topics covered in the NEET chemistry syllabus are:</p>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Some basic concepts of chemistry</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Structure of atom</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Chemical bonding and molecular structure</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;States of matter: gases and liquids</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Thermodynamics</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;S-block elements (alkali and alkaline earth metals)</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Hydrocarbons</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Environmental chemistry</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Solid-state</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Electrochemistry</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Chemical kinetics</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;P-block elements</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Chemistry in everyday life</li>
                            </ul>
                            <h4>NEET Biology Syllabus</h4>
                            <p>Below we listed below some important topics covered in the NEET biology syllabus are:</p>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Diversity in the living world</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Structural organization in animals and plants</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Cell structure and function</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Plant physiology</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Human physiology</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Reproduction</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Genetics and evolution</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Biology and human welfare</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Biotechnology and its applications</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Ecology and environment</li>
                            </ul>
                            <h3>NEET 2021 Exam Pattern</h3>
                            <p>Candidates applying for undergraduate and postgraduate medical entrance examinations must aware of the NEET UG Exam Pattern and <b><a href="https://getadmissioninfo.com/neet-pg-exam">NEET PG Exam Pattern</a></b>.</p>
                            <h4><strong>NTA NEET UG Exam Pattern 2021</strong></h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>SECTION</strong></p>
                                        </td>
                                        <td>
                                            <p>PATTERN</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>SUBJECTS</strong></p>
                                        </td>
                                        <td>
                                            <p>Physics, Chemistry, Biology</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>TYPE OF QUESTIONS</strong></p>
                                        </td>
                                        <td>
                                            <p>Multiple Choice Questions (MCQ’s)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NUMBER OF QUESTIONS</strong></p>
                                        </td>
                                        <td>
                                            <ul class="ulweb">
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;Physics - 45</li>
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;Chemistry - 45</li>
                                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;Biology - 90</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>TOTAL MARKS</strong></p>
                                        </td>
                                        <td>
                                            <p>720</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>LANGUAGE OF EXAM </strong></p>
                                        </td>
                                        <td>
                                            <p>English/Hindi(As per selected by the candidates)</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h4>NOTE</h4>
                            <p><strong>Part A Subjects – </strong>Biochemistry, Anatomy, and Physiology</p>
                            <p><strong>Part B Subjects – </strong>Microbiology, Pharmacology, Pathology, Forensic Medicine, and Social &amp; preventive medicine</p>
                            <p><strong>Part C Subjects - </strong>General Medicine including Dermatology &amp; Venereology &amp; Psychiatry, ENT, General Surgery including Orthopedics, Anesthesia&amp; Radiodiagnosis, Obstetrics and Gynaecology, Pediatrics, and Ophthalmology.</p>
                            <h3>NEET 2021 Preparation Tips</h3>
                            <p>NEET preparation requires to be focused on the important points and needs hard work. To qualify for the examination aspirants must understand the NEET pattern and work according to it. The NEET preparation tips require completing the entire syllabus from the best NEET books.</p>
                            <p><strong>Understand NEET Syllabus</strong> - Understand NEET 2021 syllabus of Physics, Biology, and Chemistry.</p>
                            <p><strong>Aware of the NEET Exam Pattern</strong> - Must have knowledge about the NEET Exam pattern such as a number of questions, time limit, marks awarded, negative marking, and more.</p>
                            <h3>Best NEET Books</h3>
                            <h4>PHYSICS BOOKS FOR NEET PREPARATION</h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>The Concept of Physics</strong></p>
                                        </td>
                                        <td>
                                            <p>H. C. Verma</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Objective Physics</strong></p>
                                        </td>
                                        <td>
                                            <p>D. C. Pandey</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Fundamental Physics</strong></p>
                                        </td>
                                        <td>
                                            <p>Pradeep Publications</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Physics for Medical Entrance Examinations</strong></p>
                                        </td>
                                        <td>
                                            <p>D.C. Pandey</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Objective NCERT at your fingertips for NEET AIIMS – Physics </strong></p>
                                        </td>
                                        <td>
                                            <p>MTG Editorial Board</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Complete NEET Guide </strong></p>
                                        </td>
                                        <td>
                                            <p>MTG Editorial Board</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET 2019 Physics Guide – 5th Edition</strong></p>
                                        </td>
                                        <td>
                                            <p>Disha Publications</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h4>CHEMISTRY BOOKS FOR NEET PREPARATION</h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>Physical Chemistry</strong></p>
                                        </td>
                                        <td>
                                            <p>Problems in Physical Chemistry by Narendra Awasthi, Physical Chemistry by OP Tandon</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Organic Chemistry</strong></p>
                                        </td>
                                        <td>
                                            <p>Organic Chemistry by Morrison and Boyd, Organic Chemistry by MS Chouhan</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Inorganic Chemistry </strong></p>
                                        </td>
                                        <td>
                                            <p>Concise Inorganic Chemistry by JD Lee, A Textbook for Inorganic Chemistry by R.K Gupta</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h4>BIOLOGY BOOKS FOR NEET PREPARATION</h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>Biology Volume 1 and 2</strong></p>
                                        </td>
                                        <td>
                                            <p>Trueman</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Biology</strong></p>
                                        </td>
                                        <td>
                                            <p>Pradeep Publications</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Objective Biology</strong></p>
                                        </td>
                                        <td>
                                            <p>Dinesh</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Complete NEET Guide: Biology</strong></p>
                                        </td>
                                        <td>
                                            <p>MTG Editorial Board</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>NEET 2019 Biology Guide – 5th Edition</strong></p>
                                        </td>
                                        <td>
                                            <p>Disha Publications</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>NEET 2021 Document Required at Exam</h3>
                            <p>Candidates who applied for the NEET examination need to bring only the following documents on the day of examination at the Centre. It is mandatory to bring these documents otherwise candidates are not allowed to sit in the examination.</p>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;A printed copy of the Admit Card and a passport size photograph</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;A passport size photograph for NEET 2021 exam.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;A Post Card Size (4” X 6”) color photograph with white background pasted on the Admit Card.</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Any of the following documents as a photo ID (PAN card/Driving License/Voter ID/Passport/Aadhar Card /other valid photo ID issued by the Government)</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Candidates who claimed for the relaxation under the PwD category need to provide a PwD certificate issued by the Competent Authority.</li>
                            </ul>
                            <h2>NEET 2021 Result</h2>
                            <p>The NEET 2021 Result is yet to be announced and it is expected low as compare to last year. Due to COVID-19, the participants are facing lots of hurdles in their preparation as many of them are not able to attend due to lack of facilities. Below we have provided the list of NEET 2021 expected results.</p>
                            <h4>NEET 2021 Result (Expected)</h4>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><b>CATEGORY</b></p>
                                        </td>
                                        <td>
                                            <p><b>QUALIFYING CRITERIA</b></p>
                                        </td>
                                        <td>
                                            <p><b>NEET (UG)2019</b></p>
                                        </td>
                                        <td>
                                            <p><b>NEET (UG)2020</b></p>
                                        </td>
                                        <td>
                                            <p><b>NEET (UG)2021(Expected)</b></p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <p><strong>UR</strong></p>
                                        </td>
                                        <td>
                                            <p>50%</p>
                                        </td>
                                        <td>
                                            <p>701-134</p>
                                        </td>
                                        <td>
                                            <p>720-147</p>
                                        </td>
                                        <td>
                                            <p>715-141</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>OBC</strong></p>
                                            <p><strong>SC</strong></p>
                                            <p><strong>ST</strong></p>
                                        </td>
                                        <td>
                                            <br>
                                            <br>
                                            <p>40%</p>
                                        </td>
                                        <td>
                                            <p>133-107</p>
                                        </td>
                                        <td>
                                            <p>146-113</p>
                                        </td>
                                        <td>
                                            <p>146-113</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>UR / EWS &amp; PH</strong></p>
                                        </td>
                                        <td>
                                            <p>45%</p>
                                        </td>
                                        <td>
                                            <p>133-120</p>
                                        </td>
                                        <td>
                                            <p>146-113</p>
                                        </td>
                                        <td>
                                            <p>140-125</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>OBC &amp; PH</strong></p>
                                            <p><strong>SC/ST &amp; PH</strong></p>
                                        </td>
                                        <td>
                                            <br>
                                            <p>40%</p>
                                        </td>
                                        <td>
                                            <p>119-107</p>
                                        </td>
                                        <td>
                                            <p>128-113</p>
                                        </td>
                                        <td>
                                            <p>124-110</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <h3>FAQ’s</h3>
                            <h5>Que. –Is the NEET Exam is conducted twice a year?</h5>
                            <p><strong>Ans </strong> –No, NEET Exam is conducted only once every year. Candidates can apply easily for getting admission to the best MBBS Colleges in India.</p>
                            <h5>Que. –Why NEET Exam is required?</h5>
                            <p><strong>Ans </strong> –NEET Exam is required for admission in MBBS courses in <a href="https://www.mbbsadmissionabroad.in/">best colleges for MBBS in abroad</a><strong>.</strong></p>
                            <h5>Que. –Who conducted NEET 2021?</h5>
                            <p><strong>Ans </strong> –As the NEET Exam is conducted by NTA every year, NTA continues conducting the NEET 2021 this year.</p>
                            <h5>Que. –Which pattern does the NEET Exam follow?</h5>
                            <p><strong>Ans </strong> –The exam follows a multiple-choice question pattern, candidates need to mark the best option and proceed to the next one.</p>
                            <h5>Que. –Can I appear in the NEET Exam if I am above 25 years of age?</h5>
                            <p><strong>Ans </strong> –Yes, you are eligible to appear in NEET 2021 exam as there is no upper age limit for the aspiring candidates like lower age is 17 years but there is not any eligibility criteria for the upper age limit.</p>
                            <h5>Que. –Is it mandatory for students to write the paper in English?</h5>
                            <p><strong>Ans </strong> –NEET exam is conducted in 9 different languages so students can opt the language according to their preference and they can fill the language option in the application form of the exam.</p>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>