﻿@page
@model neuronsEdu.Pages.newsroomModel
@{
}
@using System.Web;

<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>News Room</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">News Room</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <div class="row">
            @foreach (var nmg in Model.NewsManagements)
            {
            <div class="col-md-6 col-lg-4 py-0 mt-4 mt-lg-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="w-100 radius-tr-secondary radius-tl-secondary" src="assets/images/9.jpg" alt="Featured Image" /> 
                    <div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll"> 
                        <div class="overflow-hidden"> 
                            <a href="news">
                                <h5 data-zanim='{"delay":0}'>@Html.DisplayFor(m => nmg.News_Title)</h5>
                            </a> 
                        </div>
                        <div class="overflow-hidden"> 
                            <p class="mt-3" data-zanim='{"delay":0.2}'>
                            @Html.DisplayFor(m => nmg.News_Brief)</p> 
                        </div>
                        <div class="overflow-hidden">
                            <div class="d-inline-block" data-zanim='{"delay":0.3}'>
                                <a class="d-flex align-items-center" asp-page="news" asp-route-id="@nmg.News_Id">
                                    Read More
                                    <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'><span class="d-inline-block">&xrarr;</span></div>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="col-auto mx-auto mt-4">
            <nav class="font-1 mt-5" aria-label="Page navigation example">
                <ul class="pagination pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--/.row-->
     
</section>