﻿@page
@model neuronsEdu.Pages.newsModel
@{
}
@using System.Web;
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div data-zanim='{"delay":0}'><a class="d-inline-block color-7" href="#">Thomas Been</a>, &nbsp;<a class="d-inline-block color-7" href="#">May 15, 2017</a></div>
                    <h4 data-zanim='{"delay":0.1}'>@Html.DisplayFor(m => Model.newsmanagement.News_Title)</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12"><img class="radius-tr-secondary radius-tl-secondary" src="assets/images/news-1.jpg" alt=""></div>
                    <div class="col-12">
                        <div class="background-white p-5 radius-secondary">
                            <p class="dropcap">
                                @Html.Raw(HttpUtility.HtmlDecode(Model.newsmanagement.News_Details)) 
                            </p> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mt-6"> 
                            <div class="col-12">
                                <div class="background-white p-5 radius-bl-secondary radius-br-secondary">
                                    <h4>Leave A Comment</h4>
                                    <form class="mt-4">
                                        <div class="row">
                                            <div class="col-12"><input class="form-control background-white" type="text" placeholder="Your Name" aria-label="Text input with dropdown button"></div>
                                            <div class="col-12 mt-4"><input class="form-control background-white" type="email" placeholder="Email" aria-label="Text input with dropdown button"></div>
                                            <div class="col-12 mt-4"><textarea class="form-control background-white" rows="10" placeholder="Leave your comment here..." aria-label="Text input with dropdown button"></textarea></div>
                                            <div class="col-12 mt-4"><button class="btn btn-primary" type="Submit"> <span class="color-white fw-600">Submit Comment</span></button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>