﻿@page
@model neuronsEdu.Pages.NMAT_examModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>NMAT Exam 2021 : Eligibility, Syllabus, Cutoff | MBBS Admission Abroad</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/img/nmat_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    The National Medical Admission Test 2021 is a national level exam to upgrade the
                                    selection process for admission in Philippines Medical colleges. To study
                                    MBBS in Philippines NMAT exam is compulsory for applicants. This exam is conducted two times in a year, one in March and the second time in October.
                                    CHED is the conducting body of the National Medical Admission Test in
                                    Philippines.
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    MBBS in Philippines Duration is divided into two parts. First, a part is
                                    dedicated to BS/AB course with a duration of 1 year or 1.5 years. After
                                    that, students have to appear for the NMAT 2021. Also, it is important that
                                    students get good marks according to the university admission requirement.
                                </font>
                            </p>
                            <h3><font face="Verdana" color="#000000"><strong>Quick Highlights of NMAT 2021</strong></font></h3>
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay; margin-right: 15px;">
                                    <table class="table table-bordered">
                                        <tbody style="text-align: center;">
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"><strong>Full name</strong> </font></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"> National Medical Admission Test  (NMAT)</font></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"><strong> Exam frequency </strong></font></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"> Twice in a year </font></td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"> <strong>Official website</strong> </font></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"><a href="https://www.cem-inc.org.ph/nmat">https://www.cem-inc.org.ph/nmat</a></font></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"><strong> NMAT Duration </strong></font></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">  3 hours (Part I)<br> 2 hours and 30 mins (Part II) </font></td>
                                            </tr>
                                            <tr style="background: #fbfbfb;">
                                                <td style="text-align: left;"><font face="Verdana" color="#000000"> <strong> NMAT Results </strong></font></td>
                                                <td style="text-align: left;"><font face="Verdana" color="#000000">  In 15 working days </font></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3><font face="Verdana" color="#000000"><strong>Why NMAT Exam 2021?</strong></font></h3>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    The main reason to introduce NMAT exam is to improve the quality of
                                    education in the Medical Sector. The authorities have made sure that
                                    students who are going to get an MD degree (Equal to MBBS), should be
                                    proficient to tackle the Medical Situation.
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    This test is well designed to assess the knowledge of the applicant.
                                    Students will study hard to get admission to
                                </font><a href="#">Top Medical Colleges in Philippines</a><font face="Verdana" color="#000000">
                                    . After 15 days of completing the exam, the NMAT result will be announced.
                                </font>
                            </p>
                            <h2><font face="Verdana" color="#000000"><strong>NMAT Eligibility 2021</strong></font></h2>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    Students who want to sit in the NMAT Exam have to qualify the eligibility
                                    for that. Indian Students have to pursue the BS course (1-year duration)
                                    before appearing in the NMAT exam as the education system in Philippines
                                    accepts 10+3 instead of 10+2. Students should have to pass the higher
                                    secondary board exam with at least 50% marks. Physics, Chemistry and
                                    Biology should be as main subjects in 12th.
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    In case any Indian student is pursuing any UG medical course in India and
                                    wants to <b><a href="https://www.neuronsedu.com/">get MBBS Admission</a></b> in Philippines then after 1 year he/she can be
                                    allowed. 10+3 is mandatory for appearing in NMAT Exam.
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    Apart from this, if any student has completed the BS course from any
                                    university but unable to get the required cutoff then he will be allowed to
                                    sit in the MD course. However, the degree will be offered to them only if
                                    they successfully qualified for the National Medical Admission Test.
                                </font>
                            </p>
                            <h2><font face="Verdana" color="#000000"><strong>NMAT Cutoff</strong></font></h2>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    According to the information available on the official website of the
                                    Indian Embassy, Indian Students have to pass the <a href="#">NEET Exam 2021</a> first in
                                    India and only then Students can enroll in MCI recognized Medical Colleges in the Philippines. After BS degree completion students have to pass NMAT
                                    Exam.
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    As per the information available for NMAT Cutoff then 40% marks is mandatory for MBBS Admission in Philippines. Also, some universities may ask you for more than 40% marks. However, foreign students can get admission in different quotas reserved for students. 30% of the total
                                    medical seats are reserved for international students.
                                </font>
                            </p>
                            <h3><font face="Verdana" color="#000000"><strong>NMAT Registration Online 2021</strong></font></h3>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    The process to do NMAT registration online is pretty simple. Students have
                                    to follow the step by step process in order to complete NMAT 2021
                                    Registration.
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    1. Visit the official website of the exam conducting body
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    2. Create an account with true and verified information on
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    3.
                                    <a href="#">
                                        https://www.cem-inc.org.ph/nmat/user/register
                                    </a>
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    4. Now, you will get an email with payment instructions on your registered
                                    email id.
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    5. Pay the fee by using the online payment mode.
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000"><strong></strong></font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>Things you need at the time of registration</strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    1. Valid email id
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    2. Passport size photograph in Digital mode
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    3. Photo ID card issued by the government and academics documents
                                </font>
                            </p>
                            <h2><font face="Verdana" color="#000000"><strong>Topics will be covered in NMAT Exam Syllabus</strong></font></h2>
                            <p>
                                <font face="Verdana" color="#000000"><strong></strong></font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>From CHEMISTRY</strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Organic Chemistry basics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Kinetics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Gases and Gas Laws
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Hybridization
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Bonds
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Biological Compounds: DNA, RNA, Sugar, Proteins, Fats
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Acids and Bases
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Equilibrium
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Concentration (molarity, molality, moles,..)
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Radioactivity and nuclear chemistry
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Solubility
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Periodic Table
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Thermodynamics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Solutions
                                </font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>From PHYSICS</strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Sound
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Light
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Gravitation
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Centripetal and centrifugal force
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Electromagnetics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Nuclear Force
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Fluids and fluid dynamics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Linear Motion
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Circular Motion
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Vectors
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Optics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Simple Pendulum
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Friction
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Projectile Motion
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Rotational Motion
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Thermodynamics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Mechanics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Efficiency
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Waves (electromagnetic, mechanical)
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Circuits
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Air resistance
                                </font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>From BIOLOGY </strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Osmosis
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Cell
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Plant tissues
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Embryology
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Genetics
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Circulatory System
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Nervous System
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Animal tissues
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Muscles
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Digestive System
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Immune System
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Endocrine System
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Ecosystem, community and population interaction
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Cell Division (mitosis, meiosis)
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Cell Respiration
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Scientific Names
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Reproduction
                                </font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>Inductive Reasoning </strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Figure Series
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Figure Grouping
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Number and Letter Series
                                </font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>Quantitative Reasoning</strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Fundamental Operations (mostly arithmetic)
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    ● Word problems (work, power, probability, area, surface area, volume,
                                    percentage, profit and loss, basic trigonometry)
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Data Interpretation (Statistics)
                                </font>
                            </p>
                            <h4><font face="Verdana" color="#000000"><strong>Verbal </strong></font></h4>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Reading comprehension
                                </font>
                            </p>
                            <p>
                                <font face="Verdana" color="#000000">
                                    ● Analogies
                                </font>
                            </p>
                            <p align="justify">
                                <font face="Verdana" color="#000000">
                                    Here is the complete information about What is the NMAT Exam in
                                    Philippines, syllabus, results, and registration process.
                                </font>
                            </p>
                            <h3>FAQ's</h3>
                            <h5 style="color: #1877f2">Que. –Why is the NMAT exam compulsory in the Philippines?</h5>
                            <p><strong>Ans </strong> –To get admission at top medical colleges in the Philippines it is compulsory to qualify the NMAT exam as it improves the quality of education in the medical sector.</p>
                            <h5 style="color: #1877f2">Que. –What is the cut off for the NMAT exam 2021?</h5>
                            <p><strong>Ans </strong> –The expected cut off for the year is around 40% marks to get MBBS admission in the Philippines.&nbsp;</p>
                            <h5 style="color: #1877f2">Que. –What are the important documents students need while registration?</h5>
                            <p><strong>Ans </strong> –While registration students required following documents are:</p>
                            <ul class="ulweb">
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Valid email id</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Passport size photograph</li>
                                <li><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Photo id card issued by the government</li>
                            </ul>
                            <h5 style="color: #1877f2">Que. –How many times in a year NMAT exam is conducted?</h5>
                            <p><strong>Ans </strong> –The NMAT exam is conducted twice a year.&nbsp;</p>
                            <h5 style="color: #1877f2">Que. –If I failed in the first attempt, can I reapply for the exam?</h5>
                            <p><strong>Ans </strong> –Yes, you can easily reapply for the exam as there is a limitation for attempting the exam.&nbsp;</p>
                            <h5 style="color: #1877f2">Que. –What is the marking scheme of NMAT exam?</h5>
                            <p><strong>Ans </strong> –For each correct answer students get +1 and there is no negative marking.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>