﻿@page
@model neuronsEdu.Pages.nmc_mciModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>NMC or MCI Approved Medical Colleges List | MBBS Admission Abroad</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/img/mci-nmc-kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                            <h3>What is NMC or MCI?</h3>
                            <p class="dropcap">
                                The Medical Council of India (MCI) or National Medical Commission (NMC) is a screening test, also famous as Foreign Medical Graduates Examination (FMGE) is conducted by the National Board of Examinations (NBE) in India for study MBBS in Abroad. It is mandatory for those Indian students who want to study abroad and complete the medical education from MCI or NMC Approved Medical Colleges in abroad.<br />
                                It’s a great opportunity for Indian students to apply for study in abroad and complete an MBBS degree from the MCI or NMC Approved Foreign Medical Colleges in Abroad.
                            </p>
                            <h3>NMC or MCI Screening Test Key Points 2021</h3>
                            <p>
                                MCI or NMC Screening Test is necessary for Indian students and candidates can prepare for the exam with a positive approach and proper plan. Below we have mentioned some NMC or MCI Screening Test key points for the students:
                                <ul>
                                    <li>NMC Screening Test is conducted by the National Board of Examinations (NBE) twice a year.</li>
                                    <li>The Medium of Guidance of the exam is English.</li>
                                    <li>The exam includes 300 MCQs divided into 2 sections.</li>
                                    <li>
                                        No negative marking.
                                    </li>
                                    <li>Candidates need to score at least 50% marks in MBBS for the examination.</li>
                                    <li>No limit of attempts for the NMC or MCI Screening Test.</li>
                                </ul>
                            </p>
                            <h3>Why Look NMC or MCI Approved Colleges?</h3>
                            <p>
                                NMC or MCI recognized Foreign medical colleges abroad provide medical education to aspirants at low tuition fees in the English language. The medical students who want to study MBBS in abroad should prefer NMC OR NMC or MCI Approved Medical Universities because of the following reasons:
                                <ul>
                                    <li>
                                        <h5>World Recognized Degree:</h5>
                                        <p>NMC or MCI Approved Medical Universities provide a medical degree that is globally recognized.</p>
                                    </li>
                                    <li>
                                        <h5>World-level teaching standards:</h5>
                                        <p>NMC or MCI recognized colleges deliver the best quality medical education to foreign country students. There are lots of countries like Russia, Kyrgyzstan, the Philippines, Ukraine, Georgia, and many more that have high-quality teaching standards with the best infrastructure.</p>
                                    </li>
                                    <li>
                                        <h5>Reasonable fees:</h5>
                                        <p>Medical education in foreign counties for Indian students is available at reasonable fees. The candidates can apply for admission in NMC or MCI Approved Medical Colleges in abroad.</p>
                                    </li>
                                    <li>
                                        <h5>World-class infrastructure:</h5>
                                        <p>Top medical universities in abroad provide world-class infrastructure to International candidates with all basic facilities.</p>
                                    </li>
                                    <li>
                                        <h5>Great opportunities:</h5>
                                        <p>Indian students have lots of opportunities after completing medical education from abroad. Universities provide lots of opportunities while pursuing the MBBS course.</p>
                                    </li>
                                    <li>
                                        <h5>English language programs:</h5>
                                        <p>All the NMC OR MCI recognised foreign medical colleges abroad provide medical education in the English language.</p>
                                    </li>
                                </ul>

                            </p>
                            <h3>Advantages of Studying MBBS in NMC Approved Universities?</h3>
                            <p>
                                Generally, Indian students looking to study MBBS Abroad NMC or MCI Approved Colleges because the medical seats in the medical universities in India are less as compare to applicants. Below we have mentioned the study abroad advantages in NMC or MCI Approved Universities:
                                <ul>
                                    <li>No donation fees required for Indian students in NMC or MCI approved medical universities.</li>
                                    <li>All NMC or MCI approved foreign medical colleges offer the MBBS program at low tuition fees.</li>
                                    <li>The living cost of most of the foreign countries is affordable for candidates.</li>
                                    <li>Chance to study in universities having world-class infrastructure.</li>
                                    <li>Get a chance to learn in the top medical colleges all over the world.</li>
                                    <li>All medical colleges are WHO & NMC or MCI approved colleges.</li>
                                    <li>NMC or MCIapproved medical colleges provide scholarships to foreign country students.</li>
                                    <li>Candidates get more opportunities after completing the program.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  