﻿@page
@model neuronsEdu.Pages.Osh_State_University_Medical_FacultyModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Osh State University, Medical Faculty</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Osh_State_University_Medical_Faculty.jpg" alt="MBBS IN ABROAD |  MBBS IN KYRGYZSTAN | Osh State University, Medical Faculty">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Osh State University, Medical Faculty</h5>
                        <section>
                            <p>Osh State University is a public medical university in Osh, Kyrgyzstan that has been training foreign students since 1992. Over 40,000 students study in this institute. Out of these, 3,000 have come from different countries such as India, Ukraine, China, and other counties. It is the largest university of the Kyrgyz Republic and ranked top by many ranking institutions.</p>
                            <p>The University is recognized with MCI, WHO and listed in the Avicenna Directory, International Medical Education Directory of FAIMER, and World Directory of Medical Schools.</p>
                            <p>Osh State University offers medical courses in both English as well as in Russia medium for students from India. At present, there are over 2800 students studying medicine in Osh as per records. There are nearly 250 faculty members and teachers involved in training these students. The university has tie-ups with several renowned & prestigious hospitals of Kyrgyzstan which help the students in getting valuable exposure to the latest technology used today and have a priceless experience in the field of medicine.</p>

                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; Cardiology</P>
                            <P>&#9992; Dermatology</P>
                            <P>&#9992; Endocrinology</P>
                            <P>&#9992; Family Medicine</P>
                            <P>&#9992; General Medicine</P>
                            <P>&#9992; Gastroenterology</P>
                            <P>&#9992; Hematology</P>
                            <P>&#9992; Infectious diseases</P>
                            <P>&#9992; Neurology</P>
                            <P>&#9992; Nephrology</P>
                            <P>&#9992; Psychiatry</P>
                            <P>&#9992; Psychotherapy</P>
                            <P>&#9992; Pulmonology</P>
                            <P>&#9992; Physiotherapy</P>
                            <P>&#9992; Radiology</P>
                            <P>&#9992; Aculty Of Public Health</P>

                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Osh_State_University_Medical_Faculty_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>The University has 9 hostels and all hostel rooms are fully furnished. One room can be shared between 2-3 Students. Facilities like air conditioner, attached bathroom, color T.V., telephone, and bed with required amenities and furniture, hot drinking water heater, refrigerator, public laundry and kitchen, internet access are easily accessible. Cricket Tournament is organized every year in April for international students. All the hostels are under protection of the police 24*7. Indian festivals such as Eid, Diwali, Holi, Navroz are celebrated in the University with full fervor.</p>


                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Osh_State_University_Medical_Faculty_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>