﻿@page
@model neuronsEdu.Pages.peoples_friendship_universityModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'> Peoples Friendship University of Russia or Rudn University</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/img/peoples_friendship_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p><strong>Peoples’ Friendship University of Russia </strong>is a leading technical university, it was founded in 1960 and located in the capital of the country. It is one of the best research institutions in the country and definitely the best choice for foreign medical aspirants to pursue <strong><a href="#">MBBS in Russia</a></strong>.</p>
                            <p>The University campus is located in one of the beautiful city and the capital of the country Moscow, students get better accommodations and university also has Clinical and Diagnostic to provide medical care to foreign students.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Foreign-Students_kalki.png" alt="Foreign Students" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Foreign Students</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Patents_kalki.png" alt="Patents" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Patents</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Students-from-Countries_kalki.png" alt="Students-from-Countries" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Students from Countries of the world</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Training-Programs_kalki.png" alt="Training Programs" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Training Programs</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Continuing-Education-Program_kalki.png" alt="Continuing Education Program" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Continuing Education Program</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Joint-Educational-Programs_kalki.png" alt="Joint Educational Programs" width="80px;">
                                        <p class="text-center" style="margin-bottom:42px">Joint Educational Programs</p>
                                    </div>
                                </div>
                            </div>
                            <p>The University is listed in the <strong>top MBBS Universities in Russia</strong> and has more than 250 agreements with educational institutions to offer double degree programs with foreign universities. In its over 60+ year career university has achieved so many awards and become the most demanding <b><a href="#">MCI/ </a></b><strong><a href="#">NMC Approved Medical Colleges in Russia</a>.</strong></p>
                            <img src="assets/images/img/Peoples-Friendship-info1_kalki.png" alt="Peoples Friendship University of Russia or Rudn University
                                        " width="100%">
                            <h2>Peoples’ Friendship University of Russia Quick Highlights</h2>
                            <div class="row text-center">
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/population_kalki.png" alt="Type" width="60px;">
                                        <p class="text-center">Type - Public</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/campus_kalki.png" alt="Known as" width="60px;">
                                        <p class="text-center">Known as - RUDN University</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/online-learning_kalki.png" alt="Popular Course" width="60px;">
                                        <p class="text-center">Popular Course - MBBS</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Yearly-tuition-fee_kalki.png" alt="Yearly Tuition Fees" width="60px;">
                                        <p class="text-center">Yearly Tuition Fees - 9,500 USD</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="margin-top: -28px">
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/approved_kalki.png" alt="Approved by" width="60px;">
                                        <p class="text-center">Approved by - WHO, NMC, UNESCO, etc.</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high  h4">
                                        <img src="assets/images/img/english-language_]kalki.png" alt="Medium of Education" width="60px;">
                                        <p class="text-center">Medium of Education - English</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/Ranking-min_kalki.png" alt="Country Ranking" width="60px;">
                                        <p class="text-center">Country Ranking - 17th (by 4ICU)</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-high h4">
                                        <img src="assets/images/img/location_kalki.png" alt="Location" width="60px;">
                                        <p class="text-center">Location - Moscow, Russia</p>
                                    </div>
                                </div>
                            </div>
                            <h3>Why Choose Peoples’ Friendship University of Russia?</h3>
                            <ul>
                                <li> Best choice to pursue low-cost MBBS program.</li>
                                <li> Programs are taught in the English language.</li>
                                <li> Hostel facility for foreign applicants.</li>
                                <li> Listed in the best Medical Colleges for Indian Students.&nbsp;</li>
                                <li> Offer ample of opportunities for quality education.</li>
                                <li> Chance to develop your language skills.</li>
                                <li> Laboratories and Scientific &amp; Research Centers are equipped with modern equipment</li>
                                <li> Beautiful campus surrounded by a park.</li>
                                <li> Start practicing in leading Russian and international companies.</li>
                            </ul>
                            <h3>Peoples’ Friendship University of Russia Ranking</h3>
                            <p>Candidates looking for the top-ranked universities in the country can find the <strong>Peoples’ Friendship University of Russia</strong> on the list. The University got the highest position in the list of <strong>top Medical Universities in Russia</strong>, the 4ICU has declared the ranking of the world universities in which the university has got 17th position in the country.</p>
                            <p>We have mentioned the <strong>Peoples’ Friendship University of Russia Ranking </strong>of last few years declared by QS World Ranking.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="text-center bg-blue">
                                                Peoples’ Friendship University of Russia Ranking
                                                <p></p>
                                                <p></p>
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>COUNTRY RANKING</p>
                                        </td>
                                        <td>
                                            <p>17th</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <img src="assets/images/img/Peoples-Friendship-ranking-info_kalki.png" alt="kalki software" width="100%">
                            <h2>Peoples Friendship University University of Russia Fee Structure</h2>
                            <p>The University fee is low for Indian students as compared to other foreign medical universities, here below we have mentioned the <strong>Peoples Friendship University University of Russia Fee Structure. </strong>Applicants are advised to check it before applying for admission here.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <h4 class="text-center bg-blue">Peoples’ Friendship University of Russia Fee Structure</h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td></td>
                                        <td>
                                            <p><strong>Tuition Fees (USD)</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Hostel Fees (USD)</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Other Charges (USD)</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Total (USD)</strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>1st Year</p>
                                        </td>
                                        <td>
                                            <p>9,500</p>
                                        </td>
                                        <td>
                                            <p>1,500</p>
                                        </td>
                                        <td>
                                            <p>1,700</p>
                                        </td>
                                        <td>
                                            <p>12,700</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>2nd to 6th Year</p>
                                        </td>
                                        <td>
                                            <p>9,500/yr</p>
                                        </td>
                                        <td>
                                            <p>1,500/yr</p>
                                        </td>
                                        <td>
                                            <p>-</p>
                                        </td>
                                        <td>
                                            <p>55,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <p><strong>Grand Total</strong></p>
                                        </td>
                                        <td>
                                            <p>67,700</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Peoples’ Friendship University of Russia Courses:</h3>
                            <p>The <strong>Peoples’ Friendship University of Russia Courses </strong>are available in multiple specializations of a medical program that take 6 years of time to complete. Indian students need to pay affordable tuition fees for the MBBS and other medical courses. We have mentioned all the courses below which are offered in the English language for international applicants.</p>
                            <div class="row text-center">
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="assets/images/img/pediatrician-min_kalki.png" alt="Pediatric" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Pediatric</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="assets/images/img/dentistry-min_kalki.png" alt="Dentistry" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Dentistry</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card1 h4">
                                        <img src="assets/images/img/pharmacy-min_kalki.png" alt="Pharmaceutical" width="60px;">
                                        <p class="text-center" style="margin-bottom:42px">Pharmaceutical</p>
                                    </div>
                                </div>
                            </div>

                            <h3>Peoples’ Friendship University of Russia Eligibility Criteria:</h3>
                            <p>Every year lots of candidates plan to <strong>study abroad</strong> and choose Russia as a favorite destination, they need to meet the admission criteria for entrance at <strong>top medical colleges in Russia</strong>. We have provided <strong>Peoples’ Friendship University of Russia Eligibility Criteria</strong> for applicants who want to apply here.</p>
                            <p>Applicants need to complete all the below criteria otherwise their admission application form will be rejected by the University.</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="text-center bg-blue">
                                                Peoples’ Friendship University of Russia Eligibility Criteria:
                                                <p></p>
                                                <p></p>
                                            </h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Exam</strong></p>
                                        </td>
                                        <td>
                                            <p><a href="#">NEET Qualified</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Academics</strong></p>
                                        </td>
                                        <td>
                                            <p>50% in 12th class with Physics, Biology, and Chemistry.&nbsp;</p>
                                            <p>40% marks required for reserved category candidates.</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Age</strong></p>
                                        </td>
                                        <td>
                                            <p>Minimum age required is 17, students completing 17 till 31 December of admission year are also eligible.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>Peoples’ Friendship University of Russia Admission Process:</h3>
                            <p>The University has announced an easy admission process for international candidates that they need to follow. Candidate’s first need to collect the list of all the important documents required during the process then they can apply easily. Applicants can also contact our abroad admission experts for more queries regarding the <strong>Peoples’ Friendship University of Russia Admission Process.</strong></p>
                            <h4>Required Documents:</h4>
                            <ul>
                                <li> 10th class Marksheet.</li>
                                <li> 12th class Marksheet.</li>
                                <li> NEET Scorecard</li>
                                <li> Original Passport.</li>
                                <li> Passport size Photographs</li>
                                <li> HIV Report</li>
                                <li> COVID-19 Report</li>
                            </ul>
                            <h4>Peoples’ Friendship University of Russia Hostel:</h4>
                            <p>The <strong>Peoples’ Friendship University of Russia Campus </strong>is in the South-West of Moscow, it is known as the “Greenest” university in the country because of its campus. There are 14 dormitory buildings available for medical students of the university, students can choose in which they are comfortable. Hostel rooms are available in single sharing and two-three sharing, each room are equipped with all needed facilities. We have mentioned below all the accommodations provided for international candidates at <strong>Peoples’ Friendship University of Russia Hostel.</strong></p>
                            <h4>Frequently Asked Question</h4>
                            <h5 style="color: #1877f2">Que. –Is Peoples Friendship University the best choice for the MBBS program?</h5>
                            <p><strong>Ans </strong>-<b>Yes</b>, the University is the best choice for pursuing the <strong>MBBS in Russia, </strong>it has world-class faculty that provide quality education in all the medical programs. Students also get international opportunities during the program.</p>
                            <h5 style="color: #1877f2">Que. –What are the advantages of the&nbsp;<strong>Peoples Friendship University University of Russia?</strong></h5>
                            <p><strong>Ans </strong>-</p>
                            <ul>
                                <li><font face="Verdana"> Multicultural environment.</font></li>
                                <li><font face="Verdana"> No IELTS/ TOEFL Exam is required (NEET Qualified is enough).</font></li>
                                <li><font face="Verdana"> International student’s community.</font></li>
                                <li><font face="Verdana"> Approved by the world’s medical community like WHO, NMC, etc.</font></li>
                                <li><font face="Verdana"> Low living cost.</font></li>
                                <li><font face="Verdana"> Comfortable hostel accommodations.</font></li>
                                <li><font face="Verdana"> Top-ranked <strong>medical university in Russia</strong>.</font></li>
                            </ul>
                            <h5 style="color: #1877f2">Que. –What are the fees of the MBBS program at the Peoples’ Friendship University of Russia?</h5>
                            <p><strong>Ans </strong>-The <strong>Peoples’ Friendship University of Russia Fees </strong>or<strong> RUDN University Fees&nbsp;</strong>is manageable for Indian applicants, MBBS program fee of the university is less as compared to other <strong><a href="https://www.neuronsedu.com/">MBBS Colleges in Abroad for Indian students</a>. </strong>According to the fee structure of the university foreign candidates need to pay 9,500 USD yearly.</p>
                            <h5 style="color: #1877f2">Que. –Is RUDN University offered a Hostel facility for international applicants?</h5>
                            <p><strong>Ans </strong>-<b>Yes</b>, students who came from outside Russia get hostel facilities with lots of accommodations. The University will offer AC rooms in single and multiple sharing availability, rooms are equipped with all the facilities like chair, bed, kitchen, etc.</p>
                            <h5 style="color: #1877f2">Que. – Is the Peoples’ Friendship University of Russia also known as RUDN University?</h5>
                            <p><strong>Ans – </strong><b>Yes</b>, the University’s full name is derived from the Russian name (Rossiiskii Universitet Druzhby Narodov), which is translated into English. The meaning of the name is Peoples’ Friendship University.</p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>