﻿@page
@model neuronsEdu.Pages.registrationModel
@{
}
<section class="text-center py-0">
    <div class="background-holder overlay overlay-1" style="background-image:url(assets/images/background-1.jpg);"></div>
    <!--/.background-holder-->
    <div class="container">
        <div class="row h-100vh align-items-center">
            <div class="col-md-9 col-lg-6 mx-auto" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div data-zanim='{"delay":0}'><a href="index.html"><img src="assets/images/logo-light.png" alt=""></a></div>
                <div class="background-white radius-secondary p-4 p-md-5 mt-5" data-zanim='{"delay":0.1}'>
                    <h4 class="text-uppercase fs-0 fs-md-1">Create your Neurons Education account</h4>
                    <form class="mt-4 text-left" method="post">
                        <div class="row align-items-center">
                            <div class="col-6"><input class="form-control" type="hidden" name="to" value="username@domain.extension"><input class="form-control" type="text" placeholder="First name" aria-label="Text input with dropdown button"></div>
                            <div class="col-6"><input class="form-control" type="text" placeholder="Last name" aria-label="Text input with dropdown button"></div>
                            <div class="col-12 mt-4"><input class="form-control" type="email" placeholder="Email Address" aria-label="Text input with dropdown button"></div>
                            <div class="col-12 mt-4"><input class="form-control" type="Password" placeholder="Password" aria-label="Text input with dropdown button"></div>
                            <div class="col-12 mt-4"><input class="form-control" type="Password" placeholder="Confirm Password" aria-label="Text input with dropdown button"></div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-md-6 mt-3"><label class="form-check-label"><input class="form-check-input" type="checkbox"><span class="color-7">I agree with the terms &amp; conditions</span></label></div>
                            <div class="col-md-6 mt-3"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>