﻿@page
@model neuronsEdu.Pages.servicesModel
@{
}
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Services</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-0 pr-lg-3"><img class="radius-secondary" src="assets/images/why-choose-us.jpg" alt="" /></div>
            <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0" data-zanim='{"delay":0}'>
                        <h5 class="fs-0 fs-lg-1"><span class="ion-chatbubble-working fs-2 mr-2 icon-position-fix fw-800"></span>We Are Professional</h5>
                        <p class="mt-3 px-lg-3">We resource, train, speak, mentor and encourage; marketplace leaders, business owners and career professionals to be effective in the workplace.</p>
                    </div>
                </div>
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.1}'>
                        <h5 class="fs-0 fs-lg-1"><span class="ion-android-color-palette fs-2 mr-2 icon-position-fix fw-800"></span>We Are Creative</h5>
                        <p class="mt-3 px-lg-3">With so many factors to consider when deciding how to characterize your company , wouldn’t it be great to have a group of forward-thinking, well-informed individuals on board who know what they’re doing?</p>
                    </div>
                </div>
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.2}'>
                        <h5 class="fs-0 fs-lg-1"><span class="ion-ios-timer fs-2 mr-2 icon-position-fix fw-600"></span>24/7 Great Support</h5>
                        <p class="mt-3 px-lg-3">Design clever and compelling marketing strategies, improve product positioning, and drive conversion rates, Neurons Education is all time available to guide you.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="fs-2 fs-md-3 fw-600">Industries</h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll">
            </div>
        </div>
        <div class="row no-gutters pos-relative mt-6">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/6.jpg);"></div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Business Consulting</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mt-3" data-zanim='{"delay":0.1}'>As one of the world’s largest accountancy networks, Neurons Education helps a diverse range of clients with a diverse range of needs.This is especially true of our Advisory Practice, which provides corporate finance and transaction services, business restructuring.</p>
                        </div>
                        <div class="overflow-hidden">
                            <div data-zanim='{"delay":0.2}'>
                                <a class="d-flex align-items-center" href="#">
                                    Learn More
                                    <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/7.jpg);"></div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Tax consulting</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mt-3" data-zanim='{"delay":0.1}'>Neurons Education serves clients across the country and around the world as they navigate an increasingly complex tax landscape. Our tax professionals draw on deep experience and industry-specific knowledge to deliver clients the insights and innovation they need.</p>
                        </div>
                        <div class="overflow-hidden">
                            <div data-zanim='{"delay":0.2}'>
                                <a class="d-flex align-items-center" href="#">
                                    Learn More
                                    <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0 radius-tl-lg-0 radius-bl-0 radius-bl-lg-secondary" style="background-image:url(assets/images/8.jpg);"></div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>Advisory</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mt-3" data-zanim='{"delay":0.1}'>To help you understand what this road looks like, we surveyed 1165 digital marketers across Europe and North America to explore current trends and priorities in digital marketing.</p>
                        </div>
                        <div class="overflow-hidden">
                            <div data-zanim='{"delay":0.2}'>
                                <a class="d-flex align-items-center" href="#">
                                    Learn More
                                    <div class="overflow-hidden ml-2"><span class="d-inline-block" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>&xrarr;</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-7">
            <div class="col-sm-6 col-lg-4 px-4 px-sm-3 text-lg-x" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'><span class="ion-card color-primary fs-2 icon-position-fix mr-3"></span>Special financing</h5>
                <p class="mt-3 pr-3 pr-lg-5 mb-0" data-zanim='{"delay":0.1}'>Apply for special financial support and earn exclusive rewards.</p>
            </div>
            <div class="col-sm-6 col-lg-4 px-4 px-sm-3 mt-4 mt-sm-0 text-lg-x" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'><span class="ion-chatbox-working color-primary mr-3"></span>Chat with team</h5>
                <p class="mt-3 pr-3 pr-lg-5 mb-0" data-zanim='{"delay":0.1}'>Have a question? Chat online with an expert. <a href="#">Start chatting<span class="fa fa-external-link ml-1 icon-position-fix"></span></a></p>
            </div>
            <div class="col-sm-6 col-lg-4 px-4 px-sm-3 mt-4 mt-lg-0 text-lg-x" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'><span class="ion-android-call color-primary mr-3"></span>Call a specialist</h5>
                <p class="mt-3 pr-3 pr-lg-5 mb-0" data-zanim='{"delay":0.1}'>Our 24/7 support team is ready for you at 1-800-MY-Neurons Education.</p>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class=" background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md">
                <h4 class="color-white mb-0">If you have any query related investment... <br class="d-md-none" />we are available 24/7</h4>
            </div>
            <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-white btn-capsule" href="contact.html">Contact Us</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class=" background-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme owl-dot-round" data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="assets/images/client1.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">Their work on our website and Internet marketing has made a significant different to our business. We’ve seen a 425% increase in quote requests from the website which has been pretty remarkable – but I’d always like to see more!</p>
                            <h6 class="fs-0 mb-1 mt-4">Michael Clarke</h6>
                            <p class="mb-0 color-7">CEO, A.E.T Institute</p>
                        </div>
                    </div>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="assets/images/client2.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">Writing case studies was a daunting task for us. We didn’t know where to begin or what questions to ask, and clients never seemed to follow through when we asked. Neurons Education team did everything – with almost no time or effort for me!</p>
                            <h6 class="fs-0 mb-1 mt-4">Maria Sharapova</h6>
                            <p class="mb-0 color-7">Managing Director, Themewagon Inc.</p>
                        </div>
                    </div>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto" src="assets/images/client3.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">As a sales gamification company, we were skeptical to work with a consultant to optimize our sales emails, but Neurons Education was highly recommended by many other Y-Combinator startups we knew. Neurons Education helped us run a ~6 week email campaign.</p>
                            <h6 class="fs-0 mb-1 mt-4">David Beckham</h6>
                            <p class="mb-0 color-7">Chairman, Harmony Corporation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-10 py-6">
    <div class="container">
        <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo2.png" alt="" data-zanim="{}" /></div>
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo1.png" alt="" data-zanim="{}" /></div>
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo6.png" alt="" data-zanim="{}" /></div>
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo3.png" alt="" data-zanim="{}" /></div>
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo5.png" alt="" data-zanim="{}" /></div>
            <div class="col-4 col-md-2 my-3 overflow-hidden"><img src="assets/images/partner/logo4.png" alt="" data-zanim="{}" /></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>