﻿@page
@model neuronsEdu.Pages.South_Kazakhstan_Medical_AcademyModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | South Kazakhstan Medical Academy</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/South_Kazakhstan_Medical_Academy.jpg" alt="MBBS IN ABROAD |  MBBS IN KAZAKHSTAN | South Kazakhstan Medical Academy">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>South Kazakhstan Medical Academy</h5>
                        <section>
                            <p>South Kazakhstan Medical Academy (SKMA) was founded in 1979. It was accredited and officially recognized by the Ministry of Education and Science of the Republic of Kazakhstan. The University has a modern infrastructure for education and research. It always creates a modern basis for research and development.SKMA Kazakhstan is a brilliant medical school, which aims to provide high-quality medical and pharmaceutical education to students at all levels. JSC-South Kazakhstan Medical Academy (SKMA) is one of the top higher educational institutions in Kazakhstan where medium of instruction is English. Our General Medicine Course duration is 5 years. South Kazakhstan Medical Academy (SKMA) was established in 1979. It is accredited and officially recognized by the Ministry of Education and Science of the Republic of Kazakhstan as well as MCI, WHO & IMED. The University has a modern infrastructure for educational and scientific activities. It always looks forward to developing a modern foundation to strengthen the material and technical resources for scientific research laboratories. SKMA is a brilliant medical school, which aims to offer high quality of medical and pharmaceutical education to the students at all levels. The teaching staff always tries to update and upgrade themselves to provide the best knowledge and skills to the students; to do so clinical activities are organized for the technological staff as well. The University organizes educational programs for the students to provide them with the environment for their professional growth and provide knowledge to them about the modern terms in the market.</p>
                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of Genral Medicine</P>
                            <P>&#9992; Faculty Of Pharmacy</P>
                            <P>&#9992; Faculty Of Nursing</P>
                            <P>&#9992; Aculty Of Public Health</P>
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/South_Kazakhstan_Medical_Academy_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>The University has a friendly and multi-culture environment. There are many clubs which are headed by students themselves and it organizes various cultural events.</p>
                        <p>In SKMA, the educational quality matches the international level. The students are offered to participate in various activities like seminars, conferences, projects etc to enhance their exposure towards modern developments of medicine world. The University fulfills the basic amenities necessary for the students to study in a convivial environment. The hostel is guarded round the clock and is under constant camera surveillance. There is a well-equipped library for the students.</p>

                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/South_Kazakhstan_Medical_Academy_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>