﻿@page
@model neuronsEdu.Pages.st_tereza_medical_universityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ARMENIA | St. Tereza Medical University Armenia</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/St_Tereza_Medical_University.png" alt="MBBS Abroad Consultant | Mbbs in Armenia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>St. Tereza Medical University</h5>
                        <section>
                            <p>One of the top Medical universities in Armenia, and popularly known as St. Tereza Medical University Armenia was founded in the year 1992. It is also called The Medical University After Saint Tereza or STMU Armenia. This university is a government-owned medical college that offers a 5 years classroom program excluding practical training.</p>
                            <p>To study MBBS in St. Tereza Medical University students have to complete the admission eligibility criteria of the university. There is no entrance test or any kind of other requirements that are important to get MBBS admission to St Tereza Medical University.</p>
                            <p>Once students completed the admission requirements then they need to proceed with St. Tereza Medical University Armenia Admission Process.  Eligibility criteria are Similar to other students, but For Indian medical Students, the <a href="#"><b>NEET UG exam</b></a><b> </b>is mandatory. As a student, you will never feel the language barrier in class as the medium will be English.</p>
                            <p>St Tereza Medical University Armenia Fee Structure is pretty affordable in comparison with other global medical universities. To study MBBS here you need to pay around USD 4500 yearly including registration fee, exam fee, Hostel fee, Mess fee, and other college-related fees.</p>
                            <hr />
                            <h5 class="text-center" style="padding: 10px; font-size: 25px;"><strong>St. Tereza Medical University Quick Glance</strong></h5>

                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay;margin-right: 15px;">
                                    <table id="customers">
                                        <tbody>
                                            <tr>
                                                <td><b>Established Year</b> </td>
                                                <td>1992 </td>
                                            </tr>
                                            <tr>
                                                <td><b>Full Name</b>  </td>
                                                <td> St Tereza Medical University Armenia </td>
                                            </tr>
                                            <tr>
                                                <td> <b>Approved From</b> </td>
                                                <td>

                                                    <ul>
                                                        <li>Medical Council of India</li>
                                                        <li>World Health Organization</li>
                                                        <li>Health and Education Ministry of Armenia</li>
                                                    </ul>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>  <b>Eligibility</b>  </td>
                                                <td> Age- 17+ years<br>Academics - 50% or above marks in 12th board exam </td>
                                            </tr>
                                            <tr>
                                                <td> <b>NEET</b> </td>
                                                <td> Compulsory for Indian Students  </td>
                                            </tr>
                                            <tr>
                                                <td>  <b>Official website</b>  </td>
                                                <td> <a href="https://must.am"> https://must.am</a> </td>
                                            </tr>
                                            <tr>
                                                <td> <b>Education Medium</b> </td>
                                                <td> English  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <h5><strong>Why Choose this University?</strong></h5>
                            <p>
                                <h5>&#9992; Standard Infrastructure</h5>
                            <p>The world standard infrastructure of this university provides each facility that students demand. From advanced technology for practical training to the experienced teaching team.</p>
                            <h5>&#9992; International Ranked University</h5>
                            <P>this university has a global image. Students from different corners of the world come here to study. </P>
                            <h5>&#9992; Worldwide Recognized University</h5>
                            <p>St. Tereza Medical University Armenia has approval from top medical organizations of the world. This approval allows students to work worldwide after MBBS in Armenia.</p>
                            <h5>&#9992; Ideal accommodation facility for boys and girls (Separate)</h5>
                            <P>the university has a well-furnished hostel that has separate accommodation arrangements for boys and girls students. The university administration has provided each facility and amenities for students.</P>
                            <h5>&#9992; International exposure and working opportunity</h5>
                            <P>Students after graduation from here are pursuing masters in different countries or doing jobs across the world.</P>
                            <h5>&#9992; Highly qualified and Experienced Professors</h5>
                            <p>The teaching team of this university are highly qualified and experienced in their particular subjects.</p>
                            <h5>&#9992; Practically oriented courses</h5>
                            <p>St Tereza Medical University Armenia MBBS Syllabus is designed in a way to provide practical oriented education. It will help in the long term for students.</p>
                            <h5>&#9992; Affordable Fee Structure</h5>
                            <p>The best part and reason to choose this university is the fee affordability. Her students can complete their studies in just USD 3500 yearly. The hostel fee is not included in this.</p>
                            <h5>&#9992; Classroom language will be the English language</h5>
                            <p>Place where students can understand each lesson as the classroom language will be English.</p>
                            <h5>&#9992; Ragging free campus</h5>
                            <p>The campus of this university is ragging free. Fresher students are supported by the senior students studying here in study or in another college-related issue.</p>
                            <h5>&#9992; Homely feeling</h5>
                            <p>There are many Indian students who are studying here already, so you will never feel away from home.</p>
                            <h5>&#9992; Indian Foods are available</h5>
                            <p>You can have Indian cuisine and other dishes in the university mess or in the cafeteria inside the university campus.</p><br />
                            <h5>St Tereza Medical University Armenia Ranking</h5>
                            <p>According to the college rating website 4ICU ranking, St Tereza Medical University Armenia Ranking is 37th at the country level and 12963rd at the country level. This ranking is based on worldwide reviews by ex-students and worldwide image. The university has a positive environment for a study that is praised worldwide. Students have to tick all eligibility to get admission in the MBBS course offered by STMU Armenia.</p><br />
                            <h5>St Tereza Medical University Armenia Fees 2021</h5>
                            <p>According to official information of St Tereza Medical University Armenia Fee Structure, students who are studying MBBS here or planning to get enrolled here have to pay USD 3500 per year as tuition Fee. This fee includes each fee related to study during <a href="#"><b>MBBS in Armenia</b></a>. Apart from this, if you wish to accommodate in university hostel then the fee will be paid separately.</p><br />
                            <p>St Tereza Medical University hostel fee is USD 1000 including mess Fee, Medical fee, and other important fees of the hostel. Apart from the above-mentioned fees, Medical insurance, pocket money will be managed separately from the student.</p>
                            <hr />
                            <div class="">
                                <div style="background: rgb(24, 119, 242) none repeat scroll 0% 0%;">
                                    <h5 class="text-center" style="padding: 10px; font-size: 25px;">
                                        <font face="Verdana" color="#FFFFFF">
                                            MBBS Fees Structure of  St. Teresa Medical University Armenia

                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="overflow: overlay;margin-right: 15px;margin-top:-20px;">
                                        <table id="customers">
                                            <thead>
                                                <tr>
                                                    <th scope="col" colspan="1" style="text-align: center;"><font color="#000000"><br> </th>
                                                    <th scope="col" colspan="1" style="text-align: center;"> Tuition Fees (USD) </th>
                                                    <th scope="col" colspan="1" style="text-align: center;"> Accommodation (USD) </th>
                                                    <th scope="col" colspan="1" style="text-align: center;"> Other Charges (USD) </th>
                                                    <th scope="col" colspan="1" style="text-align: center;"> Total (USD) </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="color:black">
                                                    <td> 1st Year </td>
                                                    <td> 3500  </td>
                                                    <td> 1000  </td>
                                                    <td> 1500  </td>
                                                    <td> 6000  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h5>St Tereza Medical University Armenia MBBS Course</h5>
                            <p style="text-align: justify;"> MBBS is the most popular study program under the St. Tereza Medical University Armenia course. The duration of the course is pre-define which is 5 years and admission is invited on the basis of admission eligibility criteria. 5 years of study program includes classroom programs and practical training in the laboratory.  </p>
                            <h5>St Tereza Medical University Armenia Eligibility</h5>
                            <hr />
                            <div class="row">
                                <div class="col-lg-12" style="overflow: overlay;margin-right: 15px;">
                                    <table id="customers">
                                        <tbody>
                                            <tr style="color:black">
                                                <td> <b>Age</b> </td>
                                                <td> Applicant should be at least 17 years old at the time of application </td>
                                            </tr>
                                            <tr style="color:black">
                                                <td>  <b>Academic qualification</b>  </td>
                                                <td> 50% or above marks should be obtained in 12th board exam from a valid exam board like CBSE, ICSE, or state board, before getting admission in MBBS Course required to get. Biology should be as the main subject. </td>
                                            </tr>
                                            <tr style="color:black">
                                                <td> <b>NEET</b> </td>
                                                <td>

                                                    The Medical Council of India has made it mandatory to qualify for the NEET UG exam before applying for MBBS in India or MBBS in Abroad.

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <h5>Admission Process for St Tereza Medical University</h5>
                            <p align="justify"> Plans to study MBBS abroad? Then you can check the St Tereza Medical University information. Also, You can connect with our expert counselors to get more info on MBBS Admission in Armenia by <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal2">clicking here</a>. </p>
                            <h5>Documents required for St. Tereza Medical University</h5>
                            <ul style="color:#ff0000">
                                <P>&#9992; 10th Mark sheets</P>
                                <P>&#9992; 12th Mark sheets</P>
                                <P>&#9992; Birth Certificate</P>
                                <P>&#9992; Medical Certificate</P>
                                <P>&#9992; Passport size Photo</P>
                                <P>&#9992; Neet Scorecard</P>
                                <P>&#9992; valid Passport</P>
                                <P>&#9992; Admission invitation letter</P>
                                <P>&#9992; Fee Payment Receipt</P>
                                <P>&#9992;Medical Report</P>
                            </ul>
                            <h5>Hostel and Accommodation in St. Tereza Medical University</h5>
                            <p style="text-align: justify;">
                                Students can accommodate in the university hostel which is inside the university campus situated just 5 mins walking distance away from the academics block. A well-furnished room, with air-condition and attached washroom, will be shared with 1 or two other students. It depends upon your budget and preferences.
                            </p>
                            <p style="text-align: justify;">
                                Mess Of the university offers multi-cuisine that includes Indian food also. Seniors of this college are supportive and Also, some of the Indian Students are studying here so you will get psychological Home country experience.
                            </p>
                            <!-- <h5>St. Tereza Medical University FAQs</h5>
                             <p style="text-align: justify;">
                             <h6>Q. After studying MBBS in STMU Armenia can I practice in India? If yes then what is the procedure?</h6> </p>
                                  <p><h6><b>Answer-</b> You can practice in India after studying MBBS here. You have to get a practice license in India and for this, you have to pass the Screening Test conducted by the Medical Council of India.</h6></p>
                             <p><h6>Q. How to pursue MD MS in India after MBBS in STMU Armenia?</h6></p>

                             <p> <h6><b>Answer-</b> Applicants have to pass the NEET PG exam to pursue an MD MS course in India.</h6> </p>-->
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/st.tereza-student-life4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>   The university offers all modern amenities to its students. Due to this one reason international students coming to the university have increased significantly over time. The university has all basic facilities like library, hostel, mess, laboratories, well-equipped classrooms etc. for the students other than having all modern amenities.</p>
                        <section class="color-5 pt-0">

                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/St_tereza-city4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>