﻿@page
@model neuronsEdu.Pages.Tbilisi_State_Medical_UniversityModel
@{
}
<section class="background-10 ">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12 mb-2">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD |  MBBS IN GEORGIA | Tbilisi State Medical University</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Tbilisi_State_Medical_University.jpg" alt="MBBS Abroad Consultant | Mbbs in Georgia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Tbilisi State Medical University</h5>
                        <section>
                            <p>The Tbilisi State Medical University (TSMU) is approved by MCI and is one of the top Medical colleges in Georgia. Tbilisi State Medical University is the 90-year-old medical university of Georgia. It is one of the academic and scientific institutions in the whole of Caucasus regions. Tbilisi state Medical University has become one of the high-ranking state-supported institutions of higher education in the whole of Eastern Europe. Although the people in Georgia have their own language the university follows English medium for its overseas students. Tbilisi medical college is known for its quality education and experience among the huge list of MCI approved medical colleges in Georgia.</p>
                            <p>The university is 8th ranked among the higher-education institution in Georgia. Every year large number of students take admission in the university; presently there are around 7000+ undergraduate and 3000 post graduates in which almost 25% are foreign students.</p>
                            <p>The University provides a wide range of diplomatic, graduate and post-graduate courses with worldwide recognized degrees. The university also offers opportunities for self-development to equip knowledge and skills necessary. It focuses on continuous improvement in teaching, learning, and research & management quality. It has modern infrastructure and healthy environment which promotes learning, development and active participation of students.</p>
                            <hr />

                            <h5>Faculties</h5>
                            <P>&#9992; Faculty of Medicine</P>
                            <P>&#9992; Faculty of Pharmacy</P>
                            <P>&#9992; Faculty of Dentistry</P>
                            <P>&#9992; Faculty of Healing</P>
                            <P>&#9992; Faculty of Public Health</P>
                            <P>&#9992; Faculty of Physical Medicine and Rehabilitation</P>
                            <P>&#9992; Faculty of Nursing</P>
                        </section>
                        <section class="color-5 pt-0">

                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/Syudents_Life/Tbilisi_State_Medical_University_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <p>The University encourages the students to participate in extracurricular activities for their enhancing their exposure and build an accomplished personality. It has many clubs and organizations like - sports club, cultural club, art center etc. It also offers student exchange programs and projects. The university tries to offer all the possibilities that will help students to develop their potential and relish their experience.</p>
                        <section class="color-5 pt-0">

                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="assets/images/MBBS/City_Glance/Tbilisi_State_Medical_University_City_4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>