﻿@page
@model neuronsEdu.Pages.university_perpatual_help_systemModel
@{
}
<section class="background-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h4 data-zanim='{"delay":0.1}'>  University of Perpetual Help System Dalta(UPHSD) - MBBS Admission Abroad</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/img/UNIVERSITY-OF-PERPETUAL-HELP-SYSTEM-DALTA_kalki.jpg" alt="MBBS Abroad Consultant">
                    </div>
                    <div class="col-12">
                        <section>
                            <p align="justify">The <strong>University of Perpetual</strong><strong>Help System Dalta</strong> Las Pinas, is a private and <strong>low-cost medical university of the Philippines</strong>. It was established in the year 1975 and gained popularity as one of the ideal institutions to <strong><a href="#">study MBBS in Philippines</a></strong>. It provides academic excellence as well as World-standard Professionals to learn.</p>
                            <p align="justify">Choosing <strong>MBBS in Philippines</strong> option is good for those Indian Medical students, who want to study in a well-named medical institution at low cost. The University of Perpetual Help System Dalta is approved by CHED, Philippines, WHO,MCI or NMC, and other reputed medical bodies.</p>
                            <h3>Key points</h3>
                            <ul class="ulweb">
                                <li> &nbsp;First and biggest university in Las Pinas</li>
                                <li>&nbsp;24,000 students, including foreign aspirants</li>
                                <li>&nbsp;1500 teaching and non-teaching professionals</li>
                                <li>&nbsp;3 campuses of the university</li>
                                <li>&nbsp;Founded year- 1975 </li>
                                <li>&nbsp;Country Ranking – 60th </li>
                                <li>&nbsp;Basic Eligibility - 50% marks in 12th board </li>
                                <li>&nbsp;NEET Exam - Mandatory for Indian Students </li>
                                <li>&nbsp;Curriculum Medium- English Language </li>
                                <li>&nbsp;Yearly Tuition Fee- PHP 450,000 </li>
                            </ul>

                            <h3>Why Choose University of Perpetual Philippines?</h3>
                            <ul class="ulweb">
                                <li>&nbsp;Well educated and graduates faculty.</li>
                                <li>&nbsp;Low cost and budget friendly fees</li>
                                <li>&nbsp;MCI/NMC approved medical university in Philippines</li>
                                <li>&nbsp;Masters and doctoral degrees available in education, epidemiology, and the social sciences.</li>
                                <li>&nbsp;Library, hostel facilities, laboratories and other research facilities</li>
                                <li>&nbsp;Review classes available for the Medical Exams.</li>
                                <li>&nbsp;A Mentoring program is available for students on a regular interval</li>
                                <li>&nbsp;An internship program is available at the University.</li>
                                <li>&nbsp;Best working offers are provided at UPHDMC for a medical graduate.</li>
                            </ul>
                            <h3>University of Perpetual Ranking</h3>
                            <p align="justify">UPHSD is a non-profit private medical college in Philippines. The university successfully comes in the ranking of <strong>top medical colleges in Philippines</strong>. It offers courses and programs in bachelor's degrees, master's degrees, and doctorate degrees in several areas of study. Below we provided the <strong>University of Perpetual Help System Dalta Ranking</strong>:</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="12">
                                            <h4 class="text-center bg-blue">University of Perpetual Ranking</h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>In Philippines</p>
                                        </td>
                                        <td>
                                            <p>60th</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3>University of Perpetual Fee structure</h3>
                            <p align="justify">The below mentioned table of <strong>University of Perpetual Fee Structure </strong>has complete information about the tuition fee and other important fees. UPHSD is well known for its low tuition fee for the MBBS course. Also, students are advised that they keep payment receipts safe to them for future.</p>
                            <h3>University of Perpetual Help System Dalta Fees Structure 2021</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="12">
                                            <h4 class="text-center bg-blue">University of Perpetual Fee structure</h4>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Program</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Tuition &amp; Other Fees(PHP)</strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>Premed Course-AB Psycho(3 Semesters + 1 Summer)</strong></p>
                                        </td>
                                        <td>
                                            <p>450,000.00</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>MD (1yr)</strong></p>
                                        </td>
                                        <td>
                                            <p>450,000.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>MD (2yr)</strong></p>
                                        </td>
                                        <td>
                                            <p>250,000.00</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>MD (3yr)</strong></p>
                                        </td>
                                        <td>
                                            <p>200,000.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>MD (4yr)</strong></p>
                                        </td>
                                        <td>
                                            <p>200,000.00</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p><strong>Total (PHP)</strong></p>
                                        </td>
                                        <td>
                                            <p>1,550,000.00</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <!--<h3>University of Perpetual Courses</h3>
                            <p align="justify">UPHSD is one of the top rated colleges to <strong>study MBBS in Philippines</strong><strong>for Indian students</strong>. More than 3 to 4 courses will be offered to the students. The university offered courses like. <strong>University of Perpetual Help System DALTA Courses</strong> offered are listed below and students can apply to experience low-cost MBBS courses.</p>
                            <div class="row text-center">
                                <div class="col-lg-3">
                                    <div class="card h4">
                                        <img src="uploads/img/icon/medicine-min.png" alt="Lviv National Medical University General Medicine" width="60px;">
                                        <p class="text-center">General Medicine</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card h4">
                                        <img src="uploads/img/icon/dentistry-min.png" alt="Lviv National Medical University Preparatory course" width="60px;">
                                        <p class="text-center">Dentistry</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card h4">
                                        <img src="uploads/img/icon/pharmacy-min.png" alt="Lviv National Medical University Pharmacy" width="60px;">
                                        <p class="text-center">Pharmacy</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card h4">
                                        <img src="uploads/img/icon/nurse.png" alt="Lviv National Medical University Dentistry" width="60px;">
                                        <p class="text-center">Nursing</p>
                                    </div>
                                </div>
                            </div>-->
                            <h3>University of Perpetual Eligibility Criteria</h3>
                            <p align="justify">The institution does not conduct any specific entrance exam. Students have to pass the <strong>University of Perpetual Eligibility Criteria </strong>mentioned below. Apart from this, it is compulsory that Indian aspirants pass the <b><a href="#">National Eligibility cum Entrance Test</a></b> in India before applying for this.</p>
                            <table class="table">
                                <tbody>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>Age Limit</p>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Only 17 or more year aspirants are eligible for Study.&nbsp;</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Academics Qualification</p>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>50% marks in 12th board exam is compulsory. 40% marks for reserve category students.&nbsp;</li>
                                                <li>Physics, Biology and chemistry should be main subjects</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr style="background: #f2f2f2;">
                                        <td>
                                            <p>NEET Exam</p>
                                        </td>
                                        <td>
                                            <p>Mandatory for Medical aspirants of India</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3><strong>University of Perpetual Admission Process</strong></h3>
                            <p align="justify">There are lots of <strong><a href="#">MCI/NMC approved medical colleges in Philippines</a> </strong>and this college is one of them. Students should have complete detail about <strong>University of perpetual admission process.</strong> They can <strong><a href="javascript:void(0)" class="" data-toggle="modal" data-target="#myModal2">contact</a></strong> our admission experts to get direct admission.</p>
                            <h3>Important Documents</h3>
                            <ul class="ulweb">
                                <li> &nbsp;10th Marksheet&nbsp;</li>
                                <li> &nbsp;12th Marksheet&nbsp;</li>
                                <li> &nbsp;NEET Scorecard&nbsp;</li>
                                <li> &nbsp;Birth Certificate&nbsp;</li>
                                <li> &nbsp;Passport size photo with visa format&nbsp;</li>
                                <li> &nbsp;Medical Report&nbsp;</li>
                                <li> &nbsp;Bank statement&nbsp;</li>
                            </ul>
                            <h3>University of Perpetual Hostel</h3>
                            <p align="justify">The hostel facilities of the universities are above average arrangements. The hostels have furnished and unfurnished options of rooms. The hostel management will offer required furniture. CCTV cameras installed throughout the campus for students' security. <strong>University of Perpetual Help System Dalta Hostel Life</strong> is the most important phase for foreign country students.</p>
                            <ul>
                                <li>On-campus accommodation</li>
                                <li>Canteen</li>
                                <li>Indian food</li>
                                <li>Wi-Fi connectivity</li>
                                <li>Power backup</li>
                                <li>Health facilities</li>
                                <li>Sports facilities</li>
                                <li>ATM</li>
                                <li>Nearby market</li>
                            </ul>
                            <h3>Frequently Asked Questions</h3>
                            <h5 style="color: #1877f2">Que. – Is FMGE exam mandatory for Indian students after MBBS in the Philippines?</h5>
                            <p align="justify"><strong>Ans</strong> – The <b><a href="#">Foreign Medical Graduate Exam</a></b> is compulsory for those students who want to work in India after studying MBBS in Philippines. The National Board of Examination conducts this exam two times in a year and students can crack this exam with good preparations </p>
                            <h5 style="color: #1877f2">Que. – What are the advantages to study MBBS in UPHSD?</h5>
                            <p align="justify"><strong>Ans</strong> – There are several top benefits while studying MBBS here. Class rooms are spacious, english medium study, library, laboratories, standard hostel for housing, internationally accepted medical degree and the affordable fee. Apart from this, other information you will get by getting in touch.</p>
                            <h5 style="color: #1877f2">Que. – Is UPHSD hostels facilities standard and accessible to all students? </h5>
                            <p align="justify"><strong>Ans</strong> – There are triple and double occupancy rooms available for students to live. They have to inform the hostel administration about booking the room just after successful admission. Security, sports and other fun activities are available there to provide students fun.</p>
                            <h5 style="color: #1877f2">Que. – Is NEET mandatory for admission in UPHSD?</h5>
                            <p align="justify"><strong>Ans</strong> – As an Indian student, you have to pass the National eligibility cum entrance test to be eligible for admission in the MBBS course. However, there are a few more requirements that are mandatory to complete. Apart from NEET, no exam is compulsory.</p>
                            <h5 style="color: #1877f2">Que. – What if I fail the NMAT Exam?</h5>
                            <p align="justify"><strong>Ans</strong> – You will be promoted in next year but the degree will be offered to you in one and only condition that you get passing marks in <b><a href="#">NMAT Exam</a></b>. This exam is mandatory after one and half year of the admission. Students will get detailed information about the exam by clicking here. Also, you get preparation tips regarding the same. </p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center ml-auto mt-5 mt-lg-0">
                <div class="row">
                    <div class="col">
                        <div class="background-facebook p-5 radius-secondary">
                            <form class="mt-4 text-left" method="post">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="hidden"
                                               name="to"
                                               value="username@domain.extension" />
                                        <input class="form-control"
                                               type="text"
                                               placeholder="First name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="Last name"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="email"
                                               placeholder="Email Address"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                    <div class="col-12 mt-4">
                                        <input class="form-control"
                                               type="Password"
                                               placeholder="Confirm Password"
                                               aria-label="Text input with dropdown button" />
                                    </div>
                                </div>
                                <div class="row align-items-center mt-3">

                                    <div class="col-md-12 mt-3">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Create Account
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>