﻿@page
@model neuronsEdu.Pages.Yerevan_Haybusak_Medical_UniversityModel
@{
}
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>About</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="Neurons Education-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url(assets/images/MBBS/Armenia/Armeniya.jpg);">
                </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h3 class="color-primary">MBBS IN ARMENIA</h3>
                        </div>
                        <div class="overflow-hidden">
                            <p class="color-primary">Mode of Instruction -<h5 class="color-danger"> English</h5></p>
                            <p class="color-primary">Course Duration -<h5 class="color-danger"> 6 Years</h5> </p>
                            <p class="color-primary">NEET - <h5 class="color-danger"> Mandatory</h5> </p>
                            <p class="color-primary">Score - <h5 class="color-danger"> 12th with 55% (PCBE)</h5></p>
                            <p>
                                Student Age - <h5 class="color-danger">17 Years to 25 Years</h5>
                                <br />
                            <p>
                                <a href="#" class="btn btn-primary ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-whatsapp">+91 995 089 6262</a>
                                <a class="btn btn-success ml-2 mb-0 fs--1 d-inline color-white fw-700 fa fa-phone" href="tel:995-089-6262"> +91 995 089 6262</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                    <h5>MBBS IN ARMENIA</h5>
                    <p class="column-lg-2 dropcap"><b>MBBS in Armenia</b> is considered one of the topmost options for medical aspirants. The prime factor behind that is the low educational fee structure for MBBS in Armenia in the world with a high quality of medical education provided by the universities of the country. The medical education of the country has gained fame because of the friendly environment that the country offers and the support which the students get in the medical schools and secondly and more importantly the excellent infrastructure facilities which the students get in the universities. The medical universities of Armenia offer a multi-cultural and multi-ethnic environment and the students get to study with students from all over the world as because of a high-quality educational environment, global acceptance of medical degree, associations, and recognition from renowned world bodies, students not just from Armenia but from all over the world come to study in the country. Armenia offers the medical program as MD which is equivalent to MBBS in India. Universities of Armenia are listed in the World Directory of Medical Schools by World Health Organization and recognized by the Medical Council of India.</p>
                    <h5>STUDY MBBS IN ARMENIA</h5>
                    <p class="mt-3"><b>Study MBBS in Armenia</b>can be the best alternative for Indian aspirants. The majority of students who study MBBS in Armenia are Indian nationals and because of that the new students who are going to study at Armenian MBBS University, do not feel alone as the other Indian students make them comfortable. Indian students get everything that they wish for in their medicinal college. Low MBBS course charge, great clinical introduction, quality medicinal instruction, present-day framework, well-prepared research centers pull in a large number of students to do MBBS in this country. A student needs to attempt no entrance test so as to get admission in top medicinal colleges in this country. The admission system for Armenian colleges is very simple and straightforward.</p>
                    <h5>STUDY MBBS IN ARMENIA</h5>
                    <p Class="mt-3">&#9992; MBBS in Armenia requires a candidate to be.</p>
                    <p Class="mt-3">&#9992; Armenia requires a candidate.</p>
                    <p Class="mt-3">&#9992; Minimum 17 years of age on 31st Dec in the year of admission.</p>
                    <p Class="mt-3">&#9992; Must have obtained a minimum of 55% in Physics, Chemistry, and Biology on 10+2 (40% for other categories).</p>
                    <p Class="mt-3">&#9992; English must have been a compulsory subject in 10+2.</p>
                    <p Class="mt-3">&#9992; Must be NEET qualified.</p>

                    <h5>COST OF STUDYING AND LIVING IN ARMENIA</h5>
                    <p class="mt-3">The most extreme expenses for considering MBBS in Armenia is 2500 USD and the least of 4000 USD every year. The living expenses in Armenia are around 100 USD every month. They will get appropriate direction from the accomplished staff members. In this manner, the quantity of medical applicants in Armenia is expanding step by step. MBBS expenses in Armenia are additionally sensible for medical students. The students don't have to pay an enormous measure of cash as just a gift. At the point when it is a matter of expectation for everyday comforts and significant serenity at that point no uncertainty Armenia is the best alternative. There is an appeal for MBBS courses offered by the Universities of Armenia. Consistently various students arrive from everywhere throughout the world for having better education with MBBS study. The characteristics of Armenia make it well known and alluring enough to bring an enormous number of students.</p>

                    <h5>WHY MBBS IN ARMENIA</h5>
                    <p>Some key points to be highlighted are -</p>
                    <p Class="mt-3">&#9992; NMC/WHO-approved universities.</p>
                    <p Class="mt-3">&#9992; English medium curriculum.</p>
                    <p Class="mt-3">&#9992; Mode of Instruction in English.</p>
                    <p Class="mt-3">&#9992; 6 years course.</p>
                    <p Class="mt-3">&#9992; No entrance exam.</p>
                    <p Class="mt-3">&#9992; No requirement for IELTS/TOEFL.</p>
                    <p Class="mt-3">&#9992; No Donation or capitation fee.</p>
                    <p Class="mt-3">&#9992; Low tuition fee.</p>
                    <p Class="mt-3">&#9992; Affordable living costs.</p>
                    <p Class="mt-3">&#9992; Easy Admission Procedure.</p>
                    <p Class="mt-3">&#9992; Safe country and good exposure.</p>

                    <blockquote class="blockquote my-5 ml-lg-6" style="max-width: 700px;">
                        <h5 class="fw-500 ml-3 mb-0">You are always welcome to Neurons Educational Services!</h5>
                    </blockquote>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>