﻿@page
@model neuronsEdu.Pages.yerevan_haybusak_universityModel
@{
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<section class="background-10">
    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h3 data-zanim='{"delay":0.1}'>MBBS IN ABROAD | MBBS IN ARMENIA | Yerevan Hybusak Medical University</h3>
                    <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/MBBS/Haybusak_University_Yerevan.jpg" alt="MBBS Abroad Consultant | Mbbs in Armenia">
                    </div>
                    <div class="background-white px-3 mt-6 px-0 py-5 px-lg-5 radius-secondary">
                        <h5>Yerevan Hybusak Medical University</h5>
                        <section class="color-5 pt-0">
                            <p>Yerevan “Haybusak University” has been founded in 1990. The first rector and founder of the university was Doctor of Biology, Professor L.V. Harutyunyan whose progressive ideas about modern higher education underlay the activity of Higher Educational Institution. Being an outstanding scientist and pedagogue, L. Harutyunyan could unify the best minds of science and academic pedagogy, and very soon “Haybusak” occupied leading positions not only in higher education but also became a founder of many new principles of the modern higher school of Armenia.</p>
                            <p>“Haybusak” received a new state license of the Ministry of Education of RA in 1991, state license of the Ministry of Health in 1993 in the field of medical, economic and technological higher education. The University has wide international relations with foreign Higher Educational Institutions and cultural-educational organizations. The base school of the University is an associated member of UNESCO.</p>
                            <div>
                                <hr />
                                <h5>Faculties</h5>
                                <P>&#9992; Faculty of Medicine</P>
                                <P>&#9992; Faculty of International Relations</P>
                                <P>&#9992; Faculty of Design</P>
                                <P>&#9992; Faculty of Economics</P>
                                <P>&#9992; Faculty of Humanities</P>
                                <P>&#9992; Faculty of Law</P>
                                <P>&#9992; Faculty of MBBS ( for Indian Students)</P>
                            </div>
                            <h5>Students Life</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak3.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/Syudents_Life/Student-Life-haybusak4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />

                        <p>The students at Yerevan Haybusak University experience a colourful cultural life. They get the chance to meet and interact with students coming from all corners of the country thus providing them knowledge about various cultures. The university celebrates all prominent festivals of the world to make sure the students do not miss the feeling of their homes.</p>

                        <section class="color-5 pt-0">
                            <h5>City At A Glance</h5>
                            <div class="container">
                                <div class="owl-carousel owl-theme owl-nav-outer owl-dot-round mt-4" data-options='{"items":3}'>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city4.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city1.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city2.jpg">
                                    </div>
                                    <div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city3.jpg">
                                    </div><div class="item mx-2">
                                        <img class="radius-secondary" src="~/assets/images/MBBS/City_Glance/haybusak-city4.jpg">
                                    </div>
                                </div>
                            </div>

                        </section> <br />
                        <ul class="navbar-nav ml-lg-auto">
                            <li><button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" style="width:400px">Need Advice? Talk To Our Experts</button></li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>